<p> 
<p>AVENGERS DECK 4
 
<p>A004-001: Lors de la préparation d'un alcool selon une réaction de substitution, les substrats primaires nécessiteront des conditions SN2, tandis que les substrats tertiaires nécessiteront des conditions SN1.
 
<p>A004-002: Lors de la préparation d'un alcool selon une réaction de substitution, les substrats primaires nécessiteront des conditions SN1, tandis que les substrats tertiaires nécessiteront des conditions SN2.
 
<p>A004-003: Les réactions d’addition qui produisent des alcools incluent l’hydratation acido-catalysée, l’oxymercuration-démercuration, et l’hydroboration-oxydation. 
 
<p>A004-004: Les réactions d’addition qui produisent des alcools incluent l’hydratation baso-catalysée, l’oxymercuration-démercuration, et l’hydroboration-oxydation. 
 
<p>A004-005: Les alcools peuvent se former en traitant un groupement carbonyle (liaison C=O) avec un agent réducteur. La réaction résultante implique une diminution du degré d’oxydation. Elle est appelée réduction.
 
<p>A004-006: Les alcools peuvent se former en traitant un groupement carbonyle (liaison C=O) avec un agent réducteur. La réaction résultante implique une augmentation du degré d’oxydation. Elle est appelée réduction.
 
<p>A004-007: LAH est plus réactif que NaBH<sub>4</sub>. LAH réduit les acides carboxyliques et les esters contrairement à NaBH<sub>4</sub>.
 
<p>A004-008: NaBH<sub>4</sub> est plus réactif que LAH. NaBH<sub>4</sub> réduit les acides carboxyliques et les esters contrairement à LAH.
 
<p>A004-009: Les diols sont des composés avec deux groupements hydroxyles.
 
<p>A004-010: Les triols sont des composés avec deux groupements hydroxyles.
 
<p>A004-011: Les diols peuvent être obtenus à partir de dicétones via une réduction par un agent réducteur.
<p> 
<p>A004-012: Les diols peuvent être obtenus à partir de dicétones via une oxydation par un agent oxydant.
<p> 
<p>A004-013: Les diols peuvent également être préparés par syn dihydroxylation ou anti dihydroxylation d’un alcène.
<p> 
<p>A004-014: Les diols peuvent également être préparés par syn dihydroxylation ou anti dihydroxylation d’un alcyne.
<p> 
<p>A004-015: Les réactifs de Grignard sont des nucléophiles carbonés capables d’attaquer une large gamme d’électrophiles, incluant le groupement carbonyle des cétones ou des aldéhydes, pour former un alcool.
 
<p>A004-016: Les réactifs de Grignard sont des nucléophiles carbonés capables d’attaquer une large gamme de nucléophiles, incluant le groupement carbonyle des cétones ou des aldéhydes, pour former un alcool.
 
<p>A004-017: Les réactifs de Grignard réagissent également avec des esters pour former des alcools avec introduction de deux groupements R.
 
<p>A004-018: Les réactifs de Grignard réagissent également avec des cétones pour former des alcools avec introduction de un groupements R.
 
<p>A004-019: Les alcools tertiaires subissent une réaction SN1 lorsqu’ils sont traités avec un halogénure d’hydrogène. 
 
<p>A004-020: Les alcools tertiaires subissent une réaction SN2 lorsqu’ils sont traités avec un halogénure d’hydrogène. 
 
<p>A004-021: Les alcools primaires et secondaires subissent un processus SN2 lorsqu’ils sont traités avec HX, SOCl<sub>2</sub> ou PBr<sub>3</sub> ou lorsque le groupement hydroxyle est converti en groupement tosylate suivi d’une attaque nucléophile.
 
<p>A004-022: Les alcools primaires et secondaires subissent un processus SN1 lorsqu’ils sont traités avec HX, SOCl<sub>2</sub> ou PBr<sub>3</sub> ou lorsque le groupement hydroxyle est converti en groupement tosylate suivi d’une attaque nucléophile.
 
<p>A004-023: Les alcools tertiaires subissent une élimination E1 lorsqu’ils sont traités avec de l’acide sulfurique.
 
<p>A004-024: Les alcools tertiaires subissent une élimination E2 lorsqu’ils sont traités avec de l’acide sulfurique.
 
<p>A004-025: Pour un processus E2, les groupements hydroxyles sont d’abord convertis en tosylate ou en halogénure d’alkyle.
 
<p>A004-026: Pour un processus E2, les groupements hydroxyles sont d’abord convertis en tosylate ou en halogénure d’acyle.
 
<p>A004-027: Les alcools primaires peuvent subir deux oxydations successives pour donner un acide carboxylique.
 
<p>A004-028: Les alcools secondaires peuvent subir deux oxydations successives pour donner un acide carboxylique.
 
<p>A004-029: Les alcools secondaires ne sont oxydés qu’une fois pour donner une cétone.
 
<p>A004-030: Les alcools tertiaires ne sont oxydés qu’une fois pour donner une cétone.
 
<p>A004-031: Les alcools tertiaires ne peuvent subir une oxydation.
 
<p>A004-032: Les alcools tertiaires peuvent subir une oxydation pour donner des esters.
 
<p>A004-033: L’oxydant le plus courant est l’acide chromique (H<sub>2</sub>CrO<sub>4</sub>) qui peut être préparé à partir de trioxyde de chrome (CrO<sub>3</sub>) ou de dichromate de sodium (Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) en solution aqueuse acide.
<p> 
<p>A004-034: L’oxydant le plus courant est l’acide chromique (H<sub>2</sub>CrO<sub>4</sub>) qui peut être préparé à partir de trioxyde de chrome (CrO<sub>3</sub>) ou de dichromate de sodium (Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) en solution aqueuse basique.
<p> 
<p>A004-035: PCC est utilisé pour convertir un alcool primaire en aldéhyde.
<p> 
<p>A004-036: PCC est utilisé pour convertir un alcool primaire en acide carboxylique.
<p> 
<p>A004-037: Les phénols peuvent subir une oxydation en quinones.
 
<p>A004-038: Les phénols peuvent subir une réduction en quinones.
 
<p>A004-039: Une base forte peut être utilisée pour déprotoner un alcool. L’hydrure de sodium (NaH) est une base habituellement utilisée.
 
<p>A004-040: Une base forte peut être utilisée pour déprotoner un alcool. L’hydroxyde de sodium (NaOH) est une base habituellement utilisée.
<p> 
<p>A004-041: Li, Na ou K réagissent avec un alcool pour libérer du gaz dihydrogène, et produisent un ion alcoolate.
<p> 
<p>A004-042: Li, Na ou K réagissent avec un alcool pour libérer du gaz dihydrogène, et produisent un ion phénolate.
<p> 
<p>A004-043: Les alcools peuvent être préparés par des réactions de substitution dans lesquelles un groupement partant est remplacé par un groupement hydroxyle.
<p> 
<p>A004-044: Les alcools peuvent être préparés par des réactions de substitution aromatiques dans lesquelles un groupement partant est remplacé par un groupement hydroxyle.
<p> 
<p>A004-045: L’hydrure d’aluminium lithium est un réactif puissant. Il réagit violemment avec l’eau et par conséquent, un solvant protique ne peut être présent en même temps que LAH dans le ballon de réaction.
 
<p>A004-046: L’hydrure d’aluminium lithium est un réactif faible. Il réagit lentement avec l’eau et par conséquent, un solvant protique peut être présent en même temps que LAH dans le ballon de réaction.
 
<p>A004-047: NaBH<sub>4</sub> and LAH peuvent réduire les cétones et les aldéhydes. Ces agents délivrant des hydrures présentent un avantage important par rapport à l’hydrogénation catalytique dans la mesure où ils peuvent réduire un groupement carbonyle en présence d’une liaison C=C.
 
<p>A004-048: NaBH<sub>4</sub> and LAH peuvent réduire les cétones et les aldéhydes. Ces agents produisant des hydrures présentent un avantage important par rapport à l’hydrogénation catalytique dans la mesure où ils peuvent réduire une liaison C=C en présence d’un groupement carbonyle.
 
<p>A004-049: Le phénol est préparé industriellement via un processus multi-étapes impliquant la formation et l’oxydation du cumène. 
 
<p>A004-050: Le phénol est préparé industriellement via un processus multi-étapes impliquant la formation et l’oxydation de l’aniline. 
 
<p>A004-051: Les éthers peuvent être préparés facilement par la réaction entre un ion alcoolate et un halogénure d’alkyle, ce processus est appelé synthèse d’éthers de Williamson. 
 
<p>A004-052: Les éthers peuvent être préparés facilement par la réaction entre un ion alcoolate et un halogénure d’acyle, ce processus est appelé synthèse d’éthers de Williamson. 
 
<p>A004-053: La synthèse d’éther de Williamson fonctionne mieux pour les halogénures de méthyle ou d’alkyle primaires. 
 
<p>A004-054: La synthèse d’éther de Williamson fonctionne mieux pour les halogénures primaires ou secondaires. 
 
<p>A004-055: Les halogénures d’alkyle secondaires sont significativement moins efficaces, et les halogénures d’alkyle tertiaires ne peuvent pas être utilisés dans la synthèse d’éther de Williamson.
 
<p>A004-056: Les halogénures d’alkyle primaires sont significativement moins efficaces, et les halogénures d’alkyle tertiaires ne peuvent pas être utilisés dans la synthèse d’éther de Williamson.
 
<p>A004-057: Les éthers peuvent être préparés à partir des alcènes par alkoxymercuration-démercuration, selon une addition de type Markovnikov de RO et H sur un alcène.
 
<p>A004-058: Les éthers peuvent être préparés à partir des alcènes par alkoxymercuration-démercuration, ce qui résulte dans une addition Markovnikov de RO et H sur un alcène.
 
<p>A004-059: Lorsqu’il est traité par un acide fort, un éther subit un clivage acide dans lequel il est converti en deux halogénures d’alkyle.
 
<p>A004-060: Lorsqu’il est traité par un acide fort, un éther subit un clivage basique dans lequel il est converti en deux halogénures d’alkyle.
 
<p>A004-061: Lorsqu’un éther phénylique est clivé dans des conditions acides, les produits sont le phénol et un halogénure d’alkyle.
 
<p>A004-062: Lorsqu’un éther phénylique est clivé dans des conditions acides, il est converti en deux halogénures d’alkyle. 
 
<p>A004-063: Un éther cyclique à trois chaînons est appelé oxirane. Il possède une tension de cycle importante; par conséquent , il est moins réactif que les éthers. 
 
<p>A004-064: Un éther cyclique à trois chaînons est appelé oxane. Il possède une tension de cycle importante; par conséquent , il est moins réactif que les éthers.
 
<p>A004-065: Les alcènes peuvent être convertis en époxydes par traitement avec des peracides ou par formation d’une halohydrine suivie d’une cyclisation intramoléculaire. Ces procédures sont stéréospécifiques.
 
<p>A004-066: Les alcènes peuvent être convertis en époxydes par traitement avec des peracides ou par formation d’une halohydrine suivie d’une cyclisation intramoléculaire. Ces procédures sont stéréosélectives.
 
<p>A004-067: Les substituants qui sont cis entre eux dans l’alcène de départ restent cis entre eux dans l’époxyde, et les substituants qui sont trans entre eux dans l’alcène de départ restent trans entre eux dans l’époxyde.
 
<p>A004-068: Les substituants qui sont cis entre eux dans l’alcène de départ deviennent trans entre eux dans l’époxyde.
<p> 
<p>A004-069: Les catalyseurs chiraux peuvent être utilisés pour réaliser une époxydation énantiosélective d’alcools allyliques.
<p> 
<p>A004-070: Les catalyseurs achiraux peuvent être utilisés pour réaliser une époxydation énantiosélective d’alcools allyliques.
<p> 
<p>A004-071: Dans une époxydation asymétrique de Sharpless, le catalyseur favorise la production d’un énantiomère par rapport à l’autre, conduisant à l’excès énantiomérique observé.
<p> 
<p>A004-072: Dans une époxydation asymétrique de Sharpless, le catalyseur favorise la production d’un racémique.
 
<p>A004-073: Les époxydes subissent des réactions d’ouverture de cycle (1) dans des conditions impliquant un nucléophile dur ou (2) dans des conditions acido-catalysées.
 
<p>A004-074: Les époxydes subissent des réactions d’ouverture de cycle (1) dans des conditions impliquant un électrophile dur ou (2) dans des conditions acido-catalysées.
 
<p>A004-075: Quand un nucléophile dur est utilisé pour ouvrir un époxyde, le nucléophile attaque la position la moins substituée (la moins encombrée). 
<p>A004-076: Quand un nucléophile dur est utilisé pour ouvrir un époxyde, le nucléophile attaque la position la plus substituée (la plus encombrée). 
 
<p>A004-077: Dans des conditions acido-catalysées, la régiochimie est dépendante de la nature de l’époxyde. Elle s’explique par la compétition entre les effets électroniques et les effets stériques.
<p> 
<p>A004-078: Dans des conditions baso-catalysées, la régiochimie est dépendante de la nature de l’époxyde. Elle s’explique par la compétition entre les effets électroniques et les effets stériques.
<p> 
<p>A004-079: L’issue stéréochimique implique l’inversion de configuration quelles que soient les conditions.
<p> 
<p>A004-080: L’issue stéréochimique implique la rétention de configuration quelles que soient les conditions.
<p> 
<p>A004-081: Les analogues sulfurés des alcools contiennent un groupement SH à la place d’un groupement OH et sont appelés des thiols.
 
<p>A004-082: Les analogues sulfurés des alcools contiennent un groupement SO<sub>3</sub>H à la place d’un groupement OH et sont appelés des thiols.
 
<p>A004-083: L’ouverture de cycle d’un époxyde produit un composé avec deux groupements fonctionnels sur les atomes de carbone adjacents. Lorsque vous voyez deux groupements fonctionnels adjacents, vous devez penser à des époxydes.
 
<p>A004-084: L’ouverture de cycle d’un époxyde produit un composé avec deux groupements fonctionnels sur les atomes de carbone adjacents. Lorsque vous voyez deux groupements fonctionnels adjacents, vous devez penser à des alcoolates.
 
<p>A004-085: Quand un réactif de Grignard réagit avec un époxyde, une liaison C-C est formée. Cette réaction peut être utilisée pour introduire une chaîne carbonée qui possède un groupement fonctionnel sur mesure au niveau du second atome de carbone.
 
<p>A004-086: Quand un réactif de Grignard réagit avec un époxyde, une liaison C=C est formée. Cette réaction peut être utilisée pour introduire une chaîne carbonée qui possède un groupement fonctionnel sur mesure au niveau du second atome de carbone.
 
<p>A004-087: Les éthers sont des composés qui présentent un atome d’oxygène liés à deux groupements R, où chaque groupement R peut être un groupement alkyle, aryle ou vinyle.
 
<p>A004-088: Les esters sont des composés qui présentent un atome d’oxygène liés à deux groupements R, où chaque groupement R peut être un groupement alkyle, aryle ou vinyle.
 
<p>A004-089: L’éther diéthylique est préparé industriellement via la déshydratation acido-catalysée de l’éthanol.
<p> 
<p>A004-090: L’éther diéthylique est préparé industriellement via la déshydratation baso-catalysée de l’éthanol.
<p> 
<p>A004-091: Les éthers sont généralement inertes dans des conditions basiques ou légèrement acides. En conséquence, ils sont des solvants de choix pour de nombreuses réactions.
<p> 
<p>A004-092: Les éthers sont généralement réactifs dans des conditions basiques ou légèrement acides. En conséquence, ils ne sont pas des solvants de choix pour de nombreuses réactions.
<p> 
<p>A004-093: HI et HBr peuvent être tous les deux utilisés pour cliver des éthers. HCl est moins efficace et HF ne conduit pas au clivage acide des éthers.
<p> 
<p>A004-094: HF et HCl peuvent être tous les deux utilisés pour cliver des éthers. HBr est moins efficace et HI ne conduit pas au clivage acide des éthers.
<p> 
<p>A004-095: Les alcènes peuvent être convertis en époxydes lorsqu’ils sont traités avec des peracides.
<p> 
<p>A004-096: Les alcynes peuvent être convertis en époxydes lorsqu’ils sont traités avec des peracides.
<p> 
<p>A004-097: Les alcènes peuvent être convertis en halohydrines lorsqu’ils sont traités en présence d’eau.
<p> 
<p>A004-098: Les alcènes peuvent être convertis en halohydrines lorsqu’ils sont traités en présence d’un alcool.
<p> 
<p>A004-099: Les halohydrines peuvent être converties en époxydes par traitement avec une base forte.
<p> 
<p> A004-100: Les halohydrines peuvent être converties en époxydes par traitement avec un acide fort.
<p> 
<p> 
<p>Use a coleção on-line HTML, CSS, JS tool para criar sites como um pedaço de bolo.