<p> 
<p><strong>AVENGERS DECK 3</strong>
 
<p>A003-001: Alkenes undergo addition when treated with bromine, while benzene is inert under the same conditions.
<p>A003-002: Alkenes and benzene undergo addition when treated with bromine.
<p>A003-003: In the presence of iron, an electrophilic aromatic substitution reaction is observed between benzene and bromine.
<p>A003-004: In the presence of aluminium, an electrophilic aromatic substitution reaction is observed between benzene and bromine.
<p>A003-005: Iron tribromide is a Lewis acid that interacts with Br<sub>2</sub> and generates Br<sup>+</sup>, which is sufficiently electrophilic to be attacked by benzene.
<p>A003-006:Iron tribromide is a Lewis acid that interacts with Br<sub>2</sub> and generates Br<sup>2+</sup>, which is sufficiently electrophilic to be attacked by benzene.
<p>A003-007: Electrophilic aromatic substitution involves two steps: (1) Formation of the sigma complex, or arenium ion. This step is endergonic. (2) Deprotonation, which restores aromaticity.
<p>A003-008: Nucleophilic aromatic substitution involves two steps: (1) Formation of the sigma complex, or arenium ion. This step is endergonic. (2) Deprotonation, which restores aromaticity.
<p>A003-009: Aluminum tribromide (AlBr<sub>3</sub>) is another common Lewis acid that can serve as a suitable alternative to FeBr<sub>3</sub>.
<p>A003-010: Aluminum tribromide (AlBr<sub>3</sub>) is another common Lewis base that can serve as a suitable alternative to FeBr<sub>3</sub>.
<p>A003-011: Chlorination of benzene is accomplished with a suitable Lewis acid, such as aluminum trichloride.
<p>A003-012: Chlorination of benzene is accomplished with a suitable Lewis acid, such as aluminum tribromide.
<p>A003-013: Sulfur trioxide (SO<sub>3</sub>) is a very powerful electrophile that is present in fuming sulfuric acid. Benzene reacts with SO<sub>3</sub> in a reversible process called sulfonation.
<p>A003-014: Sulfur trioxide (SO<sub>3</sub>) is a very powerful electrophile that is present in diluted sulfuric acid. Benzene reacts with SO<sub>3</sub> in a reversible process called sulfonation.
<p>A003-015: A mixture of sulfuric acid and nitric acid produces a small amount of nitronium ion (NO<sub>2</sub><sup>+</sup>). Benzene reacts with the nitronium ion in a process called nitration.
<p>A003-016: A mixture of sulfuric acid and nitric acid produces a small amount of nitronium ion (NO<sup>+</sup>). Benzene reacts with the nitronium ion in a process called nitration.
<p>A003-017: A nitro group can be reduced to an amino group, providing a two-step method for installing an amino group.
<p>A003-018: A nitro group can be reduced to an imine group, providing a two-step method for installing an amino group.
<p>A003-019: Friedel-Crafts alkylation enables the installation of an alkyl group on an aromatic ring.
<p>A003-020: Friedel-Crafts alkylation enables the installation of an acyl group on an aromatic ring.
<p>A003-021: In the presence of a Lewis acid, an alkyl halide is converted into a carbocation, which can be attacked by benzene in an electrophilic aromatic substitution.
<p>A003-022: In the presence of a Lewis acid, an acyl halide is converted into a carbocation, which can be attacked by benzene in an electrophilic aromatic substitution.
<p>A003-023: A Friedel-Crafts alkylation is only efficient in cases where the carbocation cannot rearrange.
<p>A003-024: A Friedel-Crafts alkylation is only efficient in cases where the carbocation can rearrange.
<p>A003-025: Regarding a Friedel-Crafts alkylation, when choosing an alkyl halide, the carbon atom connected to the halogen must be sp3 hybridized.
<p>A003-026: Regarding a Friedel-Crafts alkylation, when choosing an alkyl halide, the carbon atom connected to the halogen must be sp2 hybridized.
<p>A003-027: Polyalkylations in aromatic compounds are common and can generally be avoided A003-028: Polynitrations in aromatic compounds are common and can generally be avoided by controlling the reaction conditions.
<p>A003-029: Friedel-Crafts acylation enables the installation of an acyl group on an aromatic A003-030: Friedel-Crafts acylation enables the installation of an alkyl group on an aromatic ring.
<p>A003-031: When treated with a Lewis acid, an acyl chloride will generate an acylium ion, which is resonance stabilized and not susceptible to carbocation rearrangements.
<p>A003-032: When treated with a Lewis acid, an acyl chloride will generate an acylium ion, which is not resonance stabilized and is susceptible to carbocation rearrangements.
<p>A003-033: When a Friedel-Crafts acylation is followed by a Clemmensen reduction, the net A003-034: When a Friedel-Crafts acylation is followed by a Clemmensen reduction, the net result is the installation of an acyl group.
<p>A003-035: Polyacylation is not observed, because introduction of an acyl group deactivates the ring toward further acylation.
<p>A003-036: Polyacylation is observed, because introduction of an acyl group activates the ring toward further acylation.
<p>A003-037: An aromatic ring is activated by a methyl group, which is an ortho-para director.
<p>A003-038: An aromatic ring is deactivated by a methyl group, which is an <i>ortho-para</i> director.
<p>A003-039: An aromatic ring is even more highly activated by a methoxy group, which is also an <i>ortho- para</i> director.
<p>A003-040: An aromatic ring is even more highly activated by a methoxy group, which is also a <i>meta director.</i>
<p>A003-041: A nitro group deactivates an aromatic ring and is a meta director. Most deactivators are meta directors.
<p>A003-042: A nitro group deactivates an aromatic ring and is a <i>meta</i> director. However, most deactivators are ortho-para directors.
<p>A003-043: Halogens are an exception in that they are deactivators but are ortho-para directors.
<p>A003-044: Halogens are activators and ortho-para directors.
<p>A003-045: Strong activators are characterized by the presence of a lone pair immediately adjacent to the aromatic ring.
<p>A003-046: Weak activators are characterized by the presence of a lone pair immediately adjacent to the aromatic ring.
<p>A003-047: Moderate activators exhibit a lone pair that is already delocalized outside of the ring. Alkoxy groups are an exception and are moderate activators.
<p>A003-048: Strong activators exhibit a lone pair that is already delocalized outside of the ring. Alkoxy groups are an exception and are moderate activators.
<p>A003-049: Alkyl groups are weak activators.
<p>A003-050: Acyl groups are weak activators.
<p>A003-051: Halogens are weak deactivators.
<p>A003-052: Halogens are weak activators.
<p>A003-053: Moderate deactivators are groups that exhibit a π bond to an electronegative atom, where the π bond is conjugated with the aromatic ring.
<p>A003-054: Moderate activators are groups that exhibit a π bond to an electronegative atom, where the π bond is conjugated with the aromatic ring.
<p>A003-055: Strong deactivators are powerfully electron withdrawing, either by resonance or induction.
<p>A003-056: Strong activators are powerfully electron withdrawing, either by resonance or induction.
<p>A003-057: When multiple substituents are present, the more powerful activating group dominates the directing effects.
<p>A003-058: When multiple substituents are present, the more powerful deactivating group dominates the directing effects.
<p>A003-059: Steric effects often play an important role in determining product distribution.
<p>A003-060: Steric effects often do not play an important role in determining product distribution.
<p>A003-061: A blocking group can be used to control the regiochemical outcome of an electrophilic aromatic substitution.
<p>A003-062: A nitro group can be used to control the regiochemical outcome of an electrophilic aromatic substitution.
<p>A003-063: Proposing a synthesis for a disubstituted benzene ring requires a careful analysis of directing effects to determine which group should be installed first.
<p>A003-064: Proposing a synthesis for a disubstituted benzene ring does not require a careful analysis of directing effects to determine which group should be installed first.
<p>A003-065: In a nucleophilic aromatic substitution reaction, the aromatic ring is attacked by a nucleophile.
<p>A003-066: In a nucleophilic aromatic substitution reaction, the aromatic ring is attacked by an electrophile.
<p>A003-067: In a nucleophilic aromatic substitution reaction, the ring must contain a powerful electron-withdrawing group (typically a nitro group).
<p>A003-068: In a nucleophilic aromatic substitution reaction, the ring must contain a powerful activating group.
<p>A003-069: In a nucleophilic aromatic substitution reaction, the ring must contain a leaving group.
<p>A003-070: In an electrophilic aromatic substitution reaction, the ring must contain a leaving group.
<p>A003-071: In a nucleophilic aromatic substitution reaction, the leaving group must be either <i>ortho</i> or <i>para</i> to the electron-withdrawing group.
<p>A003-072: In an electrophilic aromatic substitution reaction, the leaving group must be either ortho or para to the electron-withdrawing group.
<p>A003-073: Nucleophilic aromatic substitution involves two steps: (1) Formation of a Meisenheimer complex. (2) Loss of a leaving group to restore aromaticity.
<p>A003-074: Electrophilic aromatic substitution involves two steps: (1) Formation of a Meisenheimer complex. (2) Loss of a leaving group to restore aromaticity.
<p>A003-075: An elimination-addition reaction occurs via a benzyne intermediate. Evidence for this mechanism comes from isotopic labeling experiments as well as a trapping experiment.
<p>A003-076: An addition-elimination reaction occurs via a benzyne intermediate. Evidence for this mechanism comes from isotopic labeling experiments as well as a trapping experiment.
<p>A003-077: The three mechanisms for aromatic substitution differ in (1) the intermediate, (2) the leaving group, and (3) substituent effects.
<p>A003-078: The three mechanisms for aromatic substitution differ in (1) the intermediate, (2) the nucleophile, and (3) substituent effects.
<p>A003-079: During bromination of an alkene, bromine functions as an electrophile. It approaches the π electron cloud of the alkene, Br<sub>2</sub> becomes temporarily polarized, rendering one of the bromine atoms electrophilic (δ<sup>+</sup>).
<p>A003-080: During bromination of an alkene, bromine functions as a nucleophile. It approaches the π electron cloud of the alkene, Br<sub>2</sub> becomes temporarily polarized, rendering one of the bromine atoms nucleophilic (δ<sup>-</sup>).
<p>A003-081: The bromine atom becomes sufficiently electrophilic to react with the alkene but is not sufficiently electrophilic to react with benzene.
<p>A003-081: The bromine atom becomes sufficiently nucleophilic to react with the alkene but is not sufficiently nucleophilic to react with benzene.
<p>A003-083: Iron tribromide, a Lewis acid, is the real catalyst in the reaction between benzene and bromine.
<p>A003-084: Boron tribromide, a Lewis acid, is the real catalyst in the reaction between benzene and bromine.
<p>A003-085: When benzene is treated with fuming sulfuric acid, a sulfonation reaction occurs and benzenesulfonic acid is obtained.
<p>A003-086: When benzene is treated with diluted sulfuric acid, a sulfonation reaction occurs and benzenesulfonic acid is obtained.
<p>A003-087: The reaction between benzene and SO<sub>3</sub> is highly sensitive to the concentrations of the reagents and is, therefore, reversible.
<p>A003-088: The reaction between benzene and SO<sub>3</sub> is highly sensitive to the concentrations of the reagents and is not reversible.
<p>A003-089: When benzene is treated with a mixture of nitric acid and sulfuric acid, a nitration reaction occurs in which nitrobenzene is formed.
<p>A003-090: When benzene is treated with a mixture of nitric acid and sulfuric acid, a nitration reaction occurs in which dinitrobenzene is formed.
<p>A003-091: The nitration reaction proceeds via an electrophilic aromatic substitution in which a nitronium ion (NO2+) is believed to be the electrophile. This strong electrophile is formed from the acid-base reaction that takes place between HNO3 and H2SO4.
<p>A003-092: The nitration reaction proceeds via an electrophilic aromatic substitution in which a nitronium ion (NO<sup>+</sup>) is believed to be the electrophile. This strong electrophile is formed from the acid-base reaction that takes place between HNO<sub>3</sub> and H<sub>2</sub>SO<sub>4</sub>.
<p>A003-093: In a nitration reaction, the nitric acid functions as a base to accept a proton from sulfuric acid, followed by loss of water to produce a nitronium ion.
<p>A003-094: In a nitration reaction, the sulfuric acid functions as a base to accept a proton from nitric acid, followed by loss of water to produce a nitronium ion.
<p>A003-095: Installation of an alkyl group activates the ring toward further alkylation.
<p>A003-096: Installation of an alkyl group deactivates the ring toward further alkylation.
<p>A003-097: When a Friedel-Crafts acylation is followed by a Clemmensen reduction, the net result is the installation of an alkyl group.
<p>A003-098: When a Friedel-Crafts acylation is followed by a Clemmensen reduction, the net result is the installation of an acyl group.
<p>A003-099: Toluene undergoes nitration approximately 25 times faster than benzene. In other words, the methyl group is said to activate the aromatic ring.
<p>A003-100: Toluene undergoes nitration approximately 25 times slower than benzene. In other words, the methyl group is said to deactivate the aromatic ring.
<p> 
<p> 
<p> 