<p> 
<p>AVENGERS DECK 6
<p> 
<p>A006-001: Tratamento de um ácido carboxílico com uma base forte, como hidróxido de sódio, produz o sal carboxilato.
<p> 
<p>A006-002: Tratamento de um ácido carboxílico com uma base forte, como hidróxido de sódio, produz o sal carboxilato.
<p> 
<p>A006-003: Quando tratado com ácido aquoso, uma nitrila sofrerá hidrólise, produzindo um ácido carboxílico.
<p> 
<p>A006-004: Quando tratado com ácido aquoso, uma nitrila sofrerá hidrólise, produzindo uma amina.
<p> 
<p>A006-005: Derivados de ácido carboxílico diferem em reatividade, sendo os haletos de acila os mais reativos e as amidas as menos reativas.
<p> 
<p>A006-006: Derivados de ácido carboxílico diferem em reatividade, sendo os haletos de acila os menos reativos e as amidas as mais reativas.
<p> 
<p>A006-007: Quando um nucleófilo ataca um derivado de ácido carboxílico, uma substituição nucleofílica no grupo acila pode ocorrer, onde o nucleófilo substitui o grupo de saída
<p> 
<p>A006-008: Quando um nucleófilo ataca um derivado de ácido carboxílico, uma substituição nucleofílica no grupo acila pode ocorrer, onde o nucleófilo adiciona-se à carbonila.
<p> 
<p>A006-009: O mecanismo de substituição nucleofílica no grupo acila envolve dois passos principais e frequentemente utiliza vários passos de transferência de prótons (especialmente em condições ácidas).
<p> 
<p>A006-010: O mecanismo de substituição nucleofílica no grupo acila envolve dois passos principais e frequentemente utiliza vários passos de transferência de prótons (especialmente em condições básicas).
<p> 
<p>A006-011: Quando um nucleófilo ataca uma carbonila para formar um intermediário tetraédrico, sempre restaura a carbonila se possível, mas nunca expulsa H<sup>-</sup> ou C<sup>-</sup>.
<p> 
<p>A006-012: Quando um nucleófilo ataca uma carbonila para formar um intermediário tetraédrico, sempre restaurando a carbonila e expulsando H<sup>-</sup> ou C<sup>-</sup>.
<p> 
<p>A006-013: Cloretos de acila podem ser formados pelo tratamento de ácidos carboxílicos com cloreto de tionila.
<p> 
<p>A006-014: Cloretos de acila podem ser formados pelo tratamento de ácidos carboxílicos com cloreto de hidrogênio.
<p> 
<p>A006-015: Quando tratados com água, os cloretos de acila são hidrolisados para gerar ácidos carboxílicos.
<p>A006-016: Quando tratados com água, os cloretos de acila são hidrolisados para gerar álcoois.
<p> 
<p>A006-017: Quando tratados com álcool, os cloretos ácidos são convertidos em ésteres.
<p> 
<p>A006-018: Quando tratados com álcool, os cloretos ácidos são convertidos em acetais.
<p> 
<p>A006-019: Quando tratados com amônia, os cloretos de acila são convertidos em amidas. Dois equivalentes de amônia são necessários: um para servir como um nucleófilo e o outro
<p>para servir de base.
<p> 
<p>A006-020: Quando tratados com amônia, os cloretos de acila são convertidos em aminas. Dois equivalentes de amônia são necessários: um para servir como um nucleófilo e o outro
<p>para servir de base.
<p> 
<p>A006-021: Quando tratados com excesso de LiAlH<sub>4</sub>, os cloretos de acila são reduzidos para gerar álcoois porque dois equivalentes de hidreto atacam.
<p> 
<p>A006-022: Quando tratados com excesso de LiAlH<sub>4</sub>, os cloretos de acila são reduzidos para gerar aldeídos.
<p> 
<p>A006-023: Quando tratados com um reagente de Grignard, os cloretos de acila são convertidos em álcoois com a introdução de dois grupos alquilas.
<p> 
<p>A006-024: Quando tratados com um reagente de Grignard, os cloretos de acila são convertidos em cetonas.
<p> 
<p>A006-025: O ácido acético pode ser convertido em anidrido acético com com aquecimento excessivo.
<p> 
<p>A006-026: Cloreto de acila pode ser convertido em anidrido acético com aquecimento excessivo.
<p> 
<p>A006-027: Os anidridos ácidos podem ser preparados tratando um cloreto de acila com um íon carboxilato.
<p> 
<p>A006-028: Os anidridos ácidos podem ser preparados tratando um cloreto de acila com uma amina.
<p> 
<p>A006-029: As reações dos anidridos são as mesmas que as reações de cloretos de acila, exceto pela identidade do grupo de saída.
<p> 
<p>A006-030: As reações dos anidridos são as mesmas que as reações de aldeídos, exceto pela identidade do grupo de saída.
<p> 
<p>A006-031: Quando tratado com uma base forte, seguido por um haleto de alquila, ácidos carboxílicos são convertidos em ésteres.
<p> 
<p>A006-032: Quando tratado com uma ácido forte, seguido por um haleto de alquila, ácidos carboxílicos são convertidos em ésteres.
<p> 
<p>A006-033: Em um processo chamado de esterificação de Fischer, ácidos carboxílicos são convertidos em ésteres quando tratados com álcool na presença de um catalisador ácido. Este processo é reversível.
<p> 
<p>A006-034: Em um processo chamado de esterificação de Newman, ácidos carboxílicos são convertidos em ésteres quando tratados com álcool na presença de um catalisador ácido. Este processo é reversível.
<p> 
<p>A006-035: Ésteres também podem ser preparados tratando um cloreto de acila com um álcool na presença de piridina.
<p> 
<p>A006-036: Ésteres também podem ser preparados tratando um cloreto de acila com água na
<p>presença de piridina.
<p> 
<p>A006-037: Ésteres podem ser hidrolisados para produzir ácidos carboxílicos por tratamento com base aquosa ou ácido aquoso. Hidrólise em condições básicas também é chamada de
<p>saponificação.
<p> 
<p>A006-038: Ésteres podem ser hidrolisados para produzir ácidos carboxílicos por tratamento com base aquosa ou ácido aquoso. Hidrólise em condições básicas também é chamada de
<p>esterificação.
<p> 
<p>A006-039: Quando tratados com hidreto de alumínio e lítio, os ésteres são reduzidos para produzir álcoois. Se o produto desejado for um aldeído, então o DIBAH deve ser usado como agente redutor em vez de LiAlH<sub>4</sub>.
<p> 
<p>A006-040: Quando tratados com hidreto de alumínio e lítio, os ésteres são reduzidos para produzir álcoois. Se o produto desejado for um aldeído, então o NaBH<sub>4</sub> deve ser usado como agente redutor em vez de LiAlH<sub>4</sub>.
<p> 
<p>A006-041: Quando tratados com um reagente de Grignard, os ésteres são reduzidos a álcoois, com a introdução de dois grupos alquilas.
<p> 
<p>A006-042: Quando tratados com um reagente de Grignard, os ésteres são reduzidos a álcoois, com a introdução de um grupo alquila.
<p> 
<p>A006-043: Amidas são mais eficientemente preparadas a partir de cloretos de acila.
<p> 
<p>A006-044: Amidas são mais eficientemente preparadas a partir de ácidos carboxílicos.
<p> 
<p>A006-045: Amidas são hidrolisadas para produzir ácidos carboxílicos por tratamento com base aquosa ou ácido aquoso.
<p> 
<p>A006-046: Ácidos carboxílicos são hidrolisadas para produzir amidas por tratamento com base aquosa ou ácido aquoso.
<p>A006-047: Quando tratados com excesso de LiAlH<sub>4</sub>, as amidas são convertidas em aminas.
<p> 
<p>A006-048: Quando tratados com excesso de LiAlH<sub>4</sub>, as aminas são convertidas em amidas.
<p> 
<p>A006-049: As nitrilas podem ser preparados tratando um haleto de alquila com um íon cianeto ou via desidratação de uma amida.
<p> 
<p>A006-050: As nitrilas podem ser preparadas tratando um cloreto de acila com um íon cianeto ou via desidratação de uma amida.
<p> 
<p>A006-051: Nitrilas podem ser hidrolisadas para produzir ácidos carboxílicos por tratamento com base aquosa ou ácido aquoso.
<p> 
<p>A006-052: Nitrilas podem ser hidrolisadas para produzir aminas por tratamento com base
<p>aquosa ou ácido aquoso.
<p> 
<p>A006-053: Uma cetona é obtida quando uma nitrila é tratada com um reagente de Grignard, seguido por ácido aquoso.
<p> 
<p>A006-054: Um aldeído é obtido quando uma nitrila é tratada com um reagente de Grignard, seguido por ácido aquoso.
<p> 
<p>A006-055: Nitrilas são convertidas em aminas quando tratadas com LiAlH<sub>4</sub>.
<p> 
<p>A006-056: Nitrilas são convertidas em amidas quando tratadas com LiAlH<sub>4</sub>.
<p> 
<p>A006-057: Ácidos carboxílicos e seus derivados podem ser prontamente interconvertidos.
<p> 
<p>A006-058: Ácidos carboxílicos e seus derivados não podem ser prontamente interconvertidos.
<p> 
<p>A006-059: Obtém-se um ácido carboxílico quando uma nitrila é tratada com um reagente de Grignard, seguido por ácido aquoso.
<p> 
<p>A006-060: Obtém-se um ácido carboxílico quando uma amida é tratada com um reagente de Grignard, seguido por ácido aquoso.
<p> 
<p>A006-061: Uma variedade de agentes oxidantes pode ser usada para oxidar álcoois primários para produzir ácidos carboxílicos.
<p> 
<p>A006-062: Uma variedade de agentes oxidantes pode ser usada para oxidar álcoois secunários para produzir ácidos carboxílicos.
<p> 
<p>A006-063: A hidrólise de nitrilas nos fornece um processo de duas etapas para converter um haleto de alquila em um ácido carboxílico.
<p> 
<p>A006-064: A hidrólise de nitrilas nos fornece um processo de duas etapas para converter um cloreto de acila em um ácido carboxílico.
<p>A006-065: Os ácidos carboxílicos podem ser preparados tratando um reagente de Grignard com dióxido de carbono.
<p> 
<p>A006-066: Os ácidos carboxílicos podem ser preparados tratando um reagente de Grignard com monóxido de carbono.
<p> 
<p>A006-067: Os ácidos carboxílicos são reduzidos a álcoois através tratamento com hidreto de
<p>alumínio e lítio.
<p> 
<p>A006-068: Os ácidos carboxílicos são reduzidos a aldeídos através tratamento com hidreto de alumínio e lítio.
<p> 
<p>A006-069: Os ácidos carboxílicos sofrem muitas reações que não envolvem uma mudança no estado de oxidação.
<p> 
<p>A006-070: Os ácidos carboxílicos sofrem muitas reações que envolvem uma mudança no estado de oxidação.
<p> 
<p>A006-071: A substituição do grupo OH em ácidos carboxílicos por um grupo diferente (Z) não envolve alteração na oxidação se Z for um heteroátomo (Cl, O, N, etc.). Compostos desse tipo são chamados de derivados de ácido carboxílicos.
<p> 
<p>A006-072: A substituição do grupo OH em ácidos carboxílicos por um grupo diferente (Z) envolve alteração na oxidação se Z for um heteroátomo (Cl, O, N, etc.). Compostos desse tipo são chamados de derivados de ácido carboxílicos.
<p> 
<p>A006-073: Cloretos de acila podem ser formados pelo tratamento de ácidos carboxílicos com cloreto de tionila (SOCl<sub>2</sub>).
<p> 
<p>A006-074: Cloretos de acila podem ser formados pelo tratamento de ácidos carboxílicos com cloreto de sulfurila (SO<sub>2</sub>Cl<sub>2</sub>).
<p> 
<p>A006-075: Quando tratados com água, os cloretos de acila são hidrolisados para gerar ácidos carboxílicos.
<p> 
<p>A006-076: Quando tratados com água, os cloretos de acila são hidrolisados para gerar álcoois.
<p> 
<p>A006-077: Quando tratados com água, os nitrilas são hidrolisadas para gerar ácidos carboxílicos.
<p> 
<p>A006-078: Quando tratados com água, aminas são hidrolisadas para gerar ácidos carboxílicos.
<p> 
<p>A006-079: Quando tratados com amônia, os cloretos de ácido são convertidos em amidas. Para esta reação, dois equivalentes de amônia são necessários.
<p> 
<p>A006-080: Quando tratados com amônia, os cloretos de ácido são convertidos em amidas. Para esta reação, três equivalentes de amônia são necessários.
<p> 
<p>A006-081: O anidrido acético é frequentemente usado para acetilar um álcool ou uma amina.
<p> 
<p>A006-082: O anidrido acético é frequentemente usado para acetilar um álcool ou uma amida.
<p> 
<p>A006-083: Quando tratados com uma base, seguida por um halogeneto de alquila, os ácidos carboxílicos são convertidos em ésteres. As limitações esperadas do SN2 os processos, portanto, se aplicam. Especificamente, halogenetos alquílicos terciários não podem ser usados.
<p> 
<p>A006-084: Quando tratados com um ácido forte, seguida por um halogeneto de alquila, os ácidos carboxílicos são convertidos em ésteres. As limitações esperadas do SN2 os processos, portanto, se aplicam. Especificamente, halogenetos alquílicos terciários não podem ser usados.
<p> 
<p>A006-085: Os ácidos carboxílicos são convertidos em ésteres quando tratados com um álcool na presença de um catalisador ácido. Esse processo é chamado de esterificação de Fischer.
<p> 
<p>A006-086: Ácidos carboxílicos são convertidos em ésteres quando tratados com éteres na presença de catalisador ácido. Este processo é chamado de esterificação de Fischer.
<p> 
<p>A006-087: Ésteres podem ser preparados tratando um cloreto de acila com um álcool.
<p> 
<p>A006-088: Ésteres podem ser preparados tratando um cloreto de acila com um éter.
<p> 
<p>A006-089: Ésteres podem ser convertidos em ácidos carboxílicos por tratamento com hidróxido de sódio, seguido por um ácido. Esse processo é chamado de saponificação.
<p> 
<p>A006-090: Ésteres podem ser convertidos em ácidos carboxílicos por tratamento com hidróxido de sódio, seguido por um ácido. Esse processo é chamado de esterificação.
<p> 
<p>A006-091: Ésteres também podem ser hidrolisados sob condições ácidas. Este processo é o inverso de uma esterificação de Fischer.
<p> 
<p>A006-092: Ésteres também podem ser hidrolisados sob condições ácidas. Este processo é o inverso de uma esterificação de Newman.
<p> 
<p>A006-093: Os ésteres reagem lentamente com aminas para produzir amidas, portanto, este processo tem pouca utilidade prática.
<p> 
<p>A006-094: Os ésteres reagem prontamente com aminas para produzir amidas.
<p> 
<p>A006-095: Quando tratados com hidreto de alumínio e lítio, os ésteres são reduzidos para produzir álcoois.
<p> 
<p>A006-096: Quando tratados com hidreto de alumínio e lítio, os ésteres são reduzidos para produzir aldeídos.
<p> 
<p>A006-097: Tratar um éster com apenas um equivalente de LiAlH<sub>4</sub> não é um método eficiente para preparar um aldeído, porque os aldeídos são mais reativos que os ésteres e reagirão com o LiAlH<sub>4</sub> imediatamente após a formação.
<p> 
<p>A006-098: Tratar um éster com apenas um equivalente de LiAlH<sub>4</sub> é um método eficiente para preparar um aldeído.
<p> 
<p>A006-099: As amidas podem ser preparadas a partir de qualquer um dos derivados de ácido
<p>carboxílico.
<p> 
<p> A006-100: Os ésteres podem ser preparados a partir de qualquer um dos derivados de ácido
<p>carboxílico.
<p> 
<p> 
<p> 
<p>Use o Editor HTML on-line para compor facilmente o conteúdo do seu site. Experimente gratuitamente e inscreva-se para uma associação se estiver satisfeito.