<p> 
<p>AVENGERS DECK 2
 
<p>A002-001: Substitution reactions exchange one functional group for another. The electrophile is called the substrate, and it must contain a leaving group.
 
<p>A002-002: RO<sup>-</sup> (strong nucleophile and base) and primary substrate favor SN2 process. However, when the base is sterically hindered, the E2 process is favored.
 
<p>A002-003: NaSH (only nucleophile) and primary substrate favor SN2 process.
 
<p>A002-004: During an E2 process, a carbocation rearrangement occurs if it will produce a more stable carbocation intermediate.
 
<p>A002-005: A proton transfer is necessary at the beginning of an SN1 mechanism if the leaving group is a halide ion.
 
<p>A002-006: The H<sub>2</sub>S is stronger nucleophile than HS<sup>-</sup> because the sulfur atom bears a negative charge.
 
<p>A002-007: The methoxide ion is a stronger nucleophile when is dissolved in DMSO than when it is dissolved in methanol because the DMSO is a polar aprotic solvent that stabilizes cations, but not anions.
 
<p>A002-008: During an E1 process, if the substrate is an alcohol, a weak acid is required to protonate the OH group.
 
<p>A002-009: SN1 stereochemical outcome: The nucleophile replaces the leaving group with inversion of configuration.
 
<p>A002-010: SN1 stereochemical outcome: The nucleophile replaces the leaving group with racemization.
 
<p>A002-011: In a concerted process, nucleophilic attack and loss of the leaving group occur simultaneously.
 
<p>A002-012: HO<sup>-</sup> (strong nucleophile and base) and primary substrate favor SN1 process.
 
<p>A002-013: RO<sup>-</sup> (strong nucleophile and base) and primary substrate favor E2 process.
 
<p>A002-014: EtOH (weak nucleophile and base) and tertiary substrate favor E1 process: Solvolysis (under low temperatures).
 
<p>A002-015: The compound (A) reacts more rapidly than (B) in an SN2 reaction.
 
<p>A002-016: The compound (B) reacts more rapidly than (A) in an SN2 reaction.
 
<p>A002-0178: The compound (A) reacts more rapidly than (B) in an SN2 reaction.
 
<p>A002-018: A proton transfer is necessary at the beginning of an SN1 mechanism if the leaving group is an OH group.
 
<p>A002-019: E2 stereochemical outcome: This process is both stereoselective but not stereospecifc. When applicable, a trans disubstituted alkene will be favored over a cis disubstituted alkene. When the β position of the substrate has only one proton, the stereoisomeric alkene resulting from anti-periplanar elimination will be obtained (exclusively, in most cases).
 
<p>A002-020: E1 stereochemical outcome: The process is stereoselective. When applicable, a cis disubstituted alkene will be favored over a trans disubstituted alkene.
 
<p>A002-021: In a stepwise process, first the leaving group leaves, and then the nucleophile attacks.
 
<p>A002-022: HO<sup>-</sup> (strong nucleophile and base) and secondary substrate are in favor of E2 process. When the base is not sterically hindered, the more substituted alkene is the major product: Hofmann product.
 
<p>A002-023: HO<sup>-</sup> (strong nucleophile and base) and secondary substrate are in favor of E2 process. When the base is not sterically hindered, the more substituted alkene is the major product: Zaitsev product.
 
<p>A002-024: A proton transfer is necessary at the end of an SN1 mechanism if the nucleophile is negatively charged.
 
<p>A002-025: The compound (A) reacts more rapidly than (B) in an SN1 reaction.
 
<p>A002-026: The compound (B) reacts more rapidly than (A) in an SN2 reaction.
 
<p>A002-027: The rate of the reaction below would not be doubled if the concentration of the alkyl halide is doubled.
 
<p>A002-028: The rate of the reaction below would not be doubled if the concentration of the cyanide is doubled.
 
<p>A002-029: The rate of the reaction below would be doubled if the concentration of the alcohol is doubled.
 
<p>A002-030: The rate of the reaction below would be doubled if the concentration of the HBr is doubled.
 
<p>A002-031: Evidence for the concerted mechanism, called SN2, includes the observation of a second- order rate equation. The SN2 process is said to be bimolecular.
 
<p>A002-032: RO<sup>-</sup> (strong nucleophile and base) and secondary substrate are in favor of E2 process. When the base is not sterically hindered, the more substituted alkene is the major product: Hofmann product.
<p>A002-033: RO<sup>-</sup> (strong nucleophile and base) and secondary substrate are in favor of E2 process. The Zaytsev product is not formed because the β position bears a proton which cannot be anti- periplanar with the leaving group.
 
<p>A002-034: When the solvent functions as a nucleophile, the reaction is called a solvolysis reaction.
 
<p>A002-035: DMF and DMSO are aprotic solvents that stabilize cations but not anions. They favor SN1 process.
 
<p>A002-036: MeOH and H<sub>2</sub>O are protic solvents that stabilize both cations and anions. They favor SN2 process.
 
<p>A002-037: An E2 process is comprised of just one concerted step.
 
<p>A002-038: Strong nucleophiles, such as: Cl<sup>-</sup>, Br<sup>-</sup>, I<sup>-</sup>, RS<sup>-</sup>, HS<sup>-</sup> and H<sub>2</sub>S, are compounds that contain a negative charge and/or are polarizable, 
 
<p>A002-039: An E2 process will involve a carbocation rearrangement with the previous alcohols.
 
<p>A002-040: When DBN is protonated, the resulting positive charge is resonance stabilized. The conjugate acid is stabilized and is therefore not very acidic. As a result, DBN is weakly basic.
 
<p>A002-041: Methyl halides and primary alkyl halides react most quickly, while tertiary alkyl halides are essentially unreactive toward SN2.
 
<p>A002-042: (C), (A), (B), (D). This is the increasing stability order of the previous carbocations.
 
<p>A002-043: The second method is more efficient because the alkyl halide (methyl iodide) is not sterically hindered. The first method is not efficient because it employs a tertiary alkyl halide, and SN2 reactions do not occur at tertiary substrates.
 
<p>A002-044: When the leaving group is specifically a halide, the reaction is also called a dehydrohalogenation.
 
<p>A002-045: In a concerted elimination process, a base abstracts a proton and the leaving group leaves simultaneously.
 
<p>A002-046: Weak bases are compounds whose conjugate acids are not very acidic, such as: H<sup>-</sup>, HO<sup>-</sup>, RO<sup>-</sup>
 
<p>A002-047: Cl<sup>-</sup> (only nucleophile) and secondary substrate in DMSO (aprotic polar solvent) favor SN2 process.
 
<p>A002-048: HO<sup>- </sup>(strong nucleophile and base) and tertiary substrate are in favor of E2 process. When the base is not sterically hindered, the more substituted alkene is the major product: Zaitsev product.
<p>A002-049: RO<sup>- </sup>(strong nucleophile and base) and tertiary substrate are in favor of E2 process. When both the substrate and the base are sterically hindered, the less substituted alkene is the major product: Hofmann product.
 
<p>A002-050: DBN (only base) and tertiary substrate are in favor of E1 process.
 
<p>A002-051: When the position is a chirality center, the reaction proceeds with inversion of configuration. The preference for back-side attack stems from the need for constructive overlap of orbitals.
 
<p>A002-052: In a stepwise elimination process, first the leaving group leaves, and then the base abstracts a proton.
 
<p>A002-053: When DBU is protonated, the resulting positive charge is resonance stabilized. The conjugate acid is not stabilized and is therefore not very acidic. As a result, DBU is strongly basic.
 
<p>A002-054: The rates of SN2 and E2 processes are affected differently by the substrate. The SN2 process predominates when the substrate is primary, while the E2 process predominates when the substrate is secondary. For tertiary substrates, only SN2 is observed.
 
<p>A002-055: A proton transfer is necessary at the beginning of an SN2 mechanism if the leaving group is a halogen atom.
 
<p>A002-056: Evidence for the concerted E2 mechanism includes the observation of a first-order rate equation.
 
<p>A002-057: All reagents can be classified into four categories: (1) only nucleophiles, (2) only bases, (3) strong nucleophiles and strong bases, and (4) weak nucleophiles and weak bases.
 
<p>A002-058: Primary halides react most readily toward E2.
 
<p>A002-059: H<sup>-</sup>, DBN and DBU act only as bases.
 
<p>A002-060: RO<sup>-</sup> and HO<sup>-</sup> act only as bases.
 
<p>A002-061: E2 regiochemical outcome: The Zaitsev product is generally favored over the Hofmann product, unless a sterically hindered base is used, in which case the Hofmann product will be favored.
 
<p>A002-062: E1 regiochemical outcome: The Hofmann product is always favored over the Zaitsev product.
 
<p>A002-063: When the position is a chirality center, the reaction proceeds with inversion of configuration. The preference for back-side attack stems from the need for constructive overlap of orbitals.
 
<p>A002-064: A proton transfer must occur at the end of an SN2 mechanism if the nucleophile is negatively charged.
 
<p>A002-065: Regiochemistry is an issue in E2 reactions, which are said to be regioselective, because the more substituted alkene, called the Zaitsev product, is generally the major product.
 
<p>A002-066: When both the substrate and the base are sterically hindered, the less substituted alkene, called the Zaitsev product, is the major product.
 
<p>A002-067: RO<sup>-</sup> and HO<sup>-</sup> only can act as strong nucleophiles.
 
<p>A002-068: ROH and H<sub>2</sub>O act as strong nucleophiles.
 
<p>A002-069: E2 reactions are stereospecific, because they generally occur via the anti-coplanar conformation, rather than the syn-coplanar conformation.
 
<p>A002-070: Evidence for the stepwise mechanism, called SN2, includes the observation of a first-order rate equation. These reactions are said to be unimolecular.
 
<p>A002-071: When a primary substrate is treated with an alkoxide ion (RO-), the SN2 pathway predominates over the E2 pathway. There is one notable exception to this general rule. 
<p>Specifically, tert-butoxide is a sterically hindered alkoxide, and it favors E2 over SN2, even when the substrate is primary.
 
<p>A002-072: E2 reactions are also stereoselective, favoring cis disubstituted alkenes over trans disubstituted alkenes.
 
<p>A002-073: Substituted cyclohexanes only undergo E2 reactions from the chair conformation in which the leaving group and the proton both occupy axial positions.
 
<p>A002-074: Regiochemistry and stereochemistry must be considered when predicting the products of an E2 reaction.
 
<p>A002-075: There are four factors that impact the competition between the SN2 mechanism and SN1: (1) the substrate, (2) the nucleophile, (3) the leaving group, and (4) the solvent.
 
<p>A002-076: Predicting the products of substitution and elimination reactions requires three discrete steps: 1) Determine the function of the reagent. 2) Analyze the substrate and determine the expected mechanism(s). 3) Consider any relevant regiochemical and stereochemical requirements.
 
<p>A002-077: The first compound reacts more readily in an E1 reaction because tertiary halides are more reactive than primary halides.
 
<p>A002-078: Although both two alkyl halides are secondary, the first compound will react more readily in an E1 reaction because it will produce a carbocation more stable which is stabilized by resonance.
<p>A002-079: Consider the below reaction. The rate of an E1 process is dependent only on the concentration of the substrate. Therefore, the rate will be doubled if the concentration of <i>tert</i>-butyl bromide is doubled.
 
<p>A002-080: Consider the below reaction. The rate of an E2 process is dependent only on the concentration of the substrate. Therefore, the rate will remain the same if the concentration of ethanol is doubled.
 
<p>A002-081: The most common leaving groups are halides and sulfonate ions. Of the sulfonate ions, the most common is the mesylate group.
 
<p>A002-082: Evidence for the stepwise E1 mechanism includes the observation of a first-order rate equation.
 
<p>A002-083: The compound B will undergo an E1 reaction more quickly because a tertiary allylic carbocation is more highly stabilized than a tertiary carbocation.
 
<p>A002-084: Tertiary halides react most readily via an SN2 process while primary halides are unreactive toward an SN1 process.
 
<p>A002-085: An E1 reaction is generally accompanied by a competing SN1 reaction, and a mixture of products is generally obtained.
 
<p>A002-086: The first step of an SN1 process (loss of a leaving group) is the rate-determining step.
 
<p>A002-087 Hydroxide ion is both a strong nucleophile and a strong base, bimolecular reactions (SN2 and E2) are favored. For secondary alkyl halides, Zaitsev product will be formed because the base is not sterically hindered.
 
<p>A002-088: <i>Tert</i>-butoxide ion is both a strong nucleophile and a strong base, bimolecular reactions (SN2 and E2) are favored. For secondary alkyl halides, Hofmann product will be formed because the base is sterically hindered.
 
<p>A002-089: Under these conditions, bimolecular reactions (SN1 and E1) are favored but high temperature favors E1.
 
<p>A002-090: Under these conditions, bimolecular reactions (SN2 and E2) are favored but high temperature favors E2.
 
<p>A002-091: The carbocation intermediate can be attacked from either side, leading to inversion of configuration or retention of configuration. There is usually a slight preference for the inversion product due to the formation of ion pairs.
 
<p>A002-092: In this E1 process, the β position has two protons. Therefore, we expect the reaction to be stereoselective. That is, we expect both cis and trans isomers, with a preference for trans.
 
<p>A002-093: We expect only one particular stereoisomeric product. In order to achieve the appropriate conformation, rotate the C—C single bond so that the proton and the bromine atom are anti- periplanar. In this case, the product is the Z isomer.
 
<p>A002-094: We expect only one particular stereoisomeric product. In this conformation the proton and the bromine atom are anti-periplanar. Therefore, the product is the E isomer.
 
<p>A002-095: SN1 regiochemical outcome: The nucleophile attacks the α position, where the leaving group is connected.
 
<p>A002-096: SN2 regiochemical outcome: The nucleophile attacks the carbocation, which is where the leaving group was originally connected, unless a carbocation rearrangement took place.
 
<p>A002-097: Elimination of water to form an alkene is called a dehydration reaction.
 
<p>A002-098: E1 reactions exhibit a regiochemical preference for the Zaitsev product.
 
<p>A002-099: Polar aprotic solvents favor SN2, while polar protic solvents favor SN1.
 
<p> A002-100: E1 reactions are stereospecific.
<p> 
<p> 
<p>Use the best onlineHTML, CSS and JS tools at html-css-js.com: editors, code optimizers and more.