<p> 
<p><strong>AVENGERS DECK 1</strong>

<p>A001-001: Las reacciones de adición se caracterizan por la adición de dos grupos a enlaces dobles o triples.
<p> 
<p>A001-002: Las reacciones de adición se caracterizan por la adición de un grupo a enlaces dobles o triples.
<p> 
<p>A001-003: Las reacciones de adición son termodinámicamente favorables a bajas temperaturas y desfavorables a altas temperaturas.
<p> 
<p>A001-004: Las reacciones de adición son termodinámicamente favorables a altas temperaturas y desfavorables a bajas temperaturas.
<p> 
<p>A001-005: Las reacciones de hidrohalogenación se caracterizan por la adición de H y X a través de un enlace π.
<p> 
<p>A001-006: Las reacciones de hidrohalogenación se caracterizan por la adición de H y X a través de un enlace sigma.
<p> 
<p>A001-007: Para alquenos asimétricos, el posicionamiento de halógeno representa una cuestión de regioquímica.
<p> 
<p>A001-008: Para alquenos asimétricos, el posicionamiento de halógeno representa una cuestión de estereoquímica.
<p> 
<p>A001-009: Las reacciones de hidrohalogenación son regioselectivas, porque el halógeno es generalmente adicionado en la posición más reemplazada - Adición de Markovnikov.
<p> 
<p>A001-010: Las reacciones de hidrohalogenación son regioselectivas, porque el halógeno generalmente se adiciona en la posición menos sustituida: adición de Markovnikov.
<p> 
<p>A001-011: En presencia de peróxidos, la adición de HBr ocurre a través de una adición anti-Markovnikov.
<p> 
<p>A001-012: En presencia de peróxidos, la adición de HBr ocurre a través de una adición de Markovnikov.
<p> 
<p>A001-013: La regioselectividad de una reacción de adición ionica está determinada por la preferencia de que la reacción proceda a través del intermedio de carbocatión más estable.
<p> 
<p>A001-014: La regioselectividad de una reacción de adición ionica está determinada por la preferencia de que la reacción proceda a través del intermedio de carbocatión menos estable.
<p> 
<p>A001-015: Cuando se forma un nuevo centro de quiralidad en una reacción de adición, se obtiene un racemato.
<p> 
<p>A001-016: Cuando se forma un nuevo centro de quiralidad en una reacción de adición, se obtiene un solo enantiómero.
<p> 
<p>A001-017: Las reacciones de hidrohalogenación solo son efectivas cuando no es posible reorganizar los carbocationes.
<p> 
<p>A001-018: Las reacciones de hidrohalogenación solo son efectivas cuando son posibles los reordenamientos de carbocatión.
<p> 
<p>A001-019: La adición de agua (H y OH) a través de un doble enlace se llama hidratación.
<p> 
<p>A001-020: La adición de agua (H y OH) a través de un doble enlace se llama hidrohalogenación.
<p> 
<p>A001-021: La adición de agua en presencia de un ácido se llama hidratación catalizada por ácido, que generalmente ocurre a través de una adición de Markovnikov.
<p> 
<p>A001-022: La adición de agua en presencia de un ácido se llama hidratación catalizada por ácido, que generalmente ocurre a través de una adición anti-Markovnikov.
<p> 
<p>A001-023: La hidratación catalizada por ácido procede a través de un carbocatión intermedio, que es atacado por el agua para producir un ion oxonio, seguido de desprotonación.
<p> 
<p>A001-024: La hidratación catalizada por ácido procede a través de un carbocatión intermedio, que es atacado por el agua para producir un ion hidronio, seguido de desprotonación.
<p> 
<p>A001-025: La hidratación catalizada por ácido es ineficaz cuando son posibles reordenamientos de carbocatión.
<p> 
<p>A001-026: La hidratación catalizada por ácido es efectiva cuando son posibles reordenamientos de carbocatión.
<p> 
<p>A001-027: El ácido diluido favorece la formación de un alcohol, mientras que el ácido concentrado favorece la formación de alquenos.
<p> 
<p>A001-028: El ácido diluido favorece la formación de alquenos, mientras que el ácido concentrado favorece la formación de alcoholes.
<p> 
<p>A001-029: Cuando se genera un nuevo centro de quiralidad en una reacción de adición, se espera la formación de un racemato.
<p> 
<p>A001-030: Cuando se genera un nuevo centro de quiralidad en una reacción de adición, se espera un racemato de diastereoisómeros.
<p> 
<p>A001-031: La hidroboración-oxidación se puede usar para lograr una adición de agua anti-Markovnikov a un alqueno. La reacción es estereoespecífica y procede a través de una adición syn.
<p> 
<p>A001-032: La hidroboración-oxidación se puede usar para lograr una adición de agua Markovnikov a un alqueno. La reacción es estereoespecífica y procede a través de una adición syn.
<p> 
<p>A001-033: La hidroboración procede a través de un proceso concertado en el que el borano es atacado por un enlace π, lo que desencadena una transferencia de hidruro.
<p> 
<p>A001-034: La hidroboración procede a través de un proceso concertado en el que el borano ataca un enlace π, desencadenando un transferencia de hidruros.
<p> 
<p>A001-035: La hidrogenación catalítica implica la adición de H<sub>2</sub> a un alqueno en presencia de un catalizador metálico.
<p> 
<p>A001-036: La hidrogenación catalítica implica la adición de H<sub>2</sub> a un alqueno en presencia de un catalizador metálico como el carbono.
<p> 
<p>A001-037: En presencia de un ácido, el grupo carbonilo está protonado para formar un nucleófilo muy poderoso.
<p> 
<p>A001-038: En presencia de un ácido, el grupo carbonilo está protonado para formar un electrófilo muy poderoso.
<p> 
<p>A001-039: La hidrogenación catalítica se realiza mediante una adición <i>syn</i>.
<p> 
<p>A001-040: La hidrogenación catalítica se realiza mediante una adiciónadição <i>anti</i>.
<p> 
<p>A001-041: Los catalizadores heterogéneos no son solubles en el medio de reacción, mientras que los catalizadores homogéneos sí lo son.
<p> 
<p>A001-042: Los catalizadores heterogéneos son solubles en el medio de reacción, mientras que los catalizadores homogéneos no lo son.
<p> 
<p>A001-043: La halogenación implica la adición de X<sub>2</sub> (Br<sub>2</sub> ou Cl<sub>2</sub>) a un alqueno.
<p> 
<p>A001-044: La halogenación implica la adición de X<sub>2</sub> (Br<sub>2</sub>, Cl<sub>2</sub> ou I<sub>2</sub>) a un alqueno.
<p> 
<p>A001-045: La bromación se realiza a través de un puente intermedio, llamado ion de bromonio, que se abre mediante un proceso SN2 que produce una adición <i>anti</i>.
<p> 
<p>A001-046: La bromación procede a través de un puente intermedio llamado ion de bromonio, que se abre mediante un proceso SN2 que produce una adición <i>syn</i>.
<p> 
<p>A001-047: La bromación procede a través de un puente intermedio llamado ion de bromonio. Sin embargo, en presencia de agua, el producto es una bromohidrina o un clorhidrato y la reacción se llama formación de halohidrina.
<p> 
<p>A001-048: La bromación procede a través de un puente intermedio llamado ion de bromonio. Sin embargo, en presencia de agua, el producto es una bromohidrina o un clorhidrato y la reacción se llama formación de cianohidrina.
<p> 
<p>A001-049: Las reacciones de dihidroxilación se caracterizan por la adición de dos OH a un alqueno.
<p> 
<p>A001-050: Las reacciones de dihidroxilación se caracterizan por la adición de dos OH a un alcano.
<p> 
<p>A001-051: Un procedimiento de dos pasos para la anti-dihidroxilación implica la conversión de un alqueno en un epóxido, seguido de la apertura del anillo catalizado por ácido.
<p> 
<p>A001-052: Un procedimiento de tres pasos para la anti-dihidroxilación implica la conversión de un alqueno en un epóxido, seguido de la apertura del anillo catalizado por ácido.
<p> 
<p>A001-053: La dihidroxilación Syn se puede lograr con tetróxido de osmio o permanganato de potasio.
<p> 
<p>A001-054: La anti-dihidroxilación se puede lograr con tetróxido de osmio o permanganato de potasio.
<p> 
<p>A001-055: La ozonólisis puede usarse para escindir un doble enlace y producir dos carbonilos.
<p> 
<p>A001-056: La ozonólisis puede usarse para escindir un triple enlace y producir dos carbonilos.
<p> 
<p>A001-057: La hidrogenación catalítica de un alquino produce un alcano.
<p> 
<p>A001-058: La hidrogenación catalítica de un alquino produce un alqueno.
<p> 
<p>A001-059 La hidrogenación catalítica en presencia de un catalizador envenenado (catalizador Lindlar o Ni<sub>2</sub>B) produce un alqueno <i>cis</i>.
<p> 
<p>A001-060: La hidrogenación catalítica en presencia de un catalizador envenenado (catalizador Lindlar o Ni2B) produce un alqueno trans.
<p> 
<p>A001-061: Una reducción por metal disuelto convertirá un alquino en un alqueno trans.
<p> 
<p>A001-062: Una reducción por metal disuelto convertirá un alquino en un alqueno cis.
<p> 
<p>A001-063: Los alquinos reaccionan con HX a través de una adición syn-Markovnikov.
<p> 
<p>A001-064: Los alquinos reaccionan con HX mediante una adición anti-Markovnikov.
<p> 
<p>A001-065: Un posible mecanismo para la hidroalogenación de alquinos implica un carbocatión de vinilo.
<p> 
<p>A001-066: Un posible mecanismo para la hidrohalogenación de alcaloides implica un carbocatión alílico.
<p> 
<p>A001-067: La adición de HX a los alquinos probablemente ocurre a través de una variedad de caminos mecanicistas, todos ocurriendo al mismo tiempo y compitiendo entre sí.
<p> 
<p>A001-068: La adición de HX a los alquenos probablemente ocurre a través de una variedad de caminos mecanicistas, todos ocurriendo al mismo tiempo y compitiendo entre sí.
<p> 
<p>A001-069: El tratamiento de un alquino terminal con HBr y peróxidos da una adición anti-Markovnikov de HBr.
<p> 
<p>A001-070: El tratamiento de un alquino terminal con HBr y peróxidos proporciona una adición de Markovnikov de HBr.
<p> 
<p>A001-071: La hidratación alcalina es catalizada por el sulfato de mercurio (HgSO<sub>4</sub>) para producir un enol que no puede aislarse porque se convierte rápidamente en una cetona.
<p> 
<p>A001-072: La hidratación de los alquinos es catalizada por el sulfato de mercurio (HgSO<sub>4</sub>) para producir un enol que puede aislarse porque se convierte lentamente en una cetona.
<p> 
<p>A001-073: Los enoles y las cetonas son tautómeros, que son isómeros constitucionales que se convierten rápidamente mediante la migración de un protón.
<p> 
<p>A001-074: Los enoles y las cetonas son tautómeros, que son isómeros constitucionales que se convierten rápidamente a través de la migración de dos protones.
<p> 
<p>A001-075: La interconversión entre un enol y una cetona se llama tautomerización cetoenólica, y es catalizada por cantidades mínimas de ácido o base.
<p> 
<p>A001-076: La interconversión entre un enol y una cetona se llama racemización cetoenólica, y es catalizada por cantidades mínimas de ácido o base.
<p> 
<p>A001-077: Los alquinos se pueden halogenar para formar un tetrahalogenuro.
<p> 
<p>A001-078: Los alquinos se pueden halogenar para formar un dihalogenuro.
<p> 
<p>A001-079: Cuando se trata con ozono seguido de agua, los alquinos internos sufren una escisión oxidativa para producir ácidos carboxílicos.
<p> 
<p>A001-080: Cuando se trata con ozono seguido de agua, los alquinos internos sufren una escisión oxidativa para producir cetonas.
<p> 
<p>A001-081: Cuando un alquino terminal sufre una escisión oxidativa, el lado terminal se convierte en dióxido de carbono.
<p> 
<p>A001-082: Cuando un alquino terminal sufre una escisión oxidativa, el lado terminal se convierte en ácidos carboxílicos.
<p>A001-083: Los iones acetiluros se alquilan cuando se tratan con un haluro de alquilo (primario o secundario).
<p> 
<p>A001-084: Los iones acetiluros no se alquilan cuando se tratan con un haluro de alquilo (metilo o cebador).
<p> 
<p>A001-085: Un alqueno puede convertirse en un alquino mediante bromación seguido de eliminación con exceso de NaNH<sub>2</sub>.
<p> 
<p>A001-086: Un alquino puede convertirse en un alqueno mediante bromación seguido de eliminación con exceso de NaNH<sub>2</sub>.
<p> 
<p>A001-087: Los alquinos sufren muchas de las mismas reacciones de adición que los alquenos. Por ejemplo, los alquinos sufrirán hidrogenación catalítica como los alquenos.
<p> 
<p>A001-088: Los alquinos sufren muchas de las mismas reacciones de adición que los alquenos. Por ejemplo, los alquinos se someterán a hidrogenación catalítica como los alcanos.
<p> 
<p>A001-089: En las hidrogenaciones catalíticas, un alquino consume dos equivalentes de hidrógeno molecular produciendo un alcano.
<p> 
<p>A001-090: En las hidrogenaciones catalíticas, un alquino consume un equivalente de hidrógeno molecular produciendo un alqueno.
<p> 
<p>A001-091: La hidrogenación catalítica de alquinos con un catalizador parcialmente desactivado, llamado catalizador envenenado, convierte un alquino en un alqueno <i>cis</i>.
<p> 
<p>A001-092: Hay muchos catalizadores envenenados. Dos ejemplos comunes son el catalizador de Lindlar y el complejo de níquel-boro (Ni<sub>2</sub>B), que a menudo se denomina catalizador P-2.
<p> 
<p>A001-093: Un catalizador envenenado catalizará la conversión de un alquino en un alqueno cis, pero no catalizará la reducción posterior para formar el alcano. Por lo tanto, se puede usar un catalizador envenenado para convertir un alquino en un alqueno <i>cis</i>.
<p> 
<p>A001-094: Los alquinos se pueden reducir a alquenos trans mediante una reacción completamente diferente llamada disolución reductora de metales.
<p> 
<p>A001-095: En una reducción de alquino con Na/NH<sub>3</sub>, la naturaleza del intermedio (anión radical) explica la preferencia estereoquímica por la formación de un alqueno trans.
<p> 
<p>A001-096: La hidroboración-oxidación de alquinos es un proceso combinado que proporciona una adición anti-Markovnikov.
<p> 
<p>A001-097: Para evitar la segunda adición en alquinos, se usa un dialquilborano (R<sub>2</sub>BH) en lugar de BH<sub>3</sub>. Los dos grupos alquilo proporcionan un impedimento estérico que impide la segunda adición. Dos dialquilboranos comúnmente utilizados son disiamilborano y 9-BBN.
<p> 
<p>A001-098: Los alquinos tienen dos enlaces π y pueden agregar dos equivalentes de halógeno para formar un dialogenuro.
<p> 
<p>A001-099: Cuando se trata con ozono seguido de agua, los alquinos sufren una escisión oxidativa para producir ácidos carboxílicos.
<p> 
<p> A001-100: Cuando un alquino terminal sufre una escisión oxidativa, el lado terminal se convierte en monóxido de carbono.
<p> 
<p> 
<p> 
<p> 