<p> 
<p>AVENGERS DECK 4
<p> 
<p>A004-001: Al preparar un alcohol mediante una reacción de sustitución, los sustratos primarios requerirán condiciones de SN2 mientras los sustratos requerirán condiciones SN1.
<p> 
<p>A004-002: Cuando se prepara un alcohol mediante una reacción de sustitución, los sustratos primarios requerirán condiciones SN1, mientras que los sustratos requerirán condiciones SN2.
<p> 
<p>A004-003: Las reacciones de adición que producirán alcoholes incluyen hidratación catalizada por ácido, oximercuración-desmercuración y oxidación por hidroboración.
<p> 
<p>A004-004: Las reacciones de adición que producirán alcoholes incluyen hidratación catalizada por bases, oximercuración-desmercuración y oxidación por hidroboración.
<p> 
<p>A004-005: Los alcoholes se pueden formar tratando un grupo carbonilo (C=O) con un agente reductor. La reacción resultante implica una disminución en el estado de oxidación y se denomina reducción.
<p> 
<p>A004-006: Los alcoholes se pueden formar tratando un grupo carbonilo (C=O) con un agente reductor. La reacción resultante implica un aumento en el estado de oxidación y se denomina reducción.
<p> 
<p>A004-007: El LiAlH<sub>4</sub> es más reactivo que NaBH<sub>4</sub>. El LiAlH<sub>4</sub> reducirá los ácidos y ésteres carboxílicos, mientras que NaBH<sub>4</sub> no.
<p> 
<p>A004-008: El NaBH<sub>4</sub> es más reactivo que el LiAlH<sub>4</sub>. NaBH<sub>4</sub> reducirá los ácidos y ésteres carboxílicos, mientras que LiAlH<sub>4</sub> no.
<p> 
<p>A004-009: Los dioles están compuestos por dos grupos hidroxilo.
<p> 
<p>A004-010: Los trioles están compuestos por dos grupos hidroxilo.
<p> 
<p>A004-011: Los dioles pueden prepararse a partir de dicetonas mediante reducción usando un agente reductor.
<p> 
<p>A004-012: Los dioles pueden prepararse a partir de dicetonas mediante oxidación usando un agente oxidante.
<p> 
<p>A004-013: Los dioles también pueden prepararse mediante dihidroxilación syn o anti dihidroxilación de un alqueno.
<p> 
<p>A004-014: Los dioles también pueden prepararse mediante dihidroxilación syn o anti dihidroxilación de un alquino.
<p> 
<p>A004-015: Los reactivos de Grignard son nucleófilos de carbono que son capaces de atacar una amplia gama de electrófilos, incluido el grupo carbonilo de cetonas o aldehídos, para producir un alcohol.
<p>A004-016: Los reactivos de Grignard son nucleófilos de carbono que son capaces de atacar una amplia gama de nucleófilos, incluido el grupo carbonilo de cetonas o aldehídos, para producir un alcohol.
<p> 
<p>A004-017: Los reactivos de Grignard también reaccionan con los ésteres para producir alcoholes mediante la introducción de dos grupos R.
<p> 
<p>A004-018: Los reactivos de Grignard también reaccionan con ésteres para producir alcoholes mediante la introducción de un grupo R.
<p> 
<p>A004-019: Los alcoholes terciarios sufrirán una reacción SN1 cuando se traten con un haluro de hidrogeno.
<p> 
<p>A004-020: Los alcoholes terciarios sufrirán una reacción SN2 cuando se traten con un haluro de hidrógeno
<p> 
<p>A004-021: Los alcoholes primarios y secundarios se someterán a un proceso SN2 cuando se traten con HX, SOCl<sub>2</sub> o PBr<sub>3</sub> o cuando el grupo hidroxilo se convierta en un grupo tosilato, seguido de un ataque nucleofílico.
<p> 
<p>A004-022: Los alcoholes primarios y secundarios se someterán a un proceso SN1 cuando se trata con HX, SOCl<sub>2</sub> o PBr<sub>3</sub> o cuando el grupo hidroxilo se convierte en un grupo tosilato, seguido de un ataque nucleofílico.
<p> 
<p>A004-023: Los alcoholes terciarios se eliminan con E1 cuando se tratan con ácido sulfúrico.
<p> 
<p>A004-024: Los alcoholes terciarios sufren eliminación de E2 cuando se tratan con ácido sulfúrico.
<p> 
<p>A004-025: Para un proceso E2, el grupo hidroxilo se convierte en un tosilato o un haluro de alquilo.
<p> 
<p>A004-026: Para un proceso E2, el grupo hidroxilo se convierte en un tosilato o un haluro de acilo.
<p> 
<p>A004-027: Los alcoholes primarios pueden sufrir oxidación dos veces para producir un ácido carboxílico.
<p> 
<p>A004-028: Los alcoholes secundarios pueden oxidarse dos veces para dar un ácido carboxílico.
<p> 
<p>A004-029: Los alcoholes secundarios se oxidan solo una vez para dar una cetona.
<p> 
<p>A004-030: Los alcoholes terciarios pueden sufrir oxidación dos veces para dar una cetona.
<p> 
<p>A004-031: Los alcoholes terciarios no sufren oxidación.
<p> 
<p>A004-032: Los alcoholes terciarios sufren oxidación para producir ésteres.
<p> 
<p>A004-033: El reactivo oxidante más común es el ácido crómico (H<sub>2</sub>CrO<sub>4</sub>), que puede formarse a partir de trióxido de cromo (CrO<sub>3</sub>) o dicromato de sodio (Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) en solución acuosa ácida.
<p> 
<p>A004-034: El reactivo oxidante más común es el ácido percrómico (H2CrO4), que puede formarse a partir de trióxido de cromo (CrO3) o dicromato de sodio (Na2Cr2O7) en solución acuosa básica.
<p> 
<p>A004-035: PCC se utiliza para convertir un alcohol primario en un aldehído.
<p> 
<p>A004-036: PCC se utiliza para convertir un alcohol primario en un ácido carboxílico.
<p> 
<p>A004-037: Los fenoles sufren oxidación a quinonas.
<p> 
<p>A004-038: Los fenoles se reducen a quinonas.
<p> 
<p>A004-039: Se puede usar una base fuerte para desprotonar alcohol. Una base comúnmente utilizada es el hidruro de sodio (NaH).
<p> 
<p>A004-040: Se puede usar una base fuerte para desprotonar alcohol. Una base comúnmente utilizada es el hidróxido de sodio (NaOH).
<p> 
<p>A004-041: Li, Na ou K reaccionan con alcoholes para liberar hidrógeno gaseoso, produciendo el ion alcóxido.
<p> 
<p>A004-042: Li, Na ou K reaccionan con alcoholes para liberar hidrógeno gaseoso, produciendo el ion fenóxido.
<p> 
<p>A004-043: Haluros de alquilo pueden prepararse mediante reacciones de sustitución en las que un grupo saliente es sustituido por un grupo hidroxilo.
<p> 
<p>A004-044: Haluros de alquilo pueden prepararse mediante reacciones de sustitución aromática en las que un grupo saliente es sustituido por un grupo hidroxilo.
<p> 
<p>A004-045: El hidruro de litio y aluminio es un reactivo mucho más fuerte. Reacciona violentamente con agua y, por lo tanto, un disolvente prótico no puede estar presente junto con LiAlH<sub>4</sub> en el matraz de reacción.
<p> 
<p>A004-046: El hidruro de litio y aluminio es un reactivo mucho más débil. Reacciona lentamente con agua y, por lo tanto, puede estar presente un disolvente prótico junto con LiAlH4 en el matraz de reacción.
<p> 
<p>A004-047: Tanto el NaBH<sub>4</sub> como el LiAlH<sub>4</sub> reducirán las cetonas o los aldehídos. Estos agentes de suministro de hidruro ofrecen una ventaja significativa sobre la hidrogenación catalítica en que pueden reducir selectivamente un grupo carbonilo en presencia de un enlace C=C.
<p> 
<p>A004-048: Tanto el NaBH<sub>4</sub> como el LiAlH<sub>4</sub> reducirán las cetonas o los aldehídos. Estos agentes de suministro de hidruro ofrecen una ventaja significativa sobre la hidrogenación catalítica en que pueden reducir selectivamente un enlace C=C en presencia de un grupo carbonilo.
<p> 
<p>A004-049: El fenol se prepara industrialmente mediante un proceso de varios pasos que implica la formación y oxidación de cumeno.
<p> 
<p>A004-050: El fenol se prepara industrialmente a través de un proceso de varios pasos que implica la formación y la oxidación de la anilina.
<p> 
<p>A004-051: Los éteres se pueden preparar fácilmente a partir de la reacción entre un ion alcóxido y un haluro de alquilo, un proceso llamado síntesis de éter de Williamson.
<p> 
<p>A004-052: Los éteres se pueden preparar fácilmente a partir de la reacción entre un ion alcóxido y un haluro de acilo, un proceso llamado síntesis de éter de Williamson.
<p> 
<p>A004-053: Una síntesis del éter Williamson funciona mejor para haluros de metilo o haluros de alquilo primarios.
<p> 
<p>A004-054: Una síntesis del éter Williamson. funciona mejor para haluros de alquilo primarios o secundarios.
<p> 
<p>A004-055: Los haluros de alquilo secundarios son significativamente menos eficientes, y los haluros de alquilo terciarios no pueden usarse en una síntesis de éter de Williamson.
<p> 
<p>A004-056: Los haluros de alquilo primarios son significativamente menos eficientes, y los haluros de alquilo terciarios no pueden usarse en una síntesis de éter Williamson.
<p> 
<p>A004-057: Los éteres pueden prepararse a partir de alquenos mediante alcoximercuración-desmercuración, lo que da como resultado la adición de Markovnikov de RO y H a través de un alqueno.
<p> 
<p>A004-058: Los éteres pueden prepararse a partir de alquenos mediante alcoximercuración-desmercuración, lo que da como resultado la adición de Zaytev de RO y H a un alqueno.
<p> 
<p>A004-059: Cuando se trata con un ácido fuerte, un éter sufrirá una escisión ácida donde se convertirá en dos haluros de alquilo.
<p> 
<p>A004-060: Cuando se trata con una base fuerte, un éter sufrirá una escisión básica donde se convertirá en dos haluros de alquilo.
<p> 
<p>A004-061: Cuando un fenil éter se escinde bajo condiciones ácidas, los productos son fenol y un haluro de alquilo.
<p> 
<p>A004-062: Cuando un fenil éter se escinde bajo condiciones ácidas, se convierte en dos haluros de alquilo.
<p> 
<p>A004-063: Un éter cíclico de tres miembros se llama oxirano. Posee una tensión de anillo significativa y, por lo tanto, es más reactivo que otros éteres
<p> 
<p>A004-064: Un éter cíclico de tres miembros se llama oxano. Tiene tensión del anillo significativa y por lo tanto es más reactivo que otros éteres.
<p> 
<p>A004-065: Los alquenos pueden convertirse en epóxidos por tratamiento con peroxiácidos o por formación de halohidrina y posterior epoxidación. Ambos procedimientos son estereoselectivos.
<p> 
<p>A004-066: Los alquenos pueden convertirse en epóxidos por tratamiento con peroxiácidos o por formación de halohidrinas y posteriormente epoxidación ambos procedimientos son estereoespecíficos.
<p> 
<p>A004-067: Los sustitutos que son cis entre sí en el alqueno inicial permanecen cis entre sí en el epóxido, y los sustituyentes que son trans entre sí en el alqueno inicial permanecen trans entre sí en el epóxido.
<p> 
<p>A004-068: Los sustitutos que son cis entre sí en el alqueno inicial se convierten en cis entre sí en el epóxido.
<p> 
<p>A004-069: Los catalizadores aquirales pueden usarse para lograr la epoxidación enantioselectiva de alcoholes alílicos.
<p> 
<p>A004-070: Los catalizadores quirales se pueden usar para lograr epoxidación enantioselectiva de alcoholes alílicos.
<p> 
<p>A004-071: En una epoxidación asimétrica de Sharpless, el catalizador favorece la producción de un enantiómero sobre otro, lo que conduce a un exceso enantiomérico observado.
<p> 
<p>A004-072: En una epoxidación asimétrica de Sharpless, el catalizador favorece la producción de un racemato.
<p> 
<p>A004-073: Los epóxidos sufrirán reacciones de apertura de anillo (1) en condiciones que implican un nucleófilo fuerte o (2) en condiciones catalizadas por ácido.
<p> 
<p>A004-074: Los epóxidos sufrirán reacciones de apertura del anillo (1) en condiciones que involucren un electrófilo fuerte o (2) en condiciones catalizadas por ácido.
<p> 
<p>A004-075: Quan Cuando se usa un nucleófilo fuerte, el nucleófilo ataca la posición menos sustituida (menos obstaculizada)
<p> 
<p>A004-076: Cuando se usa un nucleófilo fuerte, el nucleófilo ataca la posición más sustituida (más obstaculizada).
<p> 
<p>A004-077: En condiciones catalizadas por ácido, el resultado regioquímico depende de la naturaleza del epóxido y se explica en términos de una competencia entre los efectos electrónicos y los efectos estéricos.
<p>A004-078: En condiciones catalizadas por bases, el resultado regioquímico depende de la naturaleza del epóxido y se explica en términos de una competencia entre los efectos electrónicos y los efectos estéricos.
<p> 
<p>A004-079: El resultado estereoquímico implica invertir la configuración en todas las condiciones.
<p> 
<p>A004-080: El resultado estereoquímico implica la retención de la configuración en todas las condiciones.
<p> 
<p>A004-081: Los análogos de azufre de los alcoholes contienen un grupo SH en lugar de un grupo OH y se denominan tioles.
<p> 
<p>A004-082: A Los análogos de azufre de los alcoholes contienen un grupo SO<sub>3</sub>H en lugar de un grupo OH y se denominan tioles.
<p> 
<p>A004-083: Abrir un epóxido produce un compuesto con dos grupos funcionales en átomos de carbono adyacentes. Siempre que veas dos grupos funcionales adyacentes, debes pensar en epóxidos.
<p> 
<p>A004-084: Abrir un epóxido produce un compuesto con dos grupos funcionales en átomos de carbono adyacentes. Siempre que veas dos grupos funcionales adyacentes, debes pensar en los alcóxidos.
<p> 
<p>A004-085: Cuando un reactivo de Grignard reacciona con un epóxido, se forma un enlace C-C. Esta reacción se puede utilizar para introducir una cadena de átomos de carbono que tienen un grupo funcional incorporado en el segundo átomo de carbono.
<p> 
<p>A004-086: Cuando un reactivo de Grignard reacciona con un epóxido, se forma un enlace C=C. Esta reacción se puede utilizar para introducir una cadena de átomos de carbono que tienen un grupo funcional incorporado en el segundo átomo de carbono.
<p> 
<p>A004-087: Los ésteres son compuestos que exhiben un átomo de oxígeno unido a dos grupos R, donde cada grupo R puede ser un grupo alquilo, arilo o vinilo.
<p> 
<p>A004-088: Los ésteres son compuestos que exhiben un átomo de oxígeno unido a dos grupos R, donde cada grupo R puede ser un grupo alquilo, arilo o vinilo.
<p> 
<p>A004-089: El éter dietílico se prepara industrialmente por deshidratación catalizada con ácido de etanol.
<p> 
<p>A004-090: El éter dietílico se prepara industrialmente mediante deshidratación de etanol catalizada por bases.
<p> 
<p>A004-091: Los éteres generalmente no son reactivos en condiciones básicas o ligeramente ácidas. Como resultado, son una opción ideal como solventes para muchas reacciones.
<p> 
<p>A004-092: Los éteres son generalmente reactivos en condiciones básicas o ligeramente ácidas. Como resultado, no son una opción ideal como solventes para muchas reacciones.
<p> 
<p>A004-093: Tanto el HI como el HBr pueden usarse para escindir los éteres. El HCl es menos eficiente y el HF no causa la escisión ácida de los éteres.
<p> 
<p>A004-094: Tanto HF como HCl pueden usarse para escindir los éteres. HBr es menos eficiente y HI no causa escisión ácida de éteres.
<p> 
<p>A004-095: Los alquenos pueden convertirse en epóxidos después del tratamiento con peróxidos.
<p> 
<p>A004-096: Los alquinos pueden convertirse en epóxidos después del tratamiento con peróxidos.
<p> 
<p>A004-097: Los alquenos pueden convertirse en halohidrinas cuando se tratan con halógeno en presencia de agua.
<p> 
<p>A004-098: Los alquenos pueden convertirse en halohidrinas cuando se tratan con halógeno en presencia de alcohol.
<p> 
<p>A004-099: Las halohidrinas se pueden convertir en epóxidos después del tratamiento con una base fuerte.
<p> 
<p>A004-100: Las halohidrinas pueden convertirse en epóxidos después del tratamiento con un ácido fuerte.
<p> 
<p> 
<p> 
<p> 