<p> 
<div title="header">
<p> 
</div>
<p>AVENGERS DECK 5
<p> 
<p>A005-001: Tanto los aldehídos como las cetonas contienen un grupo carbonilo, ambos son comunes en la naturaleza y la industria, y juegan un papel central en la química orgánica.
<p> 
<p>A005-002: Los aldehídos se pueden preparar por oxidación de alcoholes primarios, ozonólisis de alquenos o hidroboración-oxidación de alquinos terminales.
<p> 
<p>A005-003: Aldehydes can be prepared via oxidation of secondary alcohols, ozonolysis of alkenes, or hydroboration-oxidation of terminal alkynes.
 
<p>A005-004: Las cetonas se pueden preparar por oxidación de alcoholes secundarios, ozonólisis de alquenos, hidratación catalizada por ácido de alquinos terminales o acilación Friedel-Crafts.
<p> 
<p>A005-005: Los aldehídos se pueden preparar por oxidación de alcoholes secundarios, ozonólisis de alquenos, hidratación catalizada por ácido de alquinos terminales o acilación Friedel-Crafts.
<p> 
<p>A005-006: La electrofilicidad de un grupo carbonilo se deriva tanto de la resonancia como de los efectos inductivos.
<p> 
<p>A005-007: Los aldehídos son más reactivos que las cetonas como resultado de sus efectos estéricos y electrónicos.
<p> 
<p>A005-08: La nucleofilicidad de un grupo carbonilo se deriva tanto de la resonancia como de los efectos inductivos.
<p> 
<p>A005-009: Un mecanismo general para la adición nucleofílica en condiciones básicas implica dos pasos: 1. Ataque nucleofílico para generar un intermedio tetraédrico. 2. Transferencia de protones
<p> 
<p>A005-010: Los aldehídos son menos reactivos que las cetonas como resultado de los efectos estéricos y electrónicos.
<p> 
<p>A005-011: Formación de hidratos: La posición de equilibrio depende de la capacidad del nucleófilo para funcionar como un grupo saliente.
<p> 
<p>A005-012: Formación de hidratos: La posición de equilibrio depende de la capacidad del electrófilo para funcionar como un grupo saliente.
<p> 
<p>A005-013: Cuando un aldehído o cetona se trata con agua, el carbonilo puede convertirse en hidrato.
<p> 
<p>A005-014: Cuando un aldehído o cetona se trata con agua, el carbonilo se puede convertir en acetal.
<p> 
<p> 
<p>A005-015: Formación de hidratos: el equilibrio generalmente favorece el carbonilo, a excepción de los aldehídos muy simples, o cetonas con sustituyentes fuertemente extractores de electrones.
<p> 
<p>A005-016: Formación de hidratos: el equilibrio generalmente favorece a los hidratos, a excepción de los aldehídos muy simples o cetonas con sustituyentes fuertemente extractores de electrones.
<p> 
<p>A005-017: En condiciones ácidas, un aldehído o cetona reaccionará con dos moléculas de alcohol para formar un acetal.
<p> 
<p>A005-018: En condiciones básicas, un aldehído o cetona reaccionará con dos moléculas de alcohol para formar un acetal.
<p> 
<p>A005-019: En presencia de un ácido, el grupo carbonilo está protonado para formar un electrófilo muy poderoso.
<p> 
<p>A005-020: En presencia de un ácido, el grupo carbonilo está protonado para formar un nucleófilo muy poderoso.
<p> 
<p>A005-021: El mecanismo para la formación de acetal se puede dividir en dos partes: 1. Los primeros tres pasos producen un hemiacetal. 2. Los últimos cuatro pasos convierten el hemiacetal en acetal.
<p> 
<p>A005-022: Para muchas cetonas simples, el equilibrio favorece la formación de acetal; sin embargo, para la mayoría de los aldehídos, el equilibrio favorece los reactivos sobre los productos.
<p> 
<p>A005-023: Para muchos aldehídos simples, el equilibrio favorece la formación de acetal; sin embargo, para la mayoría de las cetonas, el balance favorece los reactivos sobre los productos.
<p> 
<p>A005-024: Un aldehído o cetona reaccionará con una molécula de un diol para formar un acetal cíclico.
<p> 
<p>A005-025: Un aldehído o cetona reaccionará con una molécula de un diol para formar un hemiacetal cíclico.
<p> 
<p>A005-026: Los acetales son estables en condiciones fuertemente ácidas.
<p> 
<p>A005-027: La reversibilidad de la formación de acetal les permite actuar como grupos protectores para cetonas o aldehídos.
<p> 
<p>A005-028: Los hemiacetales son generalmente difíciles de aislar a menos que sean acíclicos.
<p> 
<p>A005-029: Los acetales son estables bajo condiciones fuertemente básicas.
<p> 
<p>A005-030: En condiciones ácidas, un aldehído o cetona reaccionará con una amina primaria para formar una enamina.
<p> 
<p>A005-031: Los hemiacetales son generalmente difíciles de aislar a menos que sean cíclicos.
<p> 
<p>A005-032: Los primeros tres pasos en la formación de enaminas producen una carbinolamina, y los últimos tres pasos convierten la carbinolamina en una enamina.
<p> 
<p>A005-033: En condiciones ácidas, un aldehído o cetona reaccionará con una amina primaria para formar una imina.
<p> 
<p>A005-034: Muchos compuestos de forma R<sub>2</sub>NH diferentes reaccionarán con aldehidos y cetonas. Por ejemplo, cuando la hidrazina se usa como nucleófilo (NH<sub>2</sub>NH<sub>2</sub>), se forma una hidrazona.
<p> 
<p>A005-035: Os primeiros três passos na formação de iminas produzem uma carbinolamina, e os últimos três passos convertem a carbinolamina em uma imina.
<p> 
<p>A005-036: Muchos compuestos de forma diferente de RNH<sub>2</sub> reaccionarán con aldehídos y cetonas. Por ejemplo, cuando se usa hidroxilamina como nucleófilo (NH<sub>2</sub>OH), se forma una hidrazona.
<p> 
<p>A005-037: Muchos compuestos de forma RNH<sub>2</sub> diferentes reaccionarán con aldehidos y cetonas. Por ejemplo, cuando la hidrazina se usa como nucleófilo (NH<sub>2</sub>NH<sub>2</sub>), se forma una hidrazona.
<p> 
<p>A005-038: En condiciones ácidas, un aldehído o cetona reaccionará con una amina secundaria para formar una imina. El mecanismo de formación de imina es idéntico al mecanismo de formación de enamina, excepto en el último paso.
<p> 
<p>A005-039: Muchos compuestos de forma diferente de RNH<sub>2</sub> reaccionarán con aldehídos y cetonas. Por ejemplo, cuando se usa hidroxilamina como nucleófilo (NH<sub>2</sub>OH), se forma una oxima.
<p> 
<p>A005-040: En la reducción de Wolff-Kishner, una hidrazona se reduce a un alqueno en condiciones muy básicas.
<p> 
<p>A005-041: En condiciones ácidas, un aldehído o cetona reaccionará con una amina secundaria para formar una enamina. El mecanismo de formación de imina es idéntico al mecanismo de formación de imina, excepto en el último paso.
<p> 
<p>A005-042: En condiciones ácidas, todos los reactivos, intermediarios y los grupos salientes deben ser neutrales (sin carga) o deben soportar una carga negativa.
<p> 
<p>A005-043: En la reducción de Wolff-Kishner, una hidrazona se reduce a un alcano en condiciones muy básicas.
<p> 
<p>A005-044: La hidrólisis de acetales, iminas y enaminas, en condiciones básicas, produce cetonas o aldehídos.
<p> 
<p>A005-045: En condiciones ácidas, todos los reactivos, intermediarios y grupos salientes deben ser neutros (sin carga) o deben soportar una carga positiva.
<p> 
<p>A005-046: Quando tratados com níquel de Raney, os acetais sofrem dessulfurização para produzir um grupo metileno.
<p> 
<p>A005-047: La hidrólisis de acetales, iminas y enaminas en condiciones ácidas produce cetonas o aldehídos.
<p> 
<p>A005-048: En condiciones ácidas, un aldehído o cetona reaccionará con un equivalente de un tiol para formar un tioacetal. Si se usa un compuesto con dos grupos SH, se forma un tioacetal cíclico.
<p> 
<p>A005-049: En condiciones ácidas, un aldehído o cetona reaccionará con dos equivalentes de un tiol para formar un tioacetal. Si se usa un compuesto con dos grupos SH, se forma un tioacetal cíclico.
<p> 
<p>A005-050: La reducción de un carbonilo con LiAlH<sub>4</sub> o NaBH<sub>4</sub> es un proceso reversible porque el hidruro funciona como un grupo saliente.
<p> 
<p>A005-051: Cuando se trata con níquel Raney, los acetales se someten a desulfuración para producir un grupo metileno.
<p> 
<p>A005-052: Cuando se trata con un agente reductor como el hidruro de sodio (NaH) o el hidruro de calcio (CaH<sub>2</sub>), los aldehídos y las cetonas se reducen a alcoholes.
<p> 
<p>A005-053: Cuando se trata con un agente reductor como el hidruro de litio y aluminio (LiAlH<sub>4</sub>) o el borohidruro de sodio (NaBH<sub>4</sub>), los aldehídos y las cetonas se reducen a alcoholes.
<p> 
<p>A005-054: Cuando se trata con un agente de Grignard, aldehídos y cetonas se convierten en alcoholes, acompañados de la formación de un nuevo enlace C=C.
<p> 
<p>A005-055: La reducción de un carbonilo con LiAlH<sub>4</sub> o NaBH<sub>4</sub> no es un proceso reversible porque el hidruro no funciona como un grupo saliente.
<p> 
<p>A005-056: La reacción de Wittig se puede usar para convertir una cetona en alcano.
<p> 
<p>A005-057: Cuando se trata con un agente de Grignard, aldehídos y cetonas se convierten en alcoholes, acompañados de la formación un nuevo enlace C-C.
<p> 
<p>A005-058: Las reacciones de Grignard son reversibles, porque los carbaniones funcionan como grupos salientes.
<p> 
<p>A005-059: Las reacciones de Grignard no son reversibles, porque los carbaniones no funcionan como grupos salientes.
<p>A005-060: Cuando se trata con cianuro de hidrógeno (HCN), aldehídos y Las cetonas se convierten en halohidrinas. Para la mayoría de los aldehídos y cetonas no impedidos, el equilibrio favorece la formación de cianhidrina.
<p> 
<p>A005-061: Cuando se trata con cianuro de hidrógeno (HCN), aldehídos y Las cetonas se convierten en cianhidrinas. Para la mayoría de los aldehídos y cetonas no impedidos, el equilibrio favorece la formación de cianhidrina.
<p> 
<p>A005-062: El mecanismo de una reacción de Wittig implica la formación inicial de una betaína, que que reordena y genera el producto.
<p> 
<p>A005-063: La reacción de Wittig se puede usar para convertir una cetona en alqueno.
<p> 
<p>A005-064: El reactivo de Wittig que realiza la transformación de un aldehído o cetona en un alqueno es llamado fosfonato, que pertenece a una clase más grande de compuestos llamados ilídeos.
<p> 
<p>A005-065: El reactivo de Wittig que transforma un aldehído o cetona en un alqueno se llama fosforano, que pertenece a una clase más grande de compuestos llamados ilídeos.
<p> 
<p>A005-066: La oxidación de Baeyer-Villiger convierte una cetona en un éster al insertar un átomo de oxígeno cerca del carbonilo. Las cetonas cíclicas producen ésteres cíclicos llamados lactamas.
<p> 
<p>A005-067: El mecanismo de una reacción de Wittig implica la formación inicial de un oxafosfetano, que que reordena y genera el producto.
<p> 
<p>A005-068: Los cálculos moleculares orbitales sugieren que el ataque nucleofílico ocurre en un ángulo de aproximadamente 90° con respecto al plano del grupo carbonilo de aldehídos y cetonas.
<p> 
<p>A005-069: La oxidación de Baeyer-Villiger convierte una cetona en un éster al insertar un átomo de oxígeno cerca del carbonilo. Las cetonas cíclicas producen ésteres cíclicos llamados lactonas.
<p> 
<p>A005-070: Cuando una cetona asimétrica se trata con un peroxiácido, la formación del éster es estereoselectiva, y el producto es determinado por la aptitud migratoria de cada grupo cercano al carbonilo.
<p> 
<p>A005-071: Cuando una cetona asimétrica se trata con un peroxiácido, la formación del éster es regioselectiva, y el producto es determinado por la aptitud migratoria de cada grupo cercano al carbonilo.
<p> 
<p>A005-072: El pH de la solución es un factor importante durante la formación de imina, con una velocidad de reacción más alta cuando el pH es de alrededor de 2.5.
<p> 
<p>A005-073: Los cálculos moleculares orbitales sugieren que el ataque nucleofílico se produce en un ángulo de aproximadamente 107° con respecto al plano del grupo carbonilo de aldehídos y cetonas.
<p> 
<p>A005-074: En general, los aldehídos son más reactivos que las cetonas contra el ataque electrofílico.
<p> 
<p>A005-075: En general, los aldehídos son más reactivos que las cetonas contra el ataque nucleofílico.
<p> 
<p>A005-076: Una cetona tiene dos grupos alquilo que contribuyen al impedimento estérico en el estado de transición de un ataque nucleofílico. Por el contrario, un aldehído tiene solo un grupo alquilo, por lo que el estado de transición está más congestionado y tiene mayor energía.
<p> 
<p>A005-077: Una cetona tiene dos grupos alquilo que contribuyen al impedimento estérico en el estado de transición de un ataque nucleofílico. En contraste, un aldehído tiene solo un grupo alquilo, por lo que el estado de transición es menos congestionado y más bajo en energía.
<p> 
<p>A005-078: Una cetona tiene dos grupos alquilo donadores de electrones que pueden estabilizar el δ+ en el átomo de carbono carbonilo. Por lo tanto, la carga δ+ de un aldehído está más estabilizada que la de una cetona.
<p> 
<p>A005-079: Una cetona tiene dos grupos alquilo donadores de electrones que pueden estabilizar el δ+ en el átomo de carbono carbonilo. Por lo tanto, la carga δ+ de un aldehído está menos estabilizada que la de una cetona.
<p> 
<p>A005-080: Los aldehídos y las cetonas reaccionan con una amplia variedad de nucleófilos. Algunos nucleófilos requieren condiciones básicas, mientras que otros requieren condiciones ácidas
<p> 
<p>A005-081: Los aldehídos y las cetonas reaccionan con una amplia variedad de nucleófilos. Todos los nucleófilos requieren condiciones ácidas.
<p> 
<p>A005-082: Los reactivos de Grignard son nucleófilos muy débiles que atacan los aldehídos y las cetonas para producir alcoholes.
<p> 
<p>A005-083: Los reactivos de Grignard son nucleófilos muy fuertes que atacan los aldehídos y las cetonas para producir alcoholes.
<p> 
<p>A005-084: Los reactivos de Grignard se destruyen en presencia de una base.
<p> 
<p>A005-085: Los reactivos de Grignard se destruyen en presencia de un ácido.
<p> 
<p>A005-086: En condiciones ácidas, un aldehído o cetona reaccionará con dos moléculas de alcohol para formar un acetal. Los ácidos comunes utilizados para este propósito incluyen el ácido para-toluenosulfónico (TsOH) y el ácido sulfúrico (H<sub>2</sub>SO<sub>4</sub>).
<p>A005-087: Cuando un nucleófilo ataca un carbonilo en condiciones ácidas o básicas, la posición de equilibrio depende en gran medida de la capacidad del nucleófilo para funcionar como un grupo saliente.
<p> 
<p>A005-088: Para volver a convertir un acetal en el correspondiente aldehído o cetona, simplemente se trata con alcohol en presencia de un catalizador básico.
<p> 
<p>A005-089: La formación de acetal es un proceso reversible que puede controlarse eligiendo cuidadosamente los reactivos y las condiciones.
<p> 
<p> A005-090: Para volver a convertir un acetal en el correspondiente aldehído o cetona, simplemente se trata con alcohol en presencia de un catalizador ácido.
<p> 
<p>A005-091: Para volver a convertir un acetal en el correspondiente aldehído o cetona, simplemente se trata con agua en presencia de un catalizador ácido.
<p> 
<p>A005-092: En condiciones fuertemente ácidas, un aldehído o cetona reaccionará con una amina primaria para formar una enamina.
<p> 
<p>A005-093: Bajo condiciones fuertemente ácidas, un aldehído o cetona reaccionará con una amina primaria para formar una imina.
<p> 
<p>A005-094: Cuando se usa hidroxilamina (NH<sub>2</sub>OH) como nucleófilo, se forma una hidrazona. Cuando la hidrazina (NH<sub>2</sub>NH<sub>2</sub>) se usa como nucleófilo, se forma una oxima.
<p> 
<p>A005-095: En condiciones ácidas, un aldehído o cetona reaccionará con una amina secundaria para formar una imina.
<p> 
<p>A005-096: En condiciones ácidas, un aldehído o cetona reaccionará con una amina secundaria para formar una imina.
<p> 
<p>A005-097: Las cetonas se pueden convertir en hidrazonas. Esta transformación tiene utilidad práctica porque las hidrazonas se reducen fácilmente en condiciones fuertemente básicas para generar un alcano.
<p> 
<p>A005-098: Los acetales, las iminas y las enaminas pueden convertirse nuevamente en cetonas mediante tratamiento con exceso de agua en condiciones de catálisis básicas.
<p> 
<p>A005-099: Raney Ni es una forma esponjosa de níquel que ha adsorbido átomos de hidrógeno. Son estos átomos de hidrógeno los que eventualmente reemplazan a los átomos de azufre en los tioacetales.
<p> 
<p>A005-100: Cuando se trata con cianuro de hidrógeno (HCN), los aldehídos y las cetonas se convierten en halohidrinas.
<p> 
<p> 
<p>O simulador do Windows XP é executado em um navegador da Web e sua operação imita o sistema operacional. Você pode usá-lo para brincar com alguém.