<p> 
<p>AVENGERS DECK 6
<p> 
<p>A006-001: Le traitement d’un acide carboxylique avec une base forte telle que l’hydroxyde de sodium donne un sel de carboxylate.
<p> 
<p>A006-002: Le traitement d’un acide carboxylique avec une base faible telle que la carbonate de calcium donne un sel de carboxylate.
<p> 
<p>A006-003: Lors du traitement avec un acide en milieu aqueux, un nitrile subit une hydrolyse conduisant à la formation d’un acide carboxylique.
<p> 
<p>A006-004: Lors du traitement avec un acide en milieu aqueux, un nitrile subit une hydrolyse conduisant à la formation d’une amine. 
 
<p>A006-005: Les dérivés d’acides carboxyliques diffèrent par leur réactivité ; les halogénures d’acides étant les plus réactifs et les amides les moins réactifs. 
 
<p>A006-006: Les dérivés d’acides carboxyliques diffèrent par leur réactivité ; les halogénures d’acides étant les moins réactifs et les amides les plus réactifs. 
 
<p>A006-007: Lorsqu’un nucléophile attaque un dérivé d’acide carboxylique, une substitution nucléophile d’acyle peut avoir lieu au cours de laquelle le nucléophile remplace le groupement partant. 
 
<p>A006-008: Lorsqu’un nucléophile attaque un dérivé d’acide carboxylique, une addition nucléophile d’acyle peut avoir lieu au cours de laquelle le nucléophile s’additionne sur le groupement carbonyle. 
 
<p>A006-009: Le mécanisme d’une substitution nucléophile d’acyle implique deux étapes clés et implique également souvent plusieurs étapes de transfert de proton (particulièrement dans des conditions acides). 
 
<p>A006-010: Le mécanisme d’une substitution nucléophile d’acyle implique deux étapes clés et implique également souvent plusieurs étapes de transfert de proton (particulièrement dans des conditions basiques). 
 
<p>A006-011: Quand un nucléophile attaque un groupement carbonyle pour former un intermédiaire tétraédrique, il faut toujours reformer le carbonyle si possible mais jamais expulser H<sup>-</sup> ou C<sup>-</sup>. 
 
<p>A006-012: Quand un nucléophile attaque un groupement carbonyle pour former un intermédiaire tétraédrique, il faut toujours reformer le carbonyle si possible en expulsant H<sup>-</sup> ou C<sup>-</sup>. 
 
<p>A006-013: Les chlorures d’acides peuvent être formés en traitant les acides carboxyliques avec du chlorure de thionyle.
 
<p>A006-014: Les chlorures d’acides peuvent être formés en traitant les acides carboxyliques avec de l’acide chlorhydrique.
 
<p>A006-015: Lors du traitement avec de l’eau, les chlorures d’acide sont hydrolysés pour donner des acides carboxyliques.
 
<p>A006-016: Lors du traitement avec de l’eau, les chlorures d’acide sont hydrolysés pour donner des alcools carboxyliques.
 
<p>A006-017: Lors du traitement avec un alcool, les chlorures d’acide sont convertis en esters.
 
<p>A006-018: Lors du traitement avec un alcool, les chlorures d’acide sont convertis en acétals.
 
<p>A006-019: Lors du traitement avec de l’ammoniac, les chlorures d’acide sont convertis en amides. Deux équivalents d’ammoniac sont nécessaires : l’un joue le rôle de nucléophile et l’autre joue le rôle de base.
 
<p>A006-020: Lors du traitement avec de l’ammoniac, les chlorures d’acide sont convertis en amines. Deux équivalents d’ammoniac sont nécessaires: l’un joue le rôle de nucléophile et l’autre joue le rôle de base.
 
<p>A006-021: Lors du traitement avec un excès de LAH, les chlorures d’acide sont réduits en alcools en raison de l’attaque de deux équivalents hydrures.
 
<p>A006-022: Lors du traitement avec un excès de LAH, les chlorures d’acide sont réduits en aldéhydes.
 
<p>A006-023: Lors du traitement avec réactif de Grignard, les chlorures d’acide sont convertis en alcools avec introduction de deux groupements alkyles.
 
<p>A006-024: Lors du traitement avec réactif de Grignard, les chlorures d’acide sont convertis en cétones.
 
<p>A006-025: L’acide acétique peut être converti en anhydride acétique par chauffage élevé.
 
<p>A006-026: Les chlorures d’acide peuvent être convertis en anhydride acétique par chauffage élevé.
<p> 
<p>A006-027: Les anhydrides d’acides peuvent être préparés en traitant un chlorure d’acide avec un ion carboxylate.
 
<p>A006-028: Les anhydrides d’acides peuvent être préparés en traitant un chlorure d’acide avec une amine.
 
<p>A006-029: Les réactions des anhydrides sont identiques aux réactions des chlorures d’acide exceptée la nature du groupement partant. 
 
<p>A006-030: Les réactions des anhydrides sont identiques aux réactions des aldéhydes exceptée la nature du groupement partant. 
 
<p>A006-031: Lors du traitement avec une base forte puis d’un halogénure d’alkyle, les acides carboxyliques sont convertis en esters.
 
<p>A006-032: Lors du traitement avec un acide fort puis d’un halogénure d’alkyle, les acides carboxyliques sont convertis en esters.
 
<p>A006-033: Dans le processus appelé estérification de Fischer, les acides carboxyliques sont convertis en esters lors du traitement avec un alcool en présence d’un catalyseur acide. Ce processus est réversible.
 
<p>A006-034: Dans le processus appelé estérification de Newman, les acides carboxyliques sont convertis en esters lors du traitement avec un alcool en présence d’un catalyseur acide. Ce processus est réversible.
 
<p>A006-035: Les esters peuvent également être préparés en traitant un chlorure d’acide avec un alcool en présence de pyridine.
 
<p>A006-036: Les esters peuvent également être préparés en traitant un chlorure d’acide avec de l’eau en présence de pyridine.
 
<p>A006-037: Les esters peuvent également être hydrolysés pour donner des acides carboxyliques par traitement avec une base ou un acide en milieu aqueux. L’hydrolyse en conditions basiques est également appelée une saponification.
<p> 
<p>A006-038: Les esters peuvent également être hydrolysés pour donner des acides carboxyliques par traitement avec une base ou un acide en milieu aqueux. L’hydrolyse en conditions basiques est également appelée une estérification.
 
<p>A006-039: Lors du traitement avec de l’hydrure d’aluminium lithium, les esters sont réduits en alcools. Lorsque le produit désiré est un aldéhyde, DIBAH est utilisé comme agent réducteur à la place de LAH.
 
<p>A006-040: Lors du traitement avec de l’hydrure d’aluminium lithium, les esters sont réduits en alcools. Lorsque le produit désiré est un aldéhyde, NaBH<sub>4</sub> est utilisé comme agent réducteur à la place de LAH.
 
<p>A006-041: Lors du traitement avec un réactif de Grignard, les esters sont réduits en alcools avec l’introduction de deux groupement alkyle.
 
<p>A006-042: Lors du traitement avec un réactif de Grignard, les esters sont réduits en alcools avec l’introduction d’un groupement alkyle.
 
<p>A006-043: Les amides sont préparés le plus efficacement à partir de chlorures d’acides.
<p> 
<p>A006-044; Les amides sont préparés le plus efficacement à partir d’acides carboxyliques.
<p>A006-045: Les amides sont hydrolysés pour donner des acides carboxyliques par traitement avec une base ou un acide en milieu aqueux.
<p> 
<p>A006-046: Les acides carboxyliques sont hydrolysés pour donner des amides par traitement avec une base ou un acide en milieu aqueux.
<p> 
<p>A006-047: Lors du traitement avec un excès de LAH, les amides sont convertis en amines.
<p> 
<p>A006-048: Lors du traitement avec un excès de LAH, les amines sont convertis en amides.
<p> 
<p>A006-049: Les nitriles peuvent être préparés en traitant un halogénure d’alkyle avec un ion cyanure ou via la déshydratation d’un amide.
<p> 
<p>A006-050: Les nitriles peuvent être préparés en traitant un halogénure d’acyle avec un ion cyanure ou via la déshydratation d’un amide.
<p> 
<p>A006-051: Les nitriles peuvent être hydrolysés en acides carboxyliques par traitement avec une base ou un acide en milieu aqueux.
<p> 
<p>A006-052: Les nitriles peuvent être hydrolysés en amines par traitement avec une base ou un acide en milieu aqueux.
<p> 
<p>A006-053: Une cétone est obtenue lorsqu’un nitrile est traité par un réactif de Grignard puis d’un acide en milieu aqueux.
<p> 
<p>A006-054: Une aldéhyde est obtenu lorsqu’un nitrile est traité par un réactif de Grignard puis d’un acide en milieu aqueux.
<p> 
<p>A006-055: Les nitriles sont convertis en amines lors d’un traitement avec LAH.
 
<p>A006-056: Les nitriles sont convertis en amides lors d’un traitement avec LAH.
 
<p>A006-057: Les acides carboxyliques et leurs dérivés peuvent être facilement interconvertis.
<p> 
<p>A006-058: Les acides carboxyliques et leurs dérivés ne peuvent pas être facilement interconvertis.
<p> 
<p>A006-059: Un acide carboxylique est obtenu lorsqu’un nitrile est traité par un réactif de Grignard puis d’un acide en milieu aqueux.
<p> 
<p>A006-060: Un acide carboxylique est obtenu lorsqu’un amide est traité par un réactif de Grignard puis d’un acide en milieu aqueux.
<p> 
<p>A006-061: Une large variété d’agents oxydants puissants peut être utilisée pour oxyder des alcools primaires et produire des acides carboxyliques.
<p> 
<p>A006-062: Une large variété d’agents oxydants puissants peut être utilisée pour oxyder des alcools secondaires et produire des acides carboxyliques.
<p>A006-063: L’hydrolyse des nitriles est un processus en deux étapes qui permet de convertir un halogénure d’alkyle en acide carboxylique.
<p> 
<p>A006-064: L’hydrolyse des nitriles est un processus en deux étapes qui permet de convertir un halogénure d’acyle en acide carboxylique.
<p> 
<p>A006-065: Les acides carboxyliques peuvent également être préparés en traitant un réactif de Grignard avec du dioxyde de carbone.
<p> 
<p>A006-066: Les acides carboxyliques peuvent également être préparés en traitant un réactif de Grignard avec du monoxyde de carbone.
<p> 
<p>A006-067: Les acides carboxyliques sont réduits en alcools par traitement avec de l’hydrure d’aluminium lithium.
<p> 
<p>A006-068: Les acides carboxyliques sont réduits en aldéhydes par traitement avec de l’hydrure d’aluminium lithium.
<p> 
<p>A006-069; Les acides carboxyliques peuvent subir un grand nombre d’autres réactions qui n’impliquent pas de changement de degré d’oxydation.
<p> 
<p>A006-070: Les acides carboxyliques peuvent subir un grand nombre d’autres réactions qui impliquent un changement de degré d’oxydation.
<p> 
<p>A006-071: Le remplacement du groupement OH des acides carboxyliques par un groupement Z différent n’implique pas un changement du degré d’oxydation si Z est un hétéroatome (Cl, O, N, etc.). Les composés de ce type sont appelés des dérivés d’acides carboxyliques.
<p> 
<p>A006-072: Le remplacement du groupement OH des acides carboxyliques par un groupement Z différent implique un changement du degré d’oxydation si Z est un hétéroatome (Cl, O, N, etc.). Les composés de ce type sont appelés des dérivés d’acides carboxyliques.
<p> 
<p>A006-073: Les chlorures d’acides peuvent être formés en traitant des acides carboxyliques avec du chlorure de thionyle (SOCl<sub>2</sub>).
<p> 
<p>A006-074: Les chlorures d’acides peuvent être formés en traitant des acides carboxyliques avec du chlorure de sulfuryle (SO<sub>2</sub>Cl<sub>2</sub>).
<p> 
<p>A006-075: Lors du traitement avec de l’eau, les chlorures d’acides sont hydrolysés pour donner des acides carboxyliques.
<p> 
<p>A006-076: Lors du traitement avec de l’eau, les chlorures d’acides sont hydrolysés pour donner des alcools.
<p> 
<p>A006-077: Lors du traitement avec de l’eau, les nitriles sont hydrolysés pour donner des acides carboxyliques.
<p> 
<p>A006-078: Lors du traitement avec de l’eau, les amines sont hydrolysées pour donner des acides carboxyliques.
<p> 
<p>A006-079: Lors du traitement avec de l’ammoniac, les chlorures d’acide sont convertis en amides. Pour cette réaction, deux équivalents d’ammoniac sont nécessaires.
 
<p>A006-080: Lors du traitement avec de l’ammoniac, les chlorures d’acide sont convertis en amides. Pour cette réaction, trois équivalents d’ammoniac sont nécessaires.
 
<p>A006-081: L’anhydride acétique est souvent utilisé pour acétyler un alcool ou une amine.
 
<p>A006-082: L’anhydride acétique est souvent utilisé pour acétyler un alcool ou un amide.
 
<p>A006-083: Lors du traitement avec une base forte puis un halogénure d’alkyle, les acides carboxyliques sont convertis en esters. Les limitations attendues d’un processus SN2 s’appliquent. En particulier, les halogénures d’alkyles tertiaires ne peuvent pas être utilisés.
 
<p>A006-084: Lors du traitement avec un acide fort puis un halogénure d’alkyle, les acides carboxyliques sont convertis en esters. Les limitations attendues d’un processus SN2 s’appliquent. En particulier, les halogénures d’alkyles tertiaires ne peuvent pas être utilisés.
 
<p>A006-085: Les acides carboxyliques sont convertis en esters par traitement avec un alcool en présence d’un catalyseur acide. Ce processus est appelé une estérification de Fischer.
 
<p>A006-086: Les acides carboxyliques sont convertis en esters par traitement avec un éther en présence d’un catalyseur acide. Ce processus est appelé une estérification de Fischer.
 
<p>A006-087: Les esters peuvent également être préparés en traitant un chlorure d’acide avec un alcool.
 
<p>A006-088: Les esters peuvent également être préparés en traitant un chlorure d’acide avec un éther.
 
<p>A006-089: Les esters peuvent être convertis en acides carboxyliques par traitement avec de l’hydroxyde de sodium puis d’un acide. Ce processus est appelé saponification.
<p> 
<p>A006-090: Les esters peuvent être convertis en acides carboxyliques par traitement avec de l’hydroxyde de sodium puis d’un acide. Ce processus est appelé estérification.
<p> 
<p>A006-091: Les esters peuvent également être hydrolysés en conditions acides. Ce processus est l’inverse d’une estérification de Fischer.
<p> 
<p>A006-092: Les esters peuvent également être hydrolysés en conditions acides. Ce processus est l’inverse d’une estérification de Newman.
 
<p>A006-093: Les esters réagissent lentement avec les amines pour donner des amides, cependant ce processus a peu d’utilité en pratique.
 
<p>A006-094: Les esters réagissent rapidement avec les amines pour donner des amides.
 
<p>A006-095: Lors du traitement avec de l’hydrure d’aluminium lithium, les esters sont réduits en alcools.
 
<p>A006-096: Lors du traitement avec de l’hydrure d’aluminium lithium, les esters sont réduits en aldéhydes.
 
<p>A006-097: Le traitement d’un ester avec un seul équivalent de LAH n’est pas une méthode efficace pour préparer un aldéhyde car les aldéhydes sont plus réactifs que les esters et il réagiront avec LAH immédiatement après avoir été formés.
 
<p>A006-098: Le traitement d’un ester avec un seul équivalent de LAH est une méthode efficace pour préparer un aldéhyde.
 
<p>A006-099: Les amides peuvent être préparés à partir de n’importe quel dérivé d’acides carboxyliques.
<p> 
<p> A006-100: Les esters peuvent être préparés à partir de n’importe quel dérivé d’acides carboxyliques.
<p> 
<p> 
<p> 