<p> 
<p><strong>AVENGERS DECK 1</strong>
 
<p>A001-001: Addition reactions are characterized by the addition of two groups across a double or triple bond.
 
<p>A001-002: Addition reactions are characterized by the addition of one group across a double or triple bond.
 
<p>A001-003: Addition reactions are thermodynamically favorable at low temperature and disfavored at high temperature.
 
<p>A001-004: Addition reactions are thermodynamically favorable at high temperature and disfavored at low temperature.
 
<p>A001-005: Hydrohalogenation reactions are characterized by the addition of H and X across a π bond.
 
<p>A001-006: Hydrohalogenation reactions are characterized by the addition of H and X across a  bond.
 
<p>A001-007: For unsymmetrical alkenes, the placement of the halogen represents an issue of regiochemistry.
 
<p>A001-008: For unsymmetrical alkenes, the placement of the halogen represents an issue of stereochemistry.
 
<p>A001-009: Hydrohalogenation reactions are regioselective, because the halogen is generally
<p>placed at the more substituted position, called Markovnikov addition.
 
<p>A001-010: Hydrohalogenation reactions are regioselective, because the halogen is generally
<p>placed at the less substituted position, called Markovnikov addition.
 
<p>A001-011: In the presence of peroxides, addition of HBr proceeds via an anti-Markovnikov addition.
 
<p>A001-012: In the presence of peroxides, addition of HBr proceeds via an Markovnikov addition.
 
<p>A001-013: The regioselectivity of an ionic addition reaction is determined by the preference for the reaction to proceed through the more stable carbocation intermediate.
 
<p>A001-014: The regioselectivity of an ionic addition reaction is determined by the preference for the reaction to proceed through the less stable carbocation intermediate.
 
<p>A001-015: When one new chirality center is formed in an addition reaction, a racemic mixture of enantiomers is obtained.
 
<p>A001-016: When one new chirality center is formed in an addition reaction, a single enantiomer is obtained.
 
<p>A001-017: Hydrohalogenation reactions are only efficient when carbocation rearrangements are not possible.
 
<p>A001-018: Hydrohalogenation reactions are only efficient when carbocation rearrangements are possible.
 
<p>A001-019: Addition of water (H and OH) across a double bond is called hydration.
 
<p>A001-020: Addition of water (H and OH) across a double bond is called hydrohalogenation.
 
<p>A001-021: Addition of water in the presence of an acid is called acid catalyzed hydration, which generally proceeds via a Markovnikov addition.
<p> 
<p>A001-022: Addition of water in the presence of an acid is called acid catalyzed hydration, which generally proceeds via an Anti-Markovnikov addition.
 
<p>A001-023: Acid-catalyzed hydration proceeds via a carbocation intermediate, which is attacked by water to produce an oxonium ion, followed by deprotonation.
<p> 
<p>A001-024: Acid-catalyzed hydration proceeds via a carbocation intermediate, which is attacked by water to produce a hydronium ion, followed by deprotonation.
 
<p>A001-025: Acid-catalyzed hydration is inefficient when carbocation rearrangements are possible.
 
<p>A001-026: Acid-catalyzed hydration is efficient when carbocation rearrangements are possible.
 
<p>A001-027: Dilute acid favors formation of the alcohol, while concentrated acid favors the alkene.
 
<p>A001-028: Dilute acid favors formation of the alkene, while concentrated acid favors the alcohol.
 
<p>A001-029: When generating a new chirality center in an addition reaction, a racemic mixture of enantiomers is expected.
 
<p>A001-030: When generating a new chirality center in an addition reaction, a racemic mixture of diastereomers is expected.
 
<p>A001-031: Hydroboration-oxidation can be used to achieve an anti- Markovnikov addition of water across an alkene. The reaction is stereospecific and proceeds via a syn addition.
 
<p>A001-032: Hydroboration-oxidation can be used to achieve a Markovnikov addition of water across an alkene. The reaction is stereospecific and proceeds via a syn addition.
 
<p>A001-033: Hydroboration proceeds via a concerted process, in which borane is attacked by a π bond, triggering a simultaneous hydride shift.
 
<p>A001-034: Hydroboration proceeds via a concerted process, in which borane attacks a π bond, triggering a simultaneous hydride shift.
 
<p>A001-035: Catalytic hydrogenation involves the addition of H<sub>2</sub> across an alkene in the presence of a metal catalyst.
 
<p>A001-036: Catalytic hydrogenation involves the addition of H<sub>2</sub> across an alkene in the presence of a metal catalyst, such as carbon.
 
<p>A001-037: In the presence of an acid, the carbonyl group is protonated to form a very powerful electrophile.
 
<p>A001-038: In the presence of an acid, the carbonyl group is protonated to form a very powerful nucleophile.
 
<p>A001-039: Catalytic hydrogenation proceeds via a syn addition.
 
<p> A001-040: Catalytic hydrogenation proceeds via an anti addition.
 
<p>A001-041: Heterogeneous catalysts are not soluble in the reaction medium, while homogeneous catalysts are.
 
<p>A001-042: Heterogeneous catalysts are soluble in the reaction medium, while homogeneous catalysts are not.
 
<p>A001-043: Halogenation involves the addition of X<sub>2</sub> (Br<sub>2 </sub>or Cl<sub>2</sub>) across an alkene.
 
<p>A001-044: Halogenation involves the addition of X<sub>2</sub> (Br<sub>2</sub>, Cl<sub>2</sub> or l<sub>2</sub>) across an alkene.
 
<p>A001-045: Bromination proceeds via a bridged intermediate, called a bromonium ion, which is opened by an SN2 process that produces an anti addition.
 
<p>A001-046: Bromination proceeds via a bridged intermediate, called a bromonium ion, which is opened by an SN2 process that produces a syn addition.
 
<p>A001-047: Bromination proceeds via a bridged intermediate, called a bromonium ion. However, in the presence of water, the product is a bromohydrin, and the reaction is called halohydrin formation.
 
<p>A001-048: Bromination proceeds via a bridged intermediate, called a bromonium ion. However, in the presence of water, the product is a bromohydrin, and the reaction is called cyanohydrin formation.
 
<p>A001-049: Dihydroxylation reactions are characterized by the addition of two OH across an alkene.
 
 
<p>A001-050: Dihydroxylation reactions are characterized by the addition of two OH across an alkane.
 
<p>A001-051: A two-step procedure for anti dihydroxylation involves conversion of an alkene to an epoxide, followed by acid- catalyzed ring opening.
 
<p>A001-052: A three-step procedure for anti dihydroxylation involves conversion of an alkene to an epoxide, followed by acid- catalyzed ring opening.
 
<p>A001-053: Syn dihydroxylation can be achieved with osmium tetroxide or potassium permanganate.
 
<p>A001-054: Anti dihydroxylation can be achieved with osmium tetroxide or potassium permanganate.
 
<p>A001-055: Ozonolysis can be used to cleave a double bond and produce two carbonyl groups.
 
<p>A001-056: Ozonolysis can be used to cleave a triple bond and produce two carbonyl groups.
 
<p>A001-057: Catalytic hydrogenation of an alkyne yields an alkane.
 
<p>A001-058: Catalytic hydrogenation of an alkyne yields an alkene.
 
<p>A001-059: Catalytic hydrogenation in the presence of a poisoned catalyst (Lindlar’s catalyst or Ni<sub>2</sub>B) yields a cis alkene.
 
<p>A001-060: Catalytic hydrogenation in the presence of a poisoned catalyst (Lindlar’s catalyst or Ni<sub>2</sub>B) yields a trans alkene.
 
<p>A001-061: A dissolving metal reduction will convert an alkyne into a trans alkene.
 
<p>A001-062: A dissolving metal reduction will convert an alkyne into a cis alkene.
 
<p>A001-063: Alkynes react with HX via a syn-Markovnikov addition.
 
<p>A001-064: Alkynes react with HX via an anti-Markovnikov addition.
 
<p>A001-065: One possible mechanism for the hydrohalogenation of alkynes involves a vinylic carbocation.
<p>A001-066: One possible mechanism for the hydrohalogenation of alkynes involves an allylic carbocation.
 
<p>A001-067: Addition of HX to alkynes probably occurs through a variety of mechanistic pathways all of which are occurring at the same time and competing with each other.
 
<p>A001-068: Addition of HX to alkenes probably occurs through a variety of mechanistic pathways all of which are occurring at the same time and competing with each other.
 
<p>A001-069: Treatment of a terminal alkyne with HBr and peroxides gives an anti-Markovnikov addition of HBr.
 
<p>A001-070: Treatment of a terminal alkyne with HBr and peroxides gives a Markovnikov addition of HBr.
 
<p>A001-071: Acid-catalyzed hydration of alkynes is catalyzed by mercuric sulfate (HgSO<sub>4</sub>) to produce an enol that cannot be isolated because it is rapidly converted into a ketone.
 
<p>A001-072: Acid-catalyzed hydration of alkynes is catalyzed by mercuric sulfate (HgSO<sub>4</sub>) to produce an enol that can be isolated because it is slowly converted into a ketone.
 
<p>A001-073: Enols and ketones are tautomers, which are constitutional isomers that rapidly interconvert via the migration of a proton.
 
<p>A001-074: Enols and ketones are tautomers, which are constitutional isomers that rapidly interconvert via the migration of two protons.
 
<p>A001-075: The interconversion between an enol and a ketone is called keto-enol tautomerization and is catalyzed by trace amounts of acid or base.
 
<p>A001-076: The interconversion between an enol and a ketone is called keto-enol racemization and is catalyzed by trace amounts of acid or base.
 
<p>A001-077: Alkynes can undergo halogenation to form a tetrahalide.
 
<p>A001-078: Alkynes can undergo halogenation to form a dihalide.
 
<p>A001-079: When treated with ozone followed by water, internal alkynes undergo oxidative cleavage to produce carboxylic acids.
 
<p>A001-080: When treated with ozone followed by water, internal alkynes undergo oxidative cleavage to produce ketones.
 
<p>A001-081: When a terminal alkyne undergoes oxidative cleavage, the terminal side is converted into carbon dioxide.
 
<p>A001-082: When a terminal alkyne undergoes oxidative cleavage, the terminal side is converted into carboxylic acids.
 
<p>A001-083: Alkynide ions undergo alkylation when treated with an alkyl halide (methyl or primary).
 
<p>A001-084: Alkynide ions don't undergo alkylation when treated with an alkyl halide (primary or secondary).
 
<p>A001-085: An alkene can be converted into an alkyne via bromination followed by elimination with excess NaNH<sub>2</sub>.
 
<p>A001-086: An alkyne can be converted into an alkene via bromination followed by elimination with excess NaNH<sub>2</sub>.
 
<p>A001-087: Alkynes undergo many of the same addition reactions as alkenes. For example, alkynes will undergo catalytic hydrogenation just as alkenes do.
 
<p>A001-088: Alkynes undergo many of the same addition reactions as alkanes. For example, alkynes will undergo catalytic hydrogenation just as alkanes do.
 
<p>A001-089: In the catalytic hydrogenations, an alkyne consumes two equivalents of molecular dihydrogen yielding an alkane.
 
<p>A001-090: In the catalytic hydrogenations, an alkyne consumes one equivalent of molecular dihydrogen yielding an alkene.
 
<p>A001-091: Alkynes catalytic hydrogenation with a partially deactivated catalyst, called a poisoned catalyst, converts an alkyne into a cis alkene.
 
<p>A001-092: There are many poisoned catalysts. Two common examples are: Lindlar’s catalyst and nickel-boron complex (Ni<sub>2</sub>B), which is often called the P-2 catalyst.
 
<p>A001-093: A poisoned catalyst will catalyze the conversion of an alkyne into a cis alkene, but it will not catalyze the subsequent reduction to form the alkane. Therefore, a poisoned catalyst can be used to convert an alkyne into a cis alkene.
 
<p>A001-094: Alkynes can be reduced to trans alkenes via an entirely different reaction called dissolving metal reduction.
 
<p>A001-095: In a reduction of a alkyne with Na/NH<sub>3</sub>, the nature of the intermediate (radical anion) explains the stereochemical preference for formation of a trans alkene.
 
<p>A001-096: Hydroboration-oxidation of alkynes is a concerted process that gives an anti-Markovnikov addition.
 
<p>A001-097: To prevent the second addition in alkynes, a dialkyl borane (R<sub>2</sub>BH) is employed instead of BH<sub>3</sub>. The two alkyl groups provide steric hindrance that prevents the second addition. Two commonly used dialkyl boranes are disiamylborane and 9-BBN.
<p> 
<p>A001-098: Alkynes have two π bonds and can add two equivalents of the halogen to form a dialogenide.
 
<p>A001-099: When treated with ozone followed by water, alkynes undergo oxidative cleavage to produce carboxylic acids.
 
<p>A001-100: When a terminal alkyne undergoes oxidative cleavage, the terminal side is converted into carbon dioxide.