<p> 
<p>AVENGERS DECK 6
 
<p>A006-001: Treatment of a carboxylic acid with a strong base, such as sodium hydroxide, yields a carboxylate salt.
 
<p>A006-002: Treatment of a carboxylic acid with a weak base, such as calcium carbonate, yields a carboxylate salt.
 
<p>A006-003: When treated with aqueous acid, a nitrile will undergo hydrolysis, yielding a carboxylic acid.
 
<p>A006-004: When treated with aqueous acid, a nitrile will undergo hydrolysis, yielding an amine.
 
<p>A006-005: Carboxylic acid derivatives differ in reactivity, with acid halides being the most reactive and amides the least reactive.
 
<p>A006-006: Carboxylic acid derivatives differ in reactivity, with acid halides being the least reactive and amides the most reactive.
 
<p>A006-007: When a nucleophile attacks a carboxylic acid derivative, a nucleophilic acyl substitution can occur in which the nucleophile replaces the leaving group.
 
<p>A006-008: When a nucleophile attacks a carboxylic acid derivative, a nucleophilic acyl addition can occur in which the nucleophile adds to the carbonyl group.
 
<p>A006-009: The mechanism of nucleophilic acyl substitution involves two core steps and often utilizes several proton transfer steps as well (especially in acidic conditions).
 
<p>A006-010: The mechanism of nucleophilic acyl substitution involves two core steps and often utilizes several proton transfer steps as well (especially in basic conditions).
 
<p>A006-011: When a nucleophile attacks a carbonyl group to form a tetrahedral intermediate, always reform the carbonyl if possible but never expel H<sup>-</sup> or C<sup>-</sup>.
 
<p>A006-012: When a nucleophile attacks a carbonyl group to form a tetrahedral intermediate, always reform the carbonyl if possible by expelling H<sup>-</sup> or C<sup>-</sup>.
 
<p>A006-013: Acid chlorides can be formed by treating carboxylic acids with thionyl chloride.
 
<p>A006-014: Acid chlorides can be formed by treating carboxylic acids with hydrochloric acid.
 
<p>A006-015: When treated with water, acid chlorides are hydrolyzed to give carboxylic acids.
 
<p>A006-016: When treated with water, acid chlorides are hydrolyzed to give carboxylic alcohols.
 
<p>A006-017: When treated with an alcohol, acid chlorides converted into esters.
<p>A006-018: When treated with an alcohol, acid chlorides are converted into acetals.
 
<p>A006-019: When treated with ammonia, acid chlorides are converted into amides. Two equivalents of ammonia are required: one to serve as a nucleophile and the other to serve as a base.
 
<p>A006-020: When treated with ammonia, acid chlorides are converted into amines. Two equivalents of ammonia are required: one to serve as a nucleophile and the other to serve as a base.
 
<p>A006-021: When treated with excess LAH, acid chlorides are reduced to give alcohols because two equivalents of hydride attack.
 
<p>A006-022: When treated with excess LAH, acid chlorides are reduced to give aldehydes.
 
<p>A006-023:When treated with a Grignard reagent, acid chlorides are converted into alcohols with the introduction of two alkyl groups.
 
<p>A006-024: When treated with a Grignard reagent, acid chlorides are converted into ketones.
 
<p>A006-025: Acetic acid can be converted into acetic anhydride with excessive heating.
<p> 
<p>A006-026: Cloride acids can be converted into acetic anhydride with excessive heating.
 
<p>A006-027: Acid anhydrides can be prepared by treating an acid chloride with a carboxylate ion.
 
<p>A006-028: Acid anhydrides can be prepared by treating an acid chloride with an amine.
 
<p>A006-029: The reactions of anhydrides are the same as the reactions of acid chlorides except for the identity of the leaving group.
 
<p>A006-030: The reactions of anhydrides are the same as the reactions of aldehydes except for the identity of the leaving group.
 
<p>A006-031: When treated with a strong base followed by an alkyl halide, carboxylic acids are converted into esters.
 
<p>A006-032: When treated with a strong acid followed by an alkyl halide, carboxylic acids are converted into esters.
 
<p>A006-033: In a process called the Fischer esterification, carboxylic acids are converted into esters when treated with an alcohol in the presence of an acid catalyst. This process is reversible.
 
<p>A006-034: In a process called the Newman esterification, carboxylic acids are converted into esters when treated with an alcohol in the presence of an acid catalyst. This process is reversible.
 
<p>A006-035: Esters can also be prepared by treating an acid chloride with an alcohol in the presence of pyridine.
 
<p>A006-036: Esters can also be prepared by treating an acid chloride with water in the presence of pyridine.
 
<p>037
<p>Esters can also be hydrolyzed to yield carboxylic acids by treatment with either aqueous base or aqueous acid. Hydrolysis under basic conditions is also called saponification.
 
<p>A006-038: Esters can also be hydrolyzed to yield carboxylic acids by treatment with either aqueous base or aqueous acid. Hydrolysis under basic conditions is also called esterification.
 
<p>A006-039: When treated with lithium aluminium hydride, esters are reduced to yield alcohols. If the desired product is an aldehyde, then DIBAH is used as a reducing agent instead of LAH.
 
<p>A006-040: When treated with lithium aluminium hydride, esters are reduced to yield alcohols. If the desired product is an aldehyde, then NaBH4 is used as a reducing agent instead of LAH.
 
<p>A006-041; When treated with a Grignard reagent, esters are reduced to yield alcohols, with the introduction of two alkyl groups.
 
<p>A006-042: When treated with a Grignard reagent, esters are reduced to yield alcohols, with the introduction of one alkyl groups.
 
<p>A006-043: Amides are most efficiently prepared from acid chlorides.
 
<p>A006-044: Amides are most efficiently prepared from carboxylic acids.
 
<p>A006-045: Amides are hydrolyzed to yield carboxylic acids by treatment with either aqueous base or aqueous acid.
 
<p>A006-046; Carboxylic acids are hydrolyzed to yield amides by treatment with either aqueous base or aqueous acid.
 
<p>A006-047: When treated with excess LAH, amides are converted into amines..
 
<p>A006-048; When treated with excess LAH, amines are converted into amides.
 
<p>A006-049: Nitriles can be prepared by treating an alkyl halide with a cyanide ion or via the dehydration of an amide.
 
<p>A006-050: Nitriles can be prepared by treating an acyl halide with a cyanide ion or via the dehydration of an amide.
 
<p>A006-051: Nitriles can be hydrolyzed to yield carboxylic acids by treatment with either aqueous base or aqueous acid.
 
<p>A006-052: Nitriles can be hydrolyzed to yield amines by treatment with either aqueous base or aqueous acid.
 
<p>A006-053: A ketone is obtained when a nitrile is treated with a Grignard reagent, followed by aqueous acid.
 
<p>A006-054: An aldehyde is obtained when a nitrile is treated with a Grignard reagent, followed by aqueous acid.
 
<p>A006-055: Nitriles are converted to amines when treated with LAH.
 
<p>A006-056: Nitriles are converted to amides when treated with LAH.
 
<p>A006-057: Carboxylic acids and their derivatives can be readily interconverted.
 
<p>A006-058: Carboxylic acids and their derivatives cannot be readily interconverted.
 
<p>A006-059: A carboxylic acid is obtained when a nitrile is treated with a Grignard reagent, followed by aqueous acid.
 
<p>A006-060: A carboxylic acid is obtained when an amide is treated with a Grignard reagent, followed by aqueous acid.
 
<p>A006-061: A variety of strong oxidizing agents can be used to oxidize primary alcohols and produce carboxylic acids.
 
<p>A006-062: A variety of strong oxidizing agents can be used to oxidize secondary alcohols and produce carboxylic acids.
 
<p>A006-063: Hydrolysis of nitriles provides us with a two-step process for converting an alkyl halide to a carboxylic acid.
 
<p>A006-064: Hydrolysis of nitriles provides us with a two-step process for converting an acyl halide to a carboxylic acid.
 
<p>A006-065: Carboxylic acids can also be prepared by treating a Grignard reagent with carbon dioxide.
 
<p>A006-066: Carboxylic acids can also be prepared by treating a Grignard reagent with carbon monoxide.
 
<p>A006-067: Carboxylic acids are reduced to alcohols upon treatment with lithium aluminium hydride.
 
<p>A006-068: Carboxylic acids are reduced to aldehydes upon treatment with lithium aluminium hydride.
 
<p>A006-069: Carboxylic acids also undergo many other reactions that do not involve a change in oxidation state.
 
<p>A006-070: Carboxylic acids also undergo many other reactions that involve a change in oxidation state.
 
<p>A006-071: Replacement of the OH group in carboxylic acids with a different group (Z) does not involve a change in oxidation state if Z is a heteroatom (Cl, O, N, etc.). Compounds of this type are called carboxylic acid derivatives.
 
<p>A006-072: Replacement of the OH group in carboxylic acids with a different group (Z) involves a change in oxidation state if Z is a heteroatom (Cl, O, N, etc.). Compounds of this type are called carboxylic acid derivatives.
 
<p>A006-073: Acid chlorides can be formed by treating carboxylic acids with thionyl chloride (SOCl<sub>2</sub>).
 
<p>A006-074: Acid chlorides can be formed by treating carboxylic acids with sulfuryl chloride (SO<sub>2</sub>Cl<sub>2</sub>).
 
<p>A006-075: When treated with water, acid chlorides are hydrolyzed to give carboxylic acids.
 
<p>A006-076: When treated with water, acid chlorides are hydrolyzed to give alcohols.
 
<p>A006-077: When treated with water, nitriles are hydrolyzed to give carboxylic acids.
 
<p>A006-078: When treated with water, amines are hydrolyzed to give carboxylic acids.
 
<p>A006-079: When treated with ammonia, acid chlorides are converted into amides. For this reaction, two equivalents of ammonia are necessary.
 
<p>A006-080: When treated with ammonia, acid chlorides are converted into amides. For this reaction, three equivalents of ammonia are necessary.
 
<p>A006-081: Acetic anhydride is often used to acetylate an alcohol or an amine.
 
<p>A006-082: Acetic anhydride is often used to acetylate an alcohol or an amide.
 
<p>A006-083: When treated with a strong base followed by an alkyl halide, carboxylic acids are converted into esters. The expected limitations of SN2 processes therefore apply. Specifically, tertiary alkyl halides cannot be used.
 
<p>A006-084: When treated with a strong acid followed by an alkyl halide, carboxylic acids are converted into esters. The expected limitations of SN2 processes therefore apply. Specifically, tertiary alkyl halides cannot be used.
 
<p>A006-085: Carboxylic acids are converted into esters when treated with an alcohol in the presence of an acid catalyst. This process is called the Fischer esterification.
<p>A006-086: Carboxylic acids are converted into esters when treated with an ether in the presence of an acid catalyst. This process is called the Fischer esterification.
 
<p>A006-087: Esters can also be prepared by treating an acid chloride with an alcohol.
 
<p>A006-088: Esters can also be prepared by treating an acid chloride with an ether.
 
<p>A006-089: Esters can be converted into carboxylic acids by treatment with sodium hydroxide followed by an acid. This process is called saponification.
 
<p>A006-090: Esters can be converted into carboxylic acids by treatment with sodium hydroxide followed by an acid. This process is called esterification.
 
<p>A006-091: Esters can also be hydrolyzed under acidic conditions. This process is the reverse of a Fischer esterification.
 
<p>A006-092: Esters can also be hydrolyzed under acidic conditions. This process is the reverse of a Newman esterification.
 
<p>A006-093: Esters react slowly with amines to yield amides, however, this process has little practical utility.
 
<p>A006-094: Esters react readily with amines to yield amides.
 
<p>A006-095: When treated with lithium aluminum hydride, esters are reduced to yield alcohols.
 
<p>A006-096: When treated with lithium aluminum hydride, esters are reduced to yield aldehydes.
 
<p>A006-097: Treating an ester with only one equivalent of LAH is not an efficient method for preparing an aldehyde, because aldehydes are more reactive than esters and will react with LAH immediately after being formed.
 
<p>A006-098: Treating an ester with only one equivalent of LAH is an efficient method for preparing an aldehyde.
 
<p>A006-099: Amides can be prepared from any of the carboxylic acid derivatives.
 
<p> A006-100: Esters can be prepared from any of the carboxylic acid derivatives.
 
<p> 