<p> 
<p>AVENGERS DECK 2
<p> 
<p>A002-001: Las reacciones de sustitución intercambian un grupo funcional por otro. El electrófilo se llama sustrato y debe contener un grupo saliente.
<p> 
<p>A002-002: RO<sup>-</sup> (nucleófilo y base fuerte) y el sustrato primario favorecen el proceso SN2. Sin embargo, cuando la base está estéricamente impedida, se favorece el proceso E2.
<p> 
<p>A002-003: NaSH (solo nucleófilo) y sustrato primario favorecen el proceso SN2.
<p> 
<p>A002-004: Durante un proceso E2, se produce una reordenación de carbocatión si produce un carbocatión más estable.
<p> 
<p>A002-005: No se requiere una transferencia de protones al comienzo de un mecanismo SN1 si el grupo saliente es un ion haluro.
<p> 
<p>A002-006: El H<sub>2</sub>S es un nucleófilo más fuerte que el HS<sup>-</sup> porque el átomo de azufre lleva una carga negativa.
<p> 
<p>A002-007: El ion metóxido es un nucleófilo más fuerte cuando se disuelve en DMSO que cuando se disuelve en metanol porque DMSO es un disolvente aprótico polar que estabiliza los cationes pero no los aniones.
<p> 
<p>A002-008: Durante un proceso E1, si el sustrato es un alcohol, se requiere un ácido débil para protonar el grupo OH.
<p> 
<p>A002-009: Resultado estereoquímico SN2: El nucleófilo reemplaza el grupo de salida con inversión de la configuración.
<p> 
<p>A002-010: Resultado estereoquímico SN2: El nucleófilo reemplaza el grupo de salida con racemización.
<p> 
<p>A002-011: En un proceso concertado, el ataque nucleofílico y la pérdida del grupo saliente ocurren simultáneamente.
<p> 
<p>A002-012: HO<sup>-</sup> (nucleófilo y base fuerte) y sustrato primario favorecen el proceso SN1.
<p> 
<p>A002-013: RO<sup>-</sup> (nucleófilo y base fuerte) y sustrato primario favorecen el proceso E2.
<p> 
<p>A002-014: EtOH (nucleófilo y base débil) y sustrato terciario favorecen el proceso E1: Solvolisis. (a bajas temperaturas).
<p> 
<p>A002-015: El compuesto (A) reacciona más rápido que (B) en una reacción SN2.
<p> 
<p>A002-016: El compuesto (B) reacciona más rápido que (A) en una reacción SN2.
<p> 
<p>A002-017: El compuesto (A) reacciona más rápido que (B) en una reacción SN2.
<p> 
<p>A002-018: No se requiere una transferencia de protones al comienzo de un mecanismo SN1 si el grupo saliente es un grupo OH.
<p> 
<p>A002-019: Resultado estereoquímico E2: este proceso es estereoselectivo pero no estereoespecífico. Cuando corresponda, se favorecerá un alqueno disustituido trans sobre un alqueno disustituido cis. Cuando la posición β del sustrato tiene solo un protón, se obtendrá el alqueno estereoisomérico resultante de la eliminación anti-periplanar (exclusivamente en la mayoría de los casos).
<p> 
<p>A002-020: Resultado estereoquímico E1: El proceso es estereoselectivo. Cuando corresponda, se favorecerá un alqueno disustituido cis sobre un alqueno disustituido trans.
<p> 
<p>A002-021: En un proceso por etapas, el grupo de salida sale primero y luego entonces los ataques nucleófilos.
<p> 
<p>A002-022: HO<sup>-</sup> (nucleófilo y base fuerte) y sustrato secundario favorecen el proceso E2. Cuando la base no tiene impedimento estérico, el alqueno más sustituido es el producto principal: el producto Hofmann.
<p> 
<p>A002-023: HO<sup>-</sup> (nucleófilo y base fuerte) y sustrato secundario favorecen el proceso E2. Cuando la base no tiene impedimento estérico, el alqueno más sustituido es el producto principal: el producto Zaitsev.
<p> 
<p>A002-024: Se requiere una transferencia de protones al final de un mecanismo SN1 si el nucleófilo está cargado negativamente.
<p> 
<p>A002-025: El compuesto (A) reacciona más rápido que (B) en una reacción SN1.
<p> 
<p>A002-026: El compuesto (B) reacciona más rápido que (A) en una reacción SN2.
<p> 
<p>A002-027: La velocidad de la reacción abajo no se duplicaría si la concentración de haluro de alquilo se duplicara.
<p> 
<p>A002-028: La velocidad de la reacción abajo no se duplicaría si la concentración del ion cianuro se duplicara.
<p> 
<p>A002-029: La velocidad de la reacción abajo se duplicaría si la concentración del alcohol se duplicara.
<p> 
<p>A002-030: La velocidad de la reacción abajo se duplicaría si se duplicara la concentración de HBr.
<p> 
<p>A002-031: La evidencia del mecanismo concertado, llamado SN2, incluye la observación de una ecuación de velocidad de segundo orden. Se dice que el proceso SN2 es bimolecular.
<p> 
<p>A002-032: RO<sup>-</sup> (nucleófilo y base fuerte) y sustrato secundario favorecen el proceso E2. Cuando la base no tiene impedimento estérico, el alqueno más sustituido es el producto principal: el produto Hofmann.
<p>A002-033: RO<sup>-</sup> (nucleófilo fuerte y base) y sustrato secundario a favor del proceso E2. El producto de Zaytsev no se forma porque la posición β tiene un protón que no puede ser anti-periplanar con el grupo saliente.
<p> 
<p>A002-034: Cuando el solvente actúa como nucleófilo, la reacción es llamada como una reacción de solvolisis.
<p> 
<p>A002-035: DMF y DMSO son solventes apróticos que estabilizan los cationes pero no los aniones. Favorecen las reacciones SN2.
<p> 
<p>A002-036: MeOH e H2O son disolventes próticos que estabilizan cationes y aniones. Favorecen las reacciones SN2.
<p> 
<p>A002-037: Un proceso E2 es un caso concertado.
<p> 
<p>A002-038: Los nucleófilos fuertes como: Cl<sup>-</sup>, Br<sup>-</sup>, I<sup>-</sup>, RS<sup>-</sup>, HS<sup>-</sup> e H<sub>2</sub>S, son compuestos que contienen una carga negativa y/o son polarizables, 
<p> 
<p>A002-039: Un proceso E1 implicará una reorganización de carbocatión con los alcoholes anteriores.
<p> 
<p>A002-040: Cuando DBN es protonado, la carga positiva resultante se estabiliza por resonancia. El ácido conjugado está estabilizado y, por lo tanto, no es muy ácido. Como resultado, DBN es débilmente básico.
<p> 
<p>A002-041: Los haluros de metilo y los haluros de alquilo primarios reaccionan más rápido, mientras que los haluros de alquilo terciarios son esencialmente no reactivos a SN2.
<p> 
<p>A002-042: (C), (A), (B), (D). Este es el orden creciente de estabilidad de los carbocationes anteriores.
<p> 
<p>A002-043: El segundo método es más eficiente porque el haluro de alquilo (yoduro de metilo) no tiene impedimento estérico. El primer método no es eficiente porque emplea un tercer haluro de alquilo, y las reacciones SN2 no ocurren en sustratos terciarios.
<p> 
<p>A002-044: Cuando el grupo saliente es específicamente un haluro, la reacción también se llama deshidrohalogenación.
<p> 
<p>A002-045: En un proceso de eliminación, una base abstrae un protón a dejando el grupo salir simultáneamente.
<p> 
<p>A002-046: Las bases débiles como: H<sup>-</sup>, HO<sup>-</sup>, RO<sup>-</sup>, son compuestos cuyos ácidos conjugados no son muy ácidos.
<p> 
<p>A002-047: Cl<sup>-</sup> (solo nucleófilo) y sustrato secundario en DMSO (disolvente polar aprótico) favorecen el proceso SN2.
<p>A002-048: HO<sup>-</sup> (nucleófilo y base fuerte) y sustrato terciario favorecen el proceso E2. Cuando la base no tiene impedimento estérico, el alqueno más sustituido es el producto principal: el producto Zaitsev.
<p> 
<p>A002-049: RO<sup>-</sup> (nucleófilo y base fuerte) y sustrato terciario favorecen el proceso E2. Cuando tanto el sustrato como la base están impedidos estéricamente, el alqueno menos sustituido es el producto principal: el producto Hofmann.
<p> 
<p>A002-050: DBN (solo base) y sustrato terciario favorecen el proceso E2.
<p> 
<p>A002-051: Cuando la posición b es un centro de quiralidad, la reacción continúa con la inversión de la configuración. La preferencia por el ataque desde atrás proviene de la necesidad de una superposición constructiva de los orbitales.
<p> 
<p>A002-052: En un proceso de eliminación por fases, el grupo de salida primero sale y luego la base extrae un protón.
<p> 
<p>A002-053: Cuando el DBU es protonado, la carga positiva resultante se estabiliza por resonancia. El ácido conjugado no está estabilizado y, por lo tanto, no es muy ácido. Como resultado, DBU es fuertemente básico.
<p> 
<p>A002-054: Las velocidades de los procesos SN2 y E2 se ven afectadas de manera diferente por el sustrato. El proceso E2 predomina cuando el sustrato es primario, mientras que el proceso SN2 predomina cuando el sustrato es secundario. Para sustratos terciarios, solo se observa
<p> 
<p>A002-055: Se requiere una transferencia de protones al comienzo de un mecanismo SN2 si el grupo saliente es un halógeno.
<p> 
<p>A002-056: La evidencia del mecanismo E2 combinado incluye la observación de una ecuación de velocidad de primer orden.
<p> 
<p>A002-057: Todos los reactivos se pueden clasificar en cuatro categorías: (1) nucleófilos, (2) solo bases, (3) nucleófilos fuertes y bases fuertes, y (4) nucleófilos débiles y bases débiles.
<p> 
<p>A002-058: Los haluros primarios reaccionan más fácilmente en una E2.
<p> 
<p>A002-059: H<sup>-</sup>, DBN y DBU actúan solo como nucleófilos.
<p> 
<p>A002-060: RO<sup>-</sup> y HO<sup>- </sup>actúan solo como bases.
<p> 
<p>A002-061: Resultado regioquímico E2: el producto Zaitsev generalmente se ve favorecido sobre el producto Hofmann a menos que se utilice una base estéricamente impedida, en cuyo caso se favorecerá el producto Hofmann.
<p> 
<p>A002-062: Resultado regioquímico de E1: el producto Hofmann siempre es favorecido sobre el producto Zaitsev.
<p> 
<p>A002-063: En un mecanismo SN2, cuando la posición a es un centro de quiralidad, la reacción continúa con la inversión de la configuración. La preferencia por el ataque desde atrás proviene de la necesidad de una superposición constructiva de los orbitales.
<p> 
<p>A002-064: Una transferencia de protones debería ocurrir al final de un mecanismo SN2 si el nucleófilo está cargado negativamente.
<p> 
<p>A002-065: La regioquímica es un problema en las reacciones E2, que se consideran regioselectivas, porque el alqueno más sustituido, llamado producto de Zaitsev, suele ser el producto principal.
<p> 
<p>A002-066: Cuando el sustrato y la base están impedidos estéricamente, el alqueno menos sustituido, llamado producto de Zaitsev, es el producto principal.
<p> 
<p>A002-067: ROH e H<sub>2</sub>O solo pueden actuar como nucleófilos.
<p> 
<p>A002-068: RO<sup>-</sup> y HO<sup>-</sup> solo pueden actuar como nucleófilos fuertes.
<p> 
<p>A002-069: Las reacciones E2 son estereoespecíficas porque generalmente ocurren a través de la conformación anti-coplanares en lugar de la conformación syn-coplanares.
<p> 
<p>A002-070: La evidencia del mecanismo escalonado, llamado SN2, incluye observar una ecuación de velocidad de primer orden. Estas reacciones se consideran unimoleculares.
<p> 
<p>A002-071: Cuando un sustrato primario se trata con un ion alcóxido (RO<sup>-</sup>), la ruta SN2 predomina sobre la ruta E2. Hay una notable excepción a esta regla general. Específicamente, el terc-butóxido está impedido estéricamente y favorece E2 sobre SN2, incluso cuando el sustrato es primario.
<p> 
<p>A002-072: Las reacciones E2 también son estereoselectivas, favoreciendo alquenos disustituidos cis sobre alquenos trans .
<p> 
<p>A002-073: Los ciclohexanos sustituidos experimentan solo reacciones E2 a partir de la conformación de la silla en la que el grupo saliente y el protón ocupan posiciones axiales.
<p> 
<p>A002-074: Se debe tener en cuenta la regioquímica y la estereoquímica al predecir los productos de una reacción E1.
<p> 
<p>A002-075: Hay cuatro factores que afectan la competencia entre El mecanismo SN2 y Sn1: 
<p>(1) el sustrato, (2) el nucleófilo, (3) el grupo saliente y (4) el solvente.
<p> 
<p>A002-076: La predicción de los productos de las reacciones de sustitución y eliminación requiere tres pasos distintos: 1) Determinar la función del reactivo. 2) Analice el sustrato y determine los mecanismos esperados. 3) Considere los requisitos regionales y estereoquímicos relevantes.
<p> 
<p>A002-077: El segundo compuesto reacciona más rápido en una reacción E1 porque los haluros terciarios son más reactivos que los haluros primarios.
<p>A002-078: Aunque ambos haluros de alquilo son secundarios, el primer compuesto reaccionará más fácilmente en una reacción E1 porque producirá un carbocatión más estable que se estabiliza por resonancia.
<p> 
<p>A002-079: Considera la reacción abajo. La velocidad de un proceso E1 depende solo de la concentración del sustrato. Por lo tanto, la velocidad se duplicará si la concentración de bromuro de terc-butilo se duplica.
<p> 
<p>A002-080: Considera la reacción abajo. La velocidad de un proceso E2 depende solo de la concentración del sustrato. Por lo tanto, la velocidad seguirá siendo la misma si la concentración de etanol se duplica.
<p> 
<p>A002-081: Los grupos salientes más comunes son los iones haluro y sulfonato. De los iones sulfonato, el más común es el grupo mesilato.
<p> 
<p>A002-082: La evidencia del mecanismo E1 escalonado incluye la observación de una ecuación de velocidad de segundo orden.
<p> 
<p>A002-083: El compuesto B sufrirá una reacción E1 más rápidamente porque un carbocatión alílico terciario está más altamente estabilizado que un carbocatión terciario.
<p> 
<p>A002-084: Los haluros terciarios reaccionan más fácilmente a través de un proceso SN2, en comparación con los haluros primarios que no son reactivos en un proceso SN1.
<p> 
<p>A002-085: Una reacción <u>E1</u> generalmente va acompañada de una reacción competitiva SN1, y generalmente se obtiene una mezcla de productos.
<p> 
<p>A002-086: O El primer paso de un proceso SN1 (pérdida de un grupo saliente) es el paso que determina la velocidad de la reacción.
<p> 
<p>A002-087: El ion hidróxido es tanto un nucleófilo fuerte como una base fuerte, y favorecen las reacciones bimoleculares (SN2 y E2). Para haluros de alquilo secundarios, el producto Zaitsev se formará porque la base no está impedida
<p> 
<p>A002-088: El ion terc-butóxido es tanto un nucleófilo fuerte como una base fuerte, y se favorecen las reacciones bimoleculares (SN2 y E2). Para haluros de alquilo secundarios, el producto Zaitsev se formará porque la base está impedida estéricamente.
<p> 
<p>A002-089: En estas condiciones, se favorecen las reacciones bimoleculares (SN1 y E1), pero la temperatura alta favorece a E1.
<p> 
<p>A002-090: En estas condiciones, se favorecen las reacciones bimoleculares (SN2 y E2), pero la temperatura alta favorece a E2.
<p> 
<p>A002-091: El carbocatión intermedio puede ser atacado desde cualquier que conduce a la inversión de la configuración y la retención de configuración. Generalmente hay una ligera preferencia por producto de inversión debido a la formación de pares iónicos.
<p> 
<p> 
<p>A002-092: En esta reacción E1, la posición β tiene dos protones. Por lo tanto, esperamos que la reacción sea estereoselectiva. Es decir, esperamos isómeros cis y trans, con preferencia por el trans.
<p> 
<p>A002-093: Esperamos solo un producto estereoisomérico particular. Para obtener una conformación adecuada, gire el enlace simple C-C de modo que el átomo de protón y bromo sea anti-periplanar. En este caso, el producto es el isómero Z.
<p> 
<p>A002-094: Esperamos solo un producto estereoisomérico particular. En esta conformación, el átomo y protón de bromo son anti-periplanarios. Por lo tanto, el producto es el isómero E.
<p> 
<p>A002-095: Resultado regioquímico SN1: El nucleófilo ataca la posición α donde está conectado el grupo saliente.
<p> 
<p>A002-096: Resultado regioquímico de SN2: el nucleófilo ataca el carbocatión, que es donde se enlazó originalmente el grupo saliente, a menos que se haya producido una reorganización del carbocatión.
<p> 
<p>A002-097: La eliminación del agua para formar un alqueno se llama reacción de deshidratación.
<p> 
<p>A002-098: Las reacciones E1 exhiben una preferencia regoquímica para el producto Hofmann.
<p> 
<p>A002-099: Los disolventes polares apróticos favorecen el mecanismo SN2, mientras que los disolventes próticos polares favorecen el mecanismo SN1.
<p> 
<p><u>A002-</u><u>100</u>: Las reacciones E1 son estereoespecíficas.
<p> 
<p> 
<p> 
<p>El Rubiks cube máquina se ejecuta en su navegador web y encuentra la solución para su rompecabezas en segundos. Pruébalo en ruwix.