<p> 
<p>AVENGERS DECK 4
 
<p>A004-001: When preparing an alcohol via a substitution reaction, primary substrates will require SN2 conditions, while tertiary substrates will require SN1 conditions.
 
<p>A004-002: When preparing an alcohol via a substitution reaction, primary substrates will require SN1 conditions, while tertiary substrates will require SN2 conditions.
 
<p>A004-003: Addition reactions that will produce alcohols include acid-catalyzed hydration, oxymercuration-demercuration, and hydroboration-oxidation.
 
<p>A004-004: Addition reactions that will produce alcohols include basic catalyzed hydration, oxymercuration-demercuration, and hydroboration-oxidation.
 
<p>A004-005: Alcohols can be formed by treating a carbonyl group (C=O bond) with a reducing agent. The resulting reaction involves a decrease in oxidation state and is called reduction.
 
<p>A004-006: Alcohols can be formed by treating a carbonyl group (C=O bond) with a reducing agent. The resulting reaction involves an increase in oxidation state and is called reduction.
 
<p>A004-007: LAH is more reactive than NaBH<sub>4</sub>. LAH will reduce carboxylic acids and esters, while NaBH4 will not.
 
<p>A004-008: NaBH<sub>4</sub> is more reactive than LAH. NaBH<sub>4</sub> will reduce carboxylic acids and esters, while LAH will not.
 
<p>A004-009: Diols are compounds with two hydroxyl groups. 
 
<p>A004-010: Triols are compounds with two hydroxyl groups. 
 
<p>A004-011: Diols can be prepared from diketones via reduction using a reducing agent.
 
<p>A004-012: Diols can be prepared from diketones via oxidation using an oxidizing agent.
 
<p>A004-013: Diols can also be made via syn dihydroxylation or anti dihydroxylation of an alkene.
 
<p>A004-014: Diols can also be made via syn dihydroxylation or anti dihydroxylation of an alkyne.
 
<p>A004-015: Grignard reagents are carbon nucleophiles that are capable of attacking a wide range of electrophiles, including the carbonyl group of ketones or aldehydes, to produce an alcohol.
 
<p>A004-016: Grignard reagents are carbon nucleophiles that are capable of attacking a wide range of nucleophiles, including the carbonyl group of ketones or aldehydes, to produce an alcohol.
 
<p>A004-017: Grignard reagents also react with esters to produce alcohols with introduction of two R groups. 
<p>A004-018: Grignard reagents also react with ketones to produce alcohols with introduction of one R group. 
 
<p>A004-019: Tertiary alcohols will undergo an SN1 reaction when treated with a hydrogen halide. 
 
<p>A004-020: Tertiary alcohols will undergo an SN2 reaction when treated with a hydrogen halide. 
 
<p>A004-021: Primary and secondary alcohols will undergo an SN2 process when treated with HX, SOCl<sub>2</sub>, or PBr<sub>3</sub> or when the hydroxyl group is converted into a tosylate group followed by nucleophilic attack.
 
<p>A004-022: Primary and secondary alcohols will undergo an SN1 process when treated with HX, SOCl<sub>2</sub>, or PBr<sub>3</sub> or when the hydroxyl group is converted into a tosylate group followed by nucleophilic attack.
 
<p>A004-023: Tertiary alcohols undergo E1 elimination when treated with sulfuric acid. 
 
<p>A004-024: Tertiary alcohols undergo E2 elimination when treated with sulfuric acid. 
 
<p>A004-025: For an E2 process, the hydroxyl group is first converted into a tosylate or an alkyl halide. 
 
<p>A004-026: For an E2 process, the hydroxyl group is first converted into a tosylate or an acyl halide. 
 
<p>A004-027: Primary alcohols can undergo oxidation twice to give a carboxylic acid. 
 
<p>A004-028: Secondary alcohols can undergo oxidation twice to give a carboxylic acid. 
 
<p>A004-029: Secondary alcohols are oxidized only once to give a ketone. 
 
<p>A004-030: Tertiary alcohols are oxidized only once to give a ketone. 
 
<p>A004-031: Tertiary alcohols do not undergo oxidation. 
 
<p>A004-032: Tertiary alcohols can undergo oxidation to give esters.
 
<p>A004-033: The most common oxidizing reagent is chromic acid (H<sub>2</sub>CrO<sub>4</sub>), which can be prepared either from chromium trioxide (CrO<sub>3</sub>) or from sodium dichromate (Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) in aqueous acidic medium. 
 
<p>A004-034 The most common oxidizing reagent is chromic acid (H<sub>2</sub>CrO<sub>4</sub>), which can be prepared either from chromium trioxide (CrO<sub>3</sub>) or from sodium dichromate (Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) in aqueous basic medium. 
 
<p>A004-035: PCC is used to convert a primary alcohol into an aldehyde.
 
<p>A004-036: PCC is used to convert a primary alcohol into a carboxylic acid.
<p>A004-037: Phenols undergo oxidation to quinones.
 
<p>A004-038: Phenols undergo reduction to quinones.
 
<p>A004-039: A strong base can be used to deprotonate an alcohol. A commonly used base is sodium hydride (NaH).
 
<p>A004-040: A strong base can be used to deprotonate an alcohol. A commonly used base is sodium hydroxide (NaOH).
 
<p>A004-041: Li, Na, or K react with an alcohol to liberate dihydrogen gas, producing the alkoxide ion.
 
<p>A004-042: Li, Na, or K react with an alcohol to liberate dihydrogen gas, producing the phenoxide ion.
 
<p>A004-043: Alcohols can be prepared by substitution reactions in which a leaving group is replaced by a hydroxyl group.
 
<p>A004-044: Alcohols can be prepared by aromatic substitution reactions in which a leaving group is replaced by a hydroxyl group.
 
<p>A004-045: Lithium aluminum hydride is a strong reagent. It reacts violently with water, and therefore, a protic solvent cannot be present together with LAH in the reaction flask.
 
<p>A004-046: Lithium aluminum hydride is a weak reagent. It reacts slowly with water, and therefore, a protic solvent can be present together with LAH in the reaction flask.
 
<p>A004-047: Both NaBH<sub>4</sub> and LAH will reduce ketones or aldehydes. These hydride delivery agents offer one significant advantage over catalytic hydrogenation in that they will selectively reduce a carbonyl group in the presence of a C=C bond. 
 
<p>A004-048: Both NaBH<sub>4</sub> and LAH will reduce ketones or aldehydes. These hydride delivery agents offer one significant advantage over catalytic hydrogenation in that they can selectively reduce a C=C bond in the presence of a carbonyl group.
 
<p>A004-049: Phenol is prepared industrially via a multistep process involving the formation and oxidation of cumene.
 
<p>A004-050: Phenol is prepared industrially via a multistep process involving the formation and oxidation of aniline.
 
<p>A004-051: Ethers can be readily prepared from the reaction between an alkoxide ion and an alkyl halide, a process called a Williamson ether synthesis.
 
<p>A004-052: Ethers can be readily prepared from the reaction between an alkoxide ion and an acyl halide, a process called a Williamson ether synthesis.
 
<p>A004-053: A Williamson ether synthesis works best for methyl or primary alkyl halides.
 
<p>A004-054: A Williamson ether synthesis works best for primary or secondary halides.
 
<p>A004-055: Secondary alkyl halides are significantly less efficient, and tertiary alkyl halides cannot be used in a Williamson ether synthesis.
 
<p>A004-056: Primary alkyl halides are significantly less efficient, and tertiary alkyl halides cannot be used in a Williamson ether synthesis.
 
<p>A004-057: Ether can be prepared from alkenes via alkoxymercuration-demercuration, which results in a Markovnikov addition of RO and H across an alkene.
 
<p>A004-058: Ether can be prepared from alkenes via alkoxymercuration-demercuration, which results in a Zaytzev addition of RO and H across an alkene.
 
<p>A004-059: When treated with a strong acid, an ether will undergo acidic cleavage in which it is converted into two alkyl halides.
 
<p>A004-060: When treated with a strong acid, an ether will undergo basic cleavage in which it is converted into two alkyl halides. 
 
<p>A004-061: When a phenyl ether is cleaved under acidic conditions, the products are phenol and an alkyl halide.
 
<p>A004-062: When a phenyl ether is cleaved under acidic conditions, it is converted into two alkyl halides.
 
<p>A004-063: A three-membered cyclic ether is called oxirane. It possesses significant ring strain and is therefore more reactive than other ethers.
 
<p>A004-064: A three-membered cyclic ether is called oxane. It possesses significant ring strain and is therefore more reactive than other ethers.
 
<p>A004-065: Alkenes can be converted into epoxides by treatment with peroxy acids or via halohydrin formation and subsequent intramolecular cyclisation. Both procedures are stereospecific.
 
<p>A004-066: Alkenes can be converted into epoxides by treatment with peroxy acids or via halohydrin formation and subsequent intramolecular cyclisation. Both procedures are stereoselective.
 
<p>A004-067: Substituents that are cis to each other in the starting alkene remain cis to each other in the epoxide, and substituents that are trans to each other in the starting alkene remain trans to each other in the epoxide.
 
<p>A004-068: Substituents that are cis to each other in the starting alkene become trans to each other in the epoxide.
<p>A004-069: Chiral catalysts can be used to achieve the enantioselective epoxidation of allylic alcohols.
 
<p>A004-070: Achiral catalysts can be used to achieve the enantioselective epoxidation of allylic alcohols.
 
<p>A004-071: In a Sharpless asymmetric epoxidation, the catalyst favors the production of one enantiomer over the other, leading to an observed enantiomeric excess.
 
<p>A004-072: In a Sharpless asymmetric epoxidation, the catalyst favors the production of a racemate.
 
<p>A004-073: Epoxides will undergo ring-opening reactions either (1) in conditions involving a strong nucleophile or (2) under acid catalyzed conditions.
 
<p>A004-074: Epoxides will undergo ring-opening reactions either (1) in conditions involving a strong eletrophile or (2) under acid catalyzed conditions.
 
<p>A004-075: When a strong nucleophile is used to open an epoxide, the nucleophile attacks at the less substituted (less hindered) position.
 
<p>A004-076: When a strong nucleophile is used to open an epoxide, the nucleophile attacks at the more substituted (more hindered) position.
 
<p>A004-077: Under acid-catalyzed conditions, the regiochemical outcome is dependent on the nature of the epoxide and is explained in terms of a competition between electronic effects and steric effects.
 
<p>A004-078: Under basic-catalyzed conditions, the regiochemical outcome is dependent on the nature of the epoxide and is explained in terms of a competition between electronic effects and steric effects.
 
<p>A004-079: The stereochemical outcome involves inversion of configuration under all conditions.
 
<p>A004-080: The stereochemical outcome involves retention of configuration under all conditions.
 
<p>A004-081: Sulfur analogs of alcohols contain an SH group rather than an OH group and are called thiols.
 
<p>A004-082: Sulfur analogs of alcohols contain an SO3H group rather than an OH group and are called thiols.
 
<p>A004-083: Ring opening of an epoxide produces a compound with two functional groups on adjacent carbon atoms. Whenever you see two adjacent functional groups, you should think of epoxides.
 
<p>A004-084: Ring opening of an epoxide produces a compound with two functional groups on adjacent carbon atoms. Whenever you see two adjacent functional groups, you should think of alkoxides.
 
<p>A004-085: When a Grignard reagent reacts with an epoxide, a C-C bond is formed. This reaction can be used to introduce a chain of carbon atoms that possess a built-in functional group at the second carbon atom.
 
<p>A004-086: When a Grignard reagent reacts with an epoxide, a C=C bond is formed. This reaction can be used to introduce a chain of carbon atoms that possess a built-in functional group at the second carbon atom.
 
<p>A004-087: Ethers are compounds that exhibit an oxygen atom bonded to two R groups, where each R group can be an alkyl, aryl, or vinyl group.
 
<p>A004-088: Esters are compounds that exhibit an oxygen atom bonded to two R groups, where each R group can be an alkyl, aryl, or vinyl group.
 
<p>A004-089: Diethyl ether is prepared industrially via the acid-catalyzed dehydration of ethanol.
 
<p>A004-090: Diethyl ether is prepared industrially via the basic-catalyzed dehydration of ethanol.
 
<p>A004-091: Ethers are generally unreactive under basic or mildly acidic conditions. As a result, they are an ideal choice as solvents for many reactions.
 
<p>A004-092: Ethers are generally reactive under basic or mildly acidic conditions. As a result, they are not an ideal choice as solvents for many reactions.
 
<p>A004-093: Both HI and HBr can be used to cleave ethers. HCl is less efficient, and HF does not cause acidic cleavage of ethers.
 
<p>A004-094: Both HF and HCl can be used to cleave ethers. HBr is less efficient, and HI does not cause acidic cleavage of ethers.
 
<p>A004-095: Alkenes can be converted into epoxides upon treatment with peroxy acids.
 
<p>A004-096: Alkynes can be converted into epoxides upon treatment with peroxy acids.
 
<p>A004-097: Alkenes can be converted into halohydrins when treated with a halogen in the presence of water.
 
<p>A004-098: Alkenes can be converted into halohydrins when treated with a halogen in the presence of alcohol.
 
<p>A004-099: Halohydrins can be converted into epoxides upon treatment with a strong base.
 
<p> A004-100: Halohydrins can be converted into epoxides upon treatment with a strong acid.
<p> 