<p> 
<p><strong>AVENGERS DECK 3</strong>
> 
<p>A003-001: Les alcènes subissent une réaction d’addition lorsqu'ils sont traités avec du brome, tandis que le benzène est inerte dans les mêmes conditions.
<p>A003-002: Les alcènes et le benzène subissent une réaction d’addition lorsqu'ils sont traités avec du brome.
<p>A003-003: En présence de fer, une réaction de substitution électrophile aromatique entre le benzène et le brome est observée.
<p>A003-004: En présence d'aluminium, une réaction de substitution électrophile aromatique entre le benzène et le brome est observée.
<p>A003-005: Le tribromure de fer est un acide de Lewis qui interagit avec Br<sub>2</sub> et génère Br<sup>+</sup> qui est suffisamment électrophile pour être attaqué par le benzène.
<p>A003-006: Le tribromure de fer est un acide de Lewis qui interagit avec Br<sub>2</sub> et génère Br<sup>2+</sup>, qui est suffisamment électrophile pour être attaqué par le benzène.
<p>A003-007: Une substitution électrophile aromatique comporte deux étapes : (1) La formation du complexe sigma, ou ion arénium. Cette étape est endergonique. (2) La déprotonation, qui restaure l'aromaticité.
<p>A003-008: Une substitution nucléophile aromatique comporte deux étapes: (1) La formation du complexe sigma, ou ion arénium. Cette étape est endergonique. (2) La déprotonation, qui restaure l'aromaticité.
<p>A003-009: Le tribromure d'aluminium (AlBr<sub>3</sub>) est un autre acide de Lewis courant qui peut servir d'alternative possible au FeBr<sub>3</sub>.
<p>A003-010: Le tribromure d'aluminium (AlBr<sub>3</sub>) est une autre base de Lewis courante qui peut servir d'alternative possible au FeBr<sub>3</sub>.
<p>A003-011: La chloration du benzène est réalisée avec un acide de Lewis approprié, tel que le trichlorure d'aluminium.
<p>A003-012: La chloration du benzène est réalisée avec un acide de Lewis approprié, tel que le tribromure d'aluminium.
<p>A003-013:Le trioxyde de soufre (SO<sub>3</sub>) est un électrophile très puissant présent dans l'acide sulfurique fumant. Le benzène réagit avec le SO<sub>3</sub> selon un processus réversible appelé sulfonation.
<p>A003-014: Le trioxyde de soufre (SO<sub>3</sub>) est un électrophile très puissant présent dans l'acide sulfurique dilué. Le benzène réagit avec le SO<sub>3</sub> selon un processus réversible appelé sulfonation.
<p>A003-015: Un mélange d'acide sulfurique et d'acide nitrique produit une petite quantité d'ion nitronium (NO<sub>2</sub><sup>+</sup>). Le benzène réagit avec l'ion nitronium selon un processus appelé nitration.
<p>A003-016: Un mélange d'acide sulfurique et d'acide nitrique produit une petite quantité d'ion nitronium (NO<sup>+</sup>). Le benzène réagit avec l'ion nitronium selon un processus appelé nitration.
<p>A003-017: Un groupement nitro peut être réduit en un groupement amino, ce qui constitue une méthode en deux étapes pour ajouter un groupe amino.
<p>A003-018: Un groupement nitro peut être réduit en un groupement imine, ce qui constitue une méthode en deux étapes pour ajouter un groupe amino.
<p>A003-019: L'alkylation de Friedel-Crafts permet l’ajout d'un groupement alkyle sur un cycle aromatique.
<p>A003-020: L'alkylation de Friedel-Crafts permet l’ajout d'un groupement acyle sur un cycle aromatique.
<p>A003-021: En présence d'un acide de Lewis, un halogénure d'alkyle est transformé en un carbocation, qui peut être attaqué par le benzène selon une substitution électrophile aromatique.
<p>A003-022: En présence d'un acide de Lewis, un halogénure d'acyle est transformé en un carbocation, qui peut être attaqué par le benzène selon une substitution électrophile aromatique.
<p>A003-023: Une alkylation de Friedel-Crafts n'est efficace que dans les cas où le carbocation ne peut pas se réarranger.
<p>A003-024: Une alkylation de Friedel-Crafts n'est efficace que dans les cas où le carbocation peut se réarranger.
<p>A003-025: Dans le cas d'une alkylation de Friedel-Crafts, lors du choix d'un halogénure d'alkyle, l'atome de carbone connecté à l'halogène doit être hybridé sp3.
<p>A003-026: Dans le cas d'une alkylation de Friedel-Crafts, lors du choix d'un halogénure d'alkyle, l'atome de carbone connecté à l'halogène doit être hybridé sp2.
<p>A003-027: Les polyalkylations dans les composés aromatiques sont courantes et peuvent généralement être évitées en contrôlant les conditions de réaction.
<p>A003-028: Les polynitrations dans les composés aromatiques sont courantes et peuvent généralement être évitées en contrôlant les conditions de réaction.
<p>A003-029: L'acylation de Friedel-Crafts permet l’ajout d'un groupement acyle sur un noyau aromatique.
<p>A003-030: L'acylation de Friedel-Crafts permet l’ajout d'un groupement alkyle sur un noyau aromatique.
<p>A003-031: L'acylation de Friedel-Crafts permet l'installation d'un groupement acyle sur un cycle aromatique. Lorsqu'il est traité avec un acide de Lewis, un chlorure d'acyle génère un ion acylium, qui est stabilisé par résonance, et insensible aux réarrangements de carbocations.
<p>A003-032: Lorsqu'il est traité avec un acide de Lewis, un chlorure d'acyle génère un ion acylium qui n'est pas stabilisé par résonance, et qui est sensible aux réarrangements de carbocations.
<p>A003-033: Lorsqu'une acylation de Friedel-Crafts est suivie d'une réduction de Clemmensen, le résultat net est l’ajout d'un groupement alkyle.
<p>A003-034: Lorsqu'une acylation de Friedel-Crafts est suivie d'une réduction de Clemmensen, le résultat net est l'ajout d'un groupement acyle.
<p>A003-035: La polyacylation n'est pas observée, car l'introduction d'un groupement acyle désactive le cycle pour une acylation ultérieure.
<p>A003-036: La polyacylation est observée, car l'introduction d'un groupement acyle active le cycle pour une acylation ultérieure.
<p>A003-037: Un cycle aromatique est activé par un groupement méthyle, qui est <i>ortho-para</i> directeur.
<p>A003-038: Un cycle aromatique est désactivé par un groupement méthyle, qui est <i>ortho-para</i> directeur.
<p>A003-039: Un noyau aromatique est encore plus fortement activé par un groupement méthoxy, qui est aussi <i>ortho-para</i> directeur.
<p>A003-040: Un noyau aromatique est encore plus fortement activé par un groupement méthoxy, qui est aussi <i>méta</i> directeur.
<p>A003-041: Un groupement nitro désactive un cycle aromatique. Il est méta-directeur. La plupart des désactivants sont méta directeurs.
<p>A003-042: Un groupement nitro désactive un cycle aromatique. Il est <i>méta</i>-directeur. Cependant, la plupart des désactivants sont ortho-para directeurs.
<p>A003-043: Les halogènes sont une exception en raison du fait qu'ils sont désactivants mais sont ortho-para directeurs.
<p>A003-044: Les halogènes sont activants et ortho-para directeurs.
<p>A003-045: Les activants puissants sont caractérisés par la présence d'une paire électronique non liante adjacente au cycle aromatique.
<p>A003-046: Les activants faibles sont caractérisés par la présence d'une paire électronique non liante adjacente au cycle aromatique.
<p>A003-047: Les activants modérés présentent une paire électronique non liante qui est déjà délocalisée à l'extérieur de cycle. Les groupements alkoxy sont une exception et sont des activants modérés.
<p>A003-048: Les activants puissants présentent une paire électronique non liante qui est déjà délocalisée à l'extérieur du cycle. Les groupements alkoxy sont une exception et sont des activants modérés.
<p>A003-049: Les groupements alkyles sont de faibles activants.
<p>A003-050: Les groupements acyles sont de faibles activants.
<p>A003-051: Les halogènes sont de faibles désactivants.
<p>A003-052: Les halogènes sont de faibles activants.
<p>A003-053: Les désactivants modérés sont des groupements qui présentent une liaison π sur un atome électronégatif, et pour lesquels la liaison π est conjuguée avec le cycle aromatique.
<p>A003-054: Les activants modérés sont des groupements qui présentent une liaison π sur un atome électronégatif, et pour lesquels la liaison π est conjuguée avec le cycle aromatique.
<p>A003-055: Les désactivants puissants attirent fortement les électrons, soit par résonance, soit par effet inductif.
<p>A003-056: Les activants puissants attirent fortement les électrons, soit par résonance, soit par effet inductif.
<p>A003-057: Lorsque plusieurs substituants sont présents, le groupement activant le plus puissant détermine les effets directeurs.
<p>A003-058: Lorsque plusieurs substituants sont présents, le groupement désactivant le plus puissant détermine les effets directeurs.
<p>A003-059: Les effets stériques jouent souvent un rôle important dans la distribution des produits.
<p>A003-060: Les effets stériques ne jouent pas souvent un rôle important dans la détermination de la distribution des produits.
<p>A003-061: Un groupement bloquant peut être utilisé pour contrôler régiochimie d'une substitution électrophile aromatique.
<p>A003-062: Un groupement nitro peut être utilisé pour contrôler la régiochimie d'une substitution électrophile aromatique.
<p>A003-063: Proposer une synthèse pour un cycle benzénique disubstitué nécessite une analyse minutieuse des effets directeurs pour déterminer quel groupement doit être ajouté en premier.
<p>A003-064: Proposer une synthèse pour un cycle benzénique disubstitué ne nécessite pas une analyse minutieuse des effets directeurs pour déterminer quel groupement doit être installé en premier.
<p>A003-065: Dans une réaction de substitution nucléophile aromatique, le cycle aromatique est attaqué par un nucléophile.
<p>A003-066: Dans une réaction de substitution nucléophile aromatique, le noyau aromatique est attaqué par un électrophile.
<p>A003-067: Dans une réaction de substitution nucléophile aromatique, le cycle doit contenir un puissant groupement attracteur d'électrons (généralement un groupement nitro).
<p>A003-068: Dans une réaction de substitution nucléophile aromatique, le cycle doit contenir un puissant groupement activant.
<p>A003-069: Dans une réaction de substitution nucléophile aromatique, le cycle doit contenir un groupement partant.
<p>A003-070: Dans une réaction de substitution électrophile aromatique, le noyau doit contenir un groupement partant.
<p>A003-071: Dans une réaction de substitution nucléophile aromatique, le groupement partant doit être en position <i>ortho</i> ou <i>para</i> par rapport au groupement attracteur d'électrons.
<p>A003-072: Dans une réaction de substitution électrophile aromatique, le groupement partant doit être en position ortho ou para par rapport au groupement attracteur d'électrons.
<p>A003-073: Une substitution nucléophile aromatique comporte deux étapes : (1) La formation d'un complexe de Meisenheimer. (2) La perte d'un groupement partant pour restaurer l'aromaticité.
<p>A003-074: Une substitution électrophile aromatique comporte deux étapes : (1) La formation d'un complexe de Meisenheimer. (2) La perte d'un groupement partant pour restaurer l'aromaticité.
<p>A003-075: Une réaction d'élimination et d'addition se produit via un intermédiaire benzyne. Les preuves de ce mécanisme proviennent d'expériences de marquage isotopique ainsi que d'une expérience de piégeage.
<p>A003-076: Une réaction d'élimination et d’ addition se produit via un intermédiaire benzyne. Les preuves de ce mécanisme proviennent d'expériences de marquage isotopique ainsi que d'une expérience de piégeage.
<p>A003-077: Les trois mécanismes de substitution aromatique diffèrent par (1) l’intermédiaire, (2) le groupement partant et (3) les effets de substitution.
<p>A003-078: Les trois mécanismes de substitution aromatique diffèrent par (1) l’intermédiaire, (2) le nucléophile et (3) les effets de substitution.
<p>A003-079: Lors de la bromation d'un alcène, le brome se comporte comme un électrophile. Il s'approche du nuage d'électrons π de l'alcène, Br<sub>2</sub> devient temporairement polarisé, rendant l'un des atomes de brome électrophile (δ<sup>+</sup>).
<p>A003-080: Lors de la bromation d'un alcène, le brome fonctionne comme un nucléophile. Il s'approche du nuage d'électrons π de l'alcène, Br<sub>2</sub> devient temporairement polarisé, rendant l'un des atomes de brome nucléophile (δ<sup>-</sup>).
<p>A003-081: L'atome de brome devient suffisamment électrophile pour réagir avec l'alcène, mais pas suffisamment électrophile pour réagir avec le benzène.
<p>A003-082: L'atome de brome devient suffisamment nucléophile pour réagir avec l'alcène, mais pas suffisamment nucléophile pour réagir avec le benzène.
<p>A003-083: Le tribromure de fer, un acide de Lewis, est le véritable catalyseur de la réaction entre le benzène et le brome.
<p>A003-084: Le tribromure de fer, acide de Lewis, est le véritable catalyseur de la réaction entre le benzène et le brome.
<p>A003-085: Lorsque le benzène est traité avec de l'acide sulfurique fumant, une réaction de sulfonation se produit et l'acide benzènesulfonique est obtenu.
<p>A003-086: Lorsque le benzène est traité avec de l'acide sulfurique dilué, une réaction de sulfonation se produit et l'acide benzènesulfonique est obtenu.
<p>A003-087: La réaction entre le benzène et SO<sub>3</sub> est très sensible aux concentrations des réactifs et par conséquent est réversible.
<p>A003-088: La réaction entre le benzène et SO<sub>3</sub> est très sensible aux concentrations des réactifs et n’est pas réversible.
<p>A003-089: Lorsque le benzène est traité avec un mélange d'acide nitrique et d'acide sulfurique, une réaction de nitration se produit au cours de laquelle le nitrobenzène se forme.
<p>A003-090: Lorsque le benzène est traité avec un mélange d'acide nitrique et d'acide sulfurique, une réaction de nitration se produit au cours de laquelle le dinitrobenzène se forme.
<p>A003-091: La réaction de nitration se produit selon une substitution électrophile aromatique dans laquelle un ion nitronium (NO<sub>2</sub><sup>+</sup>) est supposé être l'électrophile. Cet électrophile fort est formé par la réaction acido-basique qui a lieu entre HNO<sub>3</sub> et H<sub>2</sub>SO<sub>4</sub>.
<p>A003-092: La réaction de nitration se produit selon une substitution électrophile aromatique dans laquelle un ion nitronium (NO<sup>+</sup>) est supposé être l'électrophile. Cet électrophile fort est formé par la réaction acido-basique qui a lieu entre HNO<sub>3</sub> et H<sub>2</sub>SO<sub>4</sub>.
<p>A003-093: Dans une réaction de nitration, l'acide nitrique sert de base pour accepter un proton de l'acide sulfurique, suivi d'une perte d'eau pour produire un ion nitronium.
<p>A003-094: Dans une réaction de nitration, l'acide sulfurique sert de base pour accepter un proton de l'acide nitrique, suivi d'une perte d'eau pour produire un ion nitronium.
<p>A003-095: L’ajout d'un groupement alkyle active le cycle pour une alkylation ultérieure.
<p>A003-096: L’ajout d'un groupement alkyle désactive le cycle pour une alkylation ultérieure.
<p>A003-097: Lorsqu'une acylation de Friedel-Crafts est suivie d'une réduction de Clemmensen, le résultat net est l'ajout d'un groupement alkyle.
<p>A003-098: Lorsqu'une acylation de Friedel-Crafts est suivie d'une réduction de Clemmensen, le résultat net est l'installation d'un groupement acyle.
<p>A003-099: Le toluène subit une nitration environ 25 fois plus rapide que le benzène. En d'autres termes, le groupement méthyle active le cycle aromatique.
<p> A003-100: Le toluène subit une nitration environ 25 fois plus lente que le benzène. En d'autres termes, le groupement méthyle désactive le cycle aromatique.
<p> 
<p> 
<p> 
<p> 