<p> 
<p><strong>AVENGERS DECK 3</strong>

<p>A003-001: Los alquenos se adicionan cuando se tratan con bromo, mientras que el benceno es inerte en las mismas condiciones.
<p> 
<p>A003-002: Alquenos y benceno experimentan una adición cuando son tratados con bromo.
<p> 
<p>A003-003: En presencia de hierro, se observa una reacción de sustitución electrofílica aromática entre benceno y bromo.
<p> 
<p>A003-004: En presencia de aluminio, se observa una reacción de sustitución electrofílica aromática entre benceno y bromo.
<p> 
<p>A003-005: La tribromuro de hierro es un ácido de Lewis que interactúa con Br<sub>2</sub> y genera Br<sup>+</sup>, que es suficientemente electrófilo para ser atacado por benceno.
<p> 
<p>A003-006: La tribromuro de hierro es un ácido de Lewis que interactúa con Br<sub>2</sub> y genera Br<sub>2</sub><sup>+</sup>, que es suficientemente electrófilo para ser atacado por benceno.
<p> 
<p>A003-007: La sustitución electrofílica aromática implica dos pasos: (1) Formación del complejo sigma o ion arenio. Este paso es endergónico. (2) Desprotonación, que restaura la aromaticidad.
<p> 
<p>A003-008: La sustitución nucleofílica aromática implica dos pasos: (1) Formación de complejo sigma o ion arenio. Este paso es endergónico. (2) Desprotonación, que restaura la aromaticidad.
<p> 
<p>A003-009: O tribrometo de alumínio (AlBr<sub>3</sub>) é outro ácido de Lewis comum que pode servir como uma alternativa adequada ao FeBr<sub>3</sub>.
<p> 
<p>A003-010: El tribromuro de aluminio (AlBr<sub>3</sub>) es otro ácido de Lewis común. que puede servir como una alternativa adecuada para el FeBr<sub>3</sub>.
<p> 
<p>A003-011: La cloración del benceno se realiza con un adecuado ácido de Lewis, como el tricloruro de aluminio.

<p>A003-012: La cloración de benceno se realiza con un ácido de Lewis adecuado, como tribromuro de aluminio.
<p> 
<p>A003-013: El trióxido de azufre (SO<sub>3</sub>) es un electrófilo muy poderoso que está presente en el ácido sulfúrico fumante. El benceno reacciona con SO<sub>3</sub> en un proceso reversible llamado sulfonación.
<p> 
<p>A003-014: El trióxido de azufre (SO3) es un electrófilo muy poderoso que está presente en ácido sulfúrico diluido. El benceno reacciona con SO3 en un proceso reversible llamado sulfonación.
<p> 
<p>A003-015: Una mezcla de ácido sulfúrico y ácido nítrico produce una pequeña cantidad de ion nitronio (NO<sub>2</sub><sup>+</sup>). El benceno reacciona con el ion nitronio en un proceso llamado nitración.
<p> 
<p>A003-016: Una mezcla de ácido sulfúrico y ácido nítrico produce una pequeña cantidad de ion nitronio (NO<sup>+</sup>). El benceno reacciona con el ion nitronio en un proceso llamado nitración.
<p> 
<p>A003-017: Un grupo nitro puede reducirse a un grupo amina al proporcionar un método de dos pasos para instalar un grupo amino.
<p> 
<p>A003-018: Un grupo nitro puede reducirse a un grupo imina al proporcionar un método de dos pasos para instalar un grupo amino.
<p> 
<p>A003-019: La alquilación de Friedel-Craft permite la instalación de un grupo alquilo en un anillo aromático.
<p> 
<p>A003-020: La alquilación de Friedel-Craft permite la instalación de un grupo acilo en un anillo aromático.
<p> 
<p>A003-021: En presencia de un ácido de Lewis, un haluro de alquilo se convierte en un carbocatión que puede ser atacado por el benceno en una sustitución electrofílica aromática.
<p> 
<p>A003-022: En presencia de un ácido de Lewis, un haluro de acilo se convierte en un carbocatión que puede ser atacado por el benceno en una sustitución electrofílica aromática.
<p> 
<p>A003-023: La alquilación de Friedel-Crafts es efectiva solo en casos donde el carbocatión no se puede reorganizar.
<p> 
<p>A003-024: La alquilación de Friedel-Crafts es efectiva solo en casos donde el carbocatión puede reorganizarse.
<p> 
<p>A003-025: Para una alquilación Friedel-Crafts, al elegir un haluro de alquilo, el átomo de carbono unido a halógeno debe tener hibridación sp<sup>3</sup>.

<p>A003-026: Para una alquilación Friedel-Crafts, al elegir un haluro de alquilo, el átomo de carbono unido a halógeno debe tener hibridación sp<sup>2</sup>.
<p> 
<p>A003-027: Las polialquilaciones en compuestos aromáticos son comunes y generalmente se pueden evitar controlando las condiciones de reacción.
<p> 
<p>A003-028: Las polinitraciones en compuestos aromáticos son comunes y generalmente pueden evitarse controlando las condiciones de reacción.
<p> 
<p>A003-029: La acilación de Friedel-Crafts permite la instalación de un grupo acilo en un anillo aromático.
<p> 
<p>A003-030: La acilación de Friedel-Crafts permite la instalación de un grupo alquilo en un anillo aromático.
<p>A003-031: Cuando se trata con un ácido de Lewis, un cloruro de acilo generará un ion acilo que es estabilizado por resonancia y no es susceptible de reordenamientos de carbocatión.
<p> 
<p>A003-032: Cuando se trata con un ácido de Lewis, un cloruro de acilo generará un ion acilo, que no es estabilizado por resonancia y es susceptible de reordenamientos de carbocatión.
<p> 
<p>A003-033: Cuando una acilación Friedel-Crafts es seguida por una reducción de Clemmensen, el resultado neto es la instalación de un grupo alquilo.
<p> 
<p>A003-034: Cuando una acilación Friedel-Crafts es seguida por una reducción de Clemmensen, el resultado neto es la instalación de un grupo acilo.
<p> 
<p>A003-035: La poliacilación no se observa porque la introducción de un grupo acilo desactiva el anillo para futuras acilaciones.
<p> 
<p>A003-036: La poliacilación se observa porque la introducción de un grupo acilo activa el anillo para acilaciones adicionales.
<p> 
<p>A003-037: Un anillo aromático es activado por un grupo metilo, que es un orientador <i>orto-para</i>.
<p> 
<p>A003-038: Un anillo aromático es desactivado por un grupo metilo, que es un orientador<i>orto-para</i>.
<p> 
<p>A003-039: Un anillo aromático es aún más altamente activado por un grupo metoxilo, que también es un orientador <i>orto-para.</i>
<p> 
<p>A003-040: Un anillo aromático es aún más altamente activado por un grupo metoxilo, que también es un orientador <i>meta.</i>
<p> 
<p>A003-041: Un grupo nitro desactiva un anillo aromático y es un meta orientador. La mayoría de los desactivadores son meta-orientadores.
<p> 
<p>A003-042: Um grupo nitro desativa um anel aromático e é um dirigente <i>meta</i>. A maioria dos desativadores são orto-para dirigentes.
<p> 
<p>A003-043: Los halógenos son una excepción, ya que son desactivadores, pero son orientadores<i>orto-para</i>.

<p>A003-044: Los halógenos son activadores y orientadores <i>orto-para</i>.
<p> 
<p>A003-045: Los activadores fuertes se caracterizan por la presencia de un par de electrones libres inmediatamente adyacente al anillo aromático.
<p> 
<p>A003-046: Los activadores débiles se caracterizan por la presencia de un par de electrones libres inmediatamente adyacentes al anillo aromático.
<p> 
<p>A003-047: Los activadores moderados exhiben un par de electrones libres que ya están deslocalizados fuera del anillo. Los grupos alcóxido son una excepción y son activadores moderados.
<p> 
<p>A003-048: Los activadores fuertes exhiben un par de electrones libres que ya está deslocalizados fuera del anillo. Los grupos alcóxidos son una excepción y son activadores moderados.
<p> 
<p>A003-049: Los grupos alquilo son activadores débiles.
<p> 
<p>A003-050: Los grupos acilo son activadores débiles.
<p> 
<p>A003-051: Los halógenos son desactivadores débiles.
<p> 
<p>A003-052: Los halógenos son activadores débiles.
<p> 
<p>A003-053: Los desactivadores moderados son grupos que exhiben un enlace π unido a un átomo electronegativo, donde el enlace π se conjuga con el anillo aromático.

<p>A003-054: Los activadores moderados son grupos que exhiben un enlace π unido a un átomo electronegativo, donde el enlace π se conjuga con el anillo aromático.

<p>A003-055: Los desactivadores fuertes son potentes extractores de electrones, ya sea por resonancia o por inducción.
<p> 
<p>A003-056: Los activadores fuertes son potentes extractores de electrones, ya sea por resonancia o por inducción.
<p> 
<p>A003-057: Cuando hay múltiples sustituyentes presentes, el grupo activador más poderoso domina los efectos de orientación.
<p> 
<p>A003-058: Q Cuando hay múltiples sustituyentes presentes, el grupo desactivador más poderoso domina los efectos de orientación.
<p> 
<p>A003-059: Los efectos estéricos a menudo juegan un papel importante en la determinación de la distribución del producto.
<p> 
<p>A003-060: Los efectos estéricos generalmente no juegan un papel importante en la determinación de la distribución del producto.
<p> 
<p>A003-061: Se puede usar un grupo de bloqueo para controlar el resultado de una sustitución aromática electrofílica.
<p> 
<p>A003-062: Se puede utilizar un grupo nitro para controlar el resultado de una sustitución aromática electrófila.
<p> 
<p>A003-063: Proponer una síntesis para un anillo de benceno disustituido requiere una cuidadosa consideración de los efectos de orientación para determinar qué grupo debe instalarse primero.
<p> 
<p>A003-064: Proponer una síntesis para un anillo de benceno disustituido no requiere un análisis cuidadoso de los efectos de selección para determinar qué grupo debe instalarse primero.
<p> 
<p>A003-065: En una reacción de sustitución nucleófila aromática, el anillo aromático es atacado por un nucleófilo.
<p> 
<p>A003-066: En una reacción de sustitución nucleofílica aromática, el anillo aromático es atacado por un electrófilo.
<p> 
<p>A003-067: En una reacción de sustitución nucleófila aromática, el anillo debe contener un poderoso grupo retirador de electrones (típicamente un grupo nitro).
<p> 
<p>A003-068: En una reacción de sustitución nucleófila aromática, el anillo debe contener un poderoso grupo activador.
<p> 
<p>A003-069: En una reacción de sustitución nucleofílica aromática, el anillo debe contener un grupo saliente.
<p> 
<p>A003-070: En una reacción de sustitución electrofílica aromática, el grupo saliente debe ser orto o para en relación con el grupo de extracción de electrones.
<p> 
<p>A003-071: En una reacción de sustitución nucleófila aromática, el grupo saliente debe ser <i>orto</i> o <i>para</i> en relación con el grupo de extracción de electrones.
<p> 
<p>A003-072: En una reacción de sustitución eletrofílico aromática, o grupo de saída deve ser orto o para en relación con el grupo de extracción de electrones. 
<p> 
<p>A003-073: La sustitución nucleofílica aromática implica dos pasos: (1) Formación de un complejo de Meisenheimer. (2) Pérdida de un grupo saliente para restaurar la aromaticidad.
<p> 
<p>A003-074: La sustitución electrofílica aromática implica dos pasos: (1) Formación de un complejo de Meisenheimer. (2) Pérdida de un grupo saliente para restaurar la aromaticidad.
<p> 
<p>A003-075: Se produce una reacción de eliminación por adición a través de un intermediario de bencino. La evidencia de este mecanismo proviene de experimentos con marcado isotópico, así como de un experimento de captura.
<p> 
<p>A003-076: Una reacción de tipo adición-eliminación ocurre a través de un intermedio de bencino. La evidencia de este mecanismo proviene de experimentos de marcado isotópico, así como de un experimento de captura intermedia.
<p> 
<p>A003-077: Los tres mecanismos para la sustitución aromática difieren en (1) el intermedio, (2) el grupo saliente y (3) los efectos de los sustituyentes.
<p>A003-078: Los tres mecanismos para la sustitución aromática difieren en (1) el intermedio, (2) el nucleófilo y (3) los efectos de los sustituyentes.
<p> 
<p>A003-079: Durante la bromación de un alqueno, Br<sub>2</sub> atua como un electrófilo. A medida que se acerca a la nube de electrones π del alqueno, Br<sub>2</sub> se polariza temporalmente, convirtiéndolo en uno de los átomos de bromo electrófilo (δ+).
<p> 
<p>A003-080: Durante la bromación de un alqueno, Br2 funciona como nucleófilo. A medida que se acerca a la nube de electrones π del alqueno, Br2se polariza temporalmente, convirtiéndolo en uno de los átomos de bromo nucleófilo (δ-).
<p> 
<p>A003-081: El átomo de bromo se vuelve lo suficientemente nucleófilo para reaccionar con el alqueno, pero no es lo suficientemente nucleófilo como para reaccionar con el benceno.
<p> 
<p>A003-082: El átomo de bromo se vuelve lo suficientemente electrofílico como para reaccionar con el alqueno, pero no es lo suficientemente electrofílico como para reaccionar con el benceno.
<p> 
<p>A003-083: El tribromuro de hierro, un ácido de Lewis, actúa como catalizador en la reacción entre el benceno y el bromo.
<p> 
<p>A003-084: El tribromuro de boro, una base de Lewis, actúa como catalizador en la reacción entre el benceno y el bromo.
<p> 
<p>A003-085: Cuando el benceno se trata con ácido sulfúrico fumante, se produce una reacción de sulfonación y se obtiene ácido bencenosulfónico.
<p> 
<p>A003-086: Cuando el benceno se trata con ácido sulfúrico diluido, se produce una reacción de sulfonación y se obtiene ácido bencenosulfónico.
<p> 
<p>A003-087: La reacción entre el benceno y el SO<sub>3</sub> es altamente sensible a las concentraciones de reactivo y, por lo tanto, es reversible.
<p> 
<p>A003-088: A La reacción entre el benceno y el SO<sub>3</sub> es altamente sensible a las concentraciones de reactivo y no es reversible.
<p> 
<p>A003-089: Cuando el benceno se trata con una mezcla de ácido nítrico y ácido sulfúrico, se produce una reacción de nitración en la que se forma nitrobenceno.
<p> 
<p>A003-090: Cuando el benceno se trata con una mezcla de ácido nítrico y ácido sulfúrico, se produce una reacción de nitración en la que se forma dinitrobenceno.
<p> 
<p>A003-091: La reacción de nitración ocurre a través de una sustitución aromática electrofílica, en la cual el ion nitrito (se cree que el NO<sub>2</sub>+ es el electrófilo). Este fuerte electrófilo se forma a partir de la reacción ácido-base que ocurre entre HNO<sub>3</sub> e o H<sub>2</sub>SO<sub>4</sub>.
<p> 
<p>A003-092: La reacción de nitración ocurre a través de una sustitución aromática electrófila, en la cual se cree el ion nitron (NO<sup>+</sup>) es el electrófilo). Este fuerte electrófilo se forma a partir de la reacción ácido-base que ocurre entreHNO<sub>3</sub> e o H<sub>2</sub>SO<sub>4</sub>.
<p> 
<p>A003-093: En una reacción de nitración, el ácido nítrico actúa como base para aceptar un protón de ácido sulfúrico, seguido de la pérdida de agua para producir un ion nitronio.

<p>A003-094: En una reacción de nitración, ácido sulfúrico funciona como una base para aceptar un protón ácido nítrico, seguido por la pérdida de agua para producir un ión de nitronio.

<p>A003-095: La instalación de un grupo alquilo activa el anillo para la alquilación adicional.
<p> 
<p>A003-096: La instalación de un grupo alquilo desactiva el anillo para la alquilación posterior.
<p> 
<p>A003-097: Cuando una acilación Friedel-Crafts es seguida por una reducción de Clemmensen, el resultado neto es la instalación de un grupo alquilo.
<p> 
<p>A003-098: Cuando una acilación Friedel-Crafts es seguida por una reducción de Clemmensen, el resultado neto es la instalación de un grupo acilo.
<p> 
<p>A003-099: El tolueno se somete a nitración aproximadamente 25 veces más rápido que el benceno. En otras palabras, se dice que el grupo metilo activa el anillo aromático.
<p> 
<p> A003-100: El tolueno se somete a nitración aproximadamente 25 veces más lento que el benceno. En otras palabras, se dice que el grupo metilo desactiva el anillo aromático.
<p> 
<p> 
<p> 