<p> 
<p>AVENGERS DECK 5
 
<p>A005-001: Les aldéhydes et les cétones contiennent un groupement carbonyle, sont présents dans la nature et l’industrie, et occupent une place centrale en chimie organique.
 
<p>A005-002: Les aldéhydes peuvent être préparés via l’oxydation d’alcools secondaires, l’ozonolyse des alcènes ou l’hydroboration-oxydation des alcynes terminaux. 
 
<p>A005-003: Les aldéhydes peuvent être préparés via l’oxydation des alcools primaires, l’ozonolyse des alcènes et l’hydroboration-oxydation des alcynes terminaux.
 
<p>A005-004: Les cétones peuvent être préparées via l’oxydation d’alcools secondaires, l’ozonolyse des alcènes, l’hydratation acido-catalysée des alcynes terminaux ou par acylation de Friedel-Crafts.
 
<p>A005-005: L’électrophilie d’un groupement carbonyle découle des effets de résonance et aussi des effets inductifs.
 
<p>A005-006: Les aldéhydes peuvent être préparées via l’oxydation d’alcools secondaires, l’ozonolyse des alcènes, l’hydratation acido-catalysée des alcynes terminaux ou par acylation de Friedel-Crafts.
 
<p>A005-007: Les aldéhydes sont plus réactifs que les cétones du fait des effets stériques et des effets électroniques.
 
<p>A005-008: La nucléophilie d’un groupement carbonyle découle des effets de résonance et aussi des effets inductifs.
 
<p>A005-009: Le mécanisme d’addition nucléophile dans des conditions basiques implique deux étapes : 1. L’attaque nucléophile pour générer un intermédiaire tétraédrique; 2. Un transfert de proton.
<p> 
<p>A005-010: Les aldéhydes sont moins réactifs que les cétones du fait des effets stériques et des effets électroniques.
<p> 
<p>A005-011: La formation des hydrates: La position d’un équilibre est dépendante de la capacité d’un nucléophile en tant que groupement partant.
<p> 
<p>A005-012: La formation des hydrates: La position d’un équilibre est dépendante de la capacité d’un électrophile en tant que groupement partant.
<p> 
<p>A005-013: Lors du traitement d’un aldéhyde ou d’une cétone avec de l’eau, le groupement carbonyle peut être converti en hydrate.
<p> 
<p>A005-014: Lors du traitement d’un aldéhyde ou d’une cétone avec de l’eau, le groupement carbonyle peut être converti en acétal.
<p> 
<p> 
<p>A005-015: La formation des hydrates: l’équilibre favorise généralement le groupement carbonyle, excepté dans le cas d’aldéhydes simples ou de cétones avec des substituants fortement électroattracteurs.
<p> 
<p>A005-016: La formation des hydrates : l’équilibre favorise généralement l’hydrate, excepté dans le cas d’aldéhydes simples ou de cétones avec des substituants fortement électroattracteurs.
<p> 
<p>A005-017: Dans des conditions acides, un aldéhyde ou une cétone réagit avec deux molécules d’alcool pour former un acétal.
<p> 
<p>A005-018: Dans des conditions basiques, un aldéhyde ou une cétone réagit avec deux molécules d’alcool pour former un acétal.
<p> 
<p>A005-019: En présence d’un acide, le groupement carbonyle est protoné pour former un électrophile très puissant.
 
<p>A005-020: En présence d’un acide, le groupement carbonyle est protoné pour former un nucléophile très puissant.
 
<p>A005-021: Le mécanisme de la formation d’un acétal peut être divisé en deux parties: 1. Les trois premières étapes produisent un hémiacétal. 2. Les quatre dernières étapes convertissent un hémiacétal en acétal.
<p> 
<p>A005-022: Pour de nombreuses cétones simples, l’équilibre favorise la formation de l’acétal ; cependant pour la plupart des aldéhydes, l’équilibre favorise les réactifs plutôt que les produits.
<p> 
<p>A005-023: Pour de nombreux aldéhydes simples, l’équilibre favorise la formation de l’acétal ; cependant pour la plupart des cétones, l’équilibre favorise les réactifs plutôt que les produits.
<p> 
<p>A005-024: Un aldéhyde ou une cétone réagira avec une molécule de diol pour former un hémiacétal cyclique.
<p> 
<p>A005-025: Un aldéhyde ou une cétone réagira avec une molécule de diol pour former un acétal cyclique.
<p> 
<p>A005-026: Les acétals sont stables dans des conditions fortement acides.
 
<p>A005-027: La réversibilité de la formation d’un acétal permet aux acétals d’être des groupements protecteurs de cétones ou d’aldéhydes.
<p> 
<p>A005-028: Les hémiacétals sont généralement difficiles à isoler, sauf s’ils sont acycliques.
 
<p>A005-029: Les acétals sont stables dans des conditions fortement basiques.
 
<p>A005-030: Dans des conditions acides, un aldéhyde ou une cétone réagira avec une amine primaire pour former une énamine.
<p>A005-031: Les hémiacétals sont généralement difficiles à isoler, sauf s’ils sont cycliques.
 
<p>A005-032: Les trois premières étapes dans la formation d’une enamine conduisent à une carbinolamine et les trois dernières étapes convertissent une carbinolamine en une énamine.
 
<p>A005-033: Dans des conditions acides, un aldéhyde ou une cétone réagira avec une amine primaire pour former une imine.
 
<p>A005-034 : Un grand nombre de composés différents de formule RNH<sub>2</sub> réagiront avec les aldéhydes et les cétones. Par exemple, quand l’hydrazine (NH<sub>2</sub>NH<sub>2</sub>) est utilisée comme électrophile, une hydrazone se forme.
 
<p>A005-035: Les trois premières étapes dans la formation d’une imine conduisent à une carbinolamine et les trois dernières étapes convertissent une carbinolamine en imine.
 
<p>A005-036: Un grand nombre de composés différents de formule RNH<sub>2</sub> réagiront avec les aldéhydes et les cétones. Par exemple, quand l’hydroxylamine (NH<sub>2</sub>OH) est utilisée comme nucléophile, une hydrazone se forme.
 
<p>A005-037: Un grand nombre de composés différents de formule RNH<sub>2</sub> réagiront avec les aldéhydes et les cétones. Par exemple, quand l’hydrazine (NH<sub>2</sub>NH<sub>2</sub>) est utilisée comme nucléophile, une hydrazone se forme.
 
<p>A005-038: Dans des conditions acides, un aldéhyde ou une cétone réagira avec une amine secondaire pour former une imine. Le mécanisme de la formation d’une énamine est identique à celui de la formation d’une imine, à l’exception de la dernière étape.
<p> 
<p>A005-039: Un grand nombre de composés différents de formule RNH<sub>2</sub> réagiront avec les aldéhydes et les cétones. Par exemple, quand l’hydroxylamine (NH<sub>2</sub>OH) est utilisée comme nucléophile, une hydrazone se forme.
<p> 
<p>A005-040: Dans la réduction de Wolff-Kishner, une hydrazone est réduite en alcène dans des conditions fortement basiques.
 
<p>A005-041: Dans des conditions acides, un aldéhyde ou une cétone réagira avec une amine secondaire pour former une énamine. Le mécanisme de la formation d’une énamine est identique à celui de la formation d’une imine, à l’exception de la dernière étape.
<p> 
<p>A005-042: Dans des conditions acides, tous les réactifs, intermédiaires et groupements partants doivent être neutres (aucune charge) ou porter une charge négative.
<p> 
<p>A005-043: Dans la réduction de Wolff-Kishner, une hydrazone est réduite en alcane dans des conditions fortement basiques.
 
<p>A005-044: L’hydrolyse des acétals, des imines ou des énamines dans des conditions basiques produisent des cétones ou des aldéhydes.
<p> 
<p>A005-045: Dans des conditions acides, tous les réactifs, intermédiaires et groupements partants doivent être neutres (aucune charge) ou porter une charge positive.
<p> 
<p>A005-046: Lors d’un traitement avec du nickel de Raney, les acétals subissent une désulfurisation pour donner un groupement méthylène.
 
<p>A005-047: L’hydrolyse des acétals, des imines ou des énamines dans des conditions acides produisent des cétones ou des aldéhydes.
<p> 
<p>A005-048: Dans des conditions acides, un aldéhyde ou une cétone réagira avec un équivalent de thiol pour former un thioacétal. Si un composé avec deux groupements SH est utilisé, un thioacétal cyclique se forme.
<p> 
<p>A005-049: Dans des conditions acides, un aldéhyde ou une cétone réagira avec deux équivalents de thiol pour former un thioacétal. Si un composé avec deux groupements SH est utilisé, un thioacétal cyclique se forme.
<p> 
<p>A005-050: La réduction d’un groupement carbonyle avec LAH ou NaBH<sub>4</sub> est un processus réversible car l’hydrure se comporte comme un groupement partant.
 
<p>A005-051: Lors d’un traitement avec du nickel de Raney, les thioacétals subissent une désulfurisation pour donner un groupement méthylène.
 
<p>A005-052: Lors d’un traitement avec un agent réducteur hydrure tel que l’hydrure de sodium (NaH) ou l’hydrure de calcium (CaH<sub>2</sub>), les aldéhydes et les cétones sont réduits en alcools.
 
<p>A005-053: Lors d’un traitement avec un agent réducteur hydrure tel que l’hydrure d’aluminium lithium (LAH) ou le borohydrure de sodium (NaBH<sub>4</sub>), les aldéhydes et les cétones sont réduits en alcools.
 
<p>A005-054: Lors d’un traitement avec un réactif de Grignard, les aldéhydes et les cétones sont converties en alcools de façon concomitante à la formation d’une nouvelle liaison C=C.
 
<p>A005-055: La réduction d’un groupement carbonyle avec LAH ou NaBH4 n’est pas un processus réversible car l’hydrure ne se comporte pas comme un groupement partant.
 
<p>A005-056: La réaction de Wittig peut être utilisée pour convertir une cétone en alcane.
 
<p>A005-057: Lors d’un traitement avec un réactif de Grignard, les aldéhydes et les cétones sont converties en alcools de façon concomitante à la formation d’une nouvelle liaison C-C.
 
<p>A005-058: Les réactions de Grignard sont réversibles car les carbanions se comportent comme des groupements partants.
 
<p>A005-059: Les réactions de Grignard ne sont pas réversibles car les carbanions ne se comportent pas comme des groupements partants.
 
<p>A005-060: Lors d’un traitement avec du cyanure d’hydrogène (HCN), les aldéhydes et les cétones sont converties en halohydrines. Pour la plupart des aldéhydes et des cétones non encombrées, l’équilibre favorise la formation de la halohydrine.
 
<p>A005-061: Lors d’un traitement avec du cyanure d’hydrogène (HCN), les aldéhydes et les cétones sont converties en cyanhydrines. Pour la plupart des aldéhydes et des cétones non encombrées, l’équilibre favorise la formation de la cyanhydrine.
 
<p>A005-062: Le mécanisme de la réaction de Wittig implique la formation initiale d’une bétaïne qui subit une attaque nucléophile intramoléculaire en générant un oxaphosphétane. Un réarrangement donne le produit.
 
<p>A005-063: La réaction de Wittig peut être utilisée pour convertir une cétone en alcène.
 
<p>A005-064: Un réactif de Wittig qui permet la conversion d’un aldéhyde ou une cétone en un alcène est appelé un phosphonate, qui appartient à la classe des composés appelés ylures.
 
<p>A005-065: Un réactif de Wittig qui permet la conversion d’un aldéhyde ou une cétone en un alcène est appelé un phosphorane, qui appartient à la classe des composés appelés ylures.
 
<p>A005-066: Une oxydation de Baeyer-Villiger converti une cétone en un ester par insertion d’un atome d’oxygène proche du groupement carbonyle. Les cétones cycliques produisent des esters cycliques appelés lactames.
 
<p>A005-067: Le mécanisme de la réaction de Wittig implique la formation initiale d’une bétaïne qui subit une attaque nucléophile intramoléculaire en générant un phosphétane. Un réarrangement donne le produit.
 
<p>A005-068: Le calcul des orbitales moléculaires suggère que l’attaque nucléophile se produit avec un angle approximatif de 90° par rapport au plan formé par le groupement carbonyle des aldéhydes et cétones.
 
<p>A005-069: Une oxydation de Baeyer-Villiger converti une cétone en un ester par insertion d’un atome d’oxygène proche du groupement carbonyle. Les cétones cycliques produisent des esters cycliques appelés lactones.
 
<p>A005-070: Quand une cétone non symétrique est traitée avec un peracide, la formation de l’ester est stéréosélective et le produit est déterminé par l’aptitude à migrer de chaque groupe proche du carbonyle.
<p> 
<p>A005-071: Quand une cétone non symétrique est traitée avec un peracide, la formation de l’ester est régiosélective et le produit est déterminé par l’aptitude à migrer de chaque groupe proche du carbonyle.
<p> 
<p>A005-072: Le pH d’une solution est une critère important lors de la formation de l’imine ; la vitesse de la réaction étant la plus élevée lorsque le pH est autour de 2,5.
<p> 
<p> 
<p>A005-073: Le calcul des orbitales moléculaires suggère que l’attaque nucléophile se produit avec un angle approximatif de 107° par rapport au plan formé par le groupement carbonyle des aldéhydes et cétones.
<p> 
<p>A005-074: En général, les aldéhydes sont plus réactifs que les cétones vis-à-vis d’une attaque électrophile.
<p> 
<p>A005-075: En général, les aldéhydes sont plus réactifs que les cétones vis-à-vis d’une attaque nucléophile.
<p> 
<p>A005-076: Une cétone possède deux groupements alkyles qui contribuent à son encombrement stérique dans l’état de transition d’une attaque nucléophile. En revanche, un aldéhyde ne possède qu’un seul groupement alkyle de telle sorte que l’état de transition est plus encombré et de plus forte énergie.
<p> 
<p>A005-077: Une cétone possède deux groupements alkyles qui contribuent à son encombrement stérique dans l’état de transition d’une attaque nucléophile. En revanche, un aldéhyde ne possède qu’un seul groupement alkyle de telle sorte que l’état de transition est moins encombré et de plus faible énergie.
<p> 
<p>A005-078: Une cétone possède deux groupements alkyles électrodonneurs qui peuvent stabiliser la charge + sur l’atome de carbone du groupements carbonyle. Ainsi, la charge + d’un aldéhyde est moins stabilisée que celle d’une cétone.
<p> 
<p>A005-079: Une cétone possède deux groupements alkyles électrodonneurs qui peuvent stabiliser la charge + sur l’atome de carbone du groupements carbonyle. Ainsi, la charge + d’un aldéhyde est moins stabilisée que celle d’une cétone.
<p> 
<p>A005-080: Les aldéhydes et les cétones réagissent avec une grande variété de nucléophiles. Tous les nucléophiles nécessitent des conditions basiques, alors que d’autres nécessitent des conditions acides.
<p> 
<p>A005-081: Les aldéhydes et les cétones réagissent avec une grande variété de nucléophiles. Tous les nucléophiles nécessitent des conditions acides.
 
<p>A005-082: Les réactifs des Grignard sont des nucléophiles mous qui attaquent des aldéhydes et des cétones pour produire des alcools. 
 
<p>A005-083: Les réactifs des Grignard sont des nucléophiles durs qui attaquent des aldéhydes et des cétones pour produire des alcools. 
 
<p>A005-084: Les réactifs de Grignard sont détruits en présence d’une base.
 
<p>A005-085: Les réactifs de Grignard sont détruits en présence d’un acide.
 
<p>A005-086: Dans des conditions acides, un aldéhyde ou une cétone réagissent avec deux molécules d’alcool pour former un acétal. Les acides couramment utilisés dans ce but sont l’acide para-toluène sulfonique (TsOH) et l’acide sulfurique (H<sub>2</sub>SO<sub>4</sub>). 
<p>A005-087: Lorsqu’un nucléophile attaque un groupement carbonyle dans des conditions acides ou basiques, la position de l’équilibre est très dépendante de la capacité du nucléophile de se comporter comme un groupement partant.
 
<p>A005-088: Pour reconvertir un acétal en aldéhyde ou en cétone correspondants, il est simplement traité avec de l’eau en présence d’un catalyseur basique.
 
<p>A005-089: La formation d’un acétal est un processus réversible qui peut être contrôlé soigneusement en choisissant les réactifs et les conditions.
 
<p>A005-090: Pour reconvertir un acétal en aldéhyde ou en cétone correspondants, il est simplement traité avec un alcool en présence d’un catalyseur acide..
 
<p>A005-091: Pour reconvertir un acétal en aldéhyde ou en cétone correspondante, il est simplement traité avec de l’eau en présence d’un catalyseur acide.
<p> 
<p>A005-092: Dans des conditions acides, un aldéhyde ou une cétone réagit avec une amine primaire pour former une énamine.
<p> 
<p>A005-093: Dans des conditions acides, un aldéhyde ou une cétone réagit avec une amine primaire pour former une imine.
<p> 
<p>A005-094: Quand l’hydroxylamine (NH<sub>2</sub>OH) est utilisée comme nucléophile, une hydrazone se forme. Quand l’hydrazine (NH<sub>2</sub>NH<sub>2</sub>) est utilisée comme nucléophile, une oxime se forme.
 
<p>A005-095: Dans des conditions acides, un aldéhyde ou une cétone réagissent avec une amine secondaire pour former une énamine.
 
<p>A005-096: Dans des conditions acides, un aldéhyde ou une cétone réagissent avec une amine secondaire pour former une imine.
 
<p>A005-097: Les cétones peuvent être converties en hydrazones. Cette transfromations a une utilité pratique car les hydrazones peuvent être facilement réduites dans des conditions fortement acides pour donner un alcane. 
 
<p>A005-098: Les acétals, les imines et les énamines peuvent être reconverties en cétones par traitement avec un excès d’eau dans des conditions basiques. 
 
<p>A005-099: Le nickel de Raney est une forme spongieuse de nickel qui a adsorbé deux atomes d’hydrogène. Ce sont ces atomes d’hydrogène qui remplacent au final les atomes de soufre dans les thioacétals.
<p> 
<p> A005-100: Lors d’un traitement avec du cyanure d’hydrogène (HCN), les aldéhydes et le cétones sont converties en halohydrines.
 
<p> 