<p> 
<p>AVENGERS DECK 6
<p> 
<p>A006-001: El tratamiento de un ácido carboxílico con una base fuerte, como el hidróxido de sodio, produce la sal de carboxilato.
<p> 
<p>A006-002: El tratamiento de un ácido carboxílico con una base débil, como el carbonato de calcio, produce la sal de carboxilato.
<p> 
<p>A006-003: Cuando se trata con ácido acuoso, un nitrilo se hidrolizará para producir un ácido carboxílico.
<p> 
<p>A006-004: Cuando se trata con ácido acuoso, un nitrilo se hidrolizará a una amina.
<p> 
<p>A006-005: Los derivados del ácido carboxílico difieren en reactividad, siendo los haluros de acilo los más reactivos y las amidas las menos reactivas.
<p> 
<p>A006-006: Los derivados del ácido carboxílico difieren en reactividad, siendo los haluros de acilo los menos reactivos y las amidas las más reactivas.
<p> 
<p>A006-007: Cuando un nucleófilo ataca un derivado de ácido carboxílico, puede ocurrir una sustitución nucleofílica en el grupo acilo, donde el nucleófilo reemplaza al grupo saliente.
<p> 
<p>A006-008: Cuando un nucleófilo ataca un derivado de ácido carboxílico, puede ocurrir una adición nucleofílica al grupo acilo, donde el nucleófilo se adiciona al carbonilo.
<p> 
<p>A006-009: El mecanismo de sustitución nucleofílica en el grupo acilo implica dos pasos principales y a menudo utiliza varios pasos de transferencia de protones (especialmente en condiciones ácidas).
<p> 
<p>A006-010: El mecanismo de sustitución nucleofílica en el grupo acilo implica dos pasos principales y a menudo utiliza varios pasos de transferencia de protones (especialmente en condiciones básicas).
<p> 
<p>A006-011: Cuando un nucleófilo ataca un carbonilo para formar un intermediario tetraédrico, siempre transformará el carbonilo si es posible, pero nunca expulsará H<sup>-</sup> ou C<sup>-</sup>.
<p> 
<p>A006-012: Cuando un nucleófilo ataca un carbonilo para formar un intermedio tetraédrico, siempre transforma el carbonilo si es posible expulsando elexpulsando H<sup>-</sup> ou C<sup>-</sup>.
<p> 
<p>A006-013: Los cloruros de acilo se pueden sintetizar tratando los ácidos carboxílicos con cloruro de tionilo.
<p> 
<p>A006-014: Los cloruros de acilo se pueden sintetizar tratando ácidos carboxílicos con ácido clorhídrico.
<p> 
<p>A006-015: Cuando se trata con agua, los cloruros de ácido se hidrolizan para generar ácidos carboxílicos.
<p>A006-016: Cuando se trata con agua los cloruros de ácido se hidrolizan para generar alcoholes.
<p> 
<p>A006-017: Cuando se trata los cloruros ácidos con alcohol, se convierten en ésteres.
<p> 
<p>A006-018: Cuando se trata los cloruros ácidos con alcohol, se convierten en acetales.
<p> 
<p>A006-019: Quando tratados com amônia, os cloretos de acila são convertidos em amidas. Dois equivalentes de amônia são necessários: um para servir como um nucleófilo e o outro
<p>para servir de base. 
<p> 
<p>A006-020: Cuando se trata los cloruros de acilo con amoníaco, se convierten en aminas. Se requieren dos equivalentes de amoníaco: uno para servir como nucleófilo y el otro para servir como base.
<p> 
<p>A006-021: Cuando se trata los cloruros de acilo con exceso de LiAlH<sub>4</sub>, se reducen para generar alcoholes porque atacan dos equivalentes de hidruro.
<p> 
<p>A006-022: Cuando se trata los cloruros de acilo con exceso de LiAlH4, se reducen para generar aldehídos.
<p> 
<p>A006-023: Cuando se trata los cloruros de acilo con un reactivo de Grignard, se convierten en alcoholes con la introducción de dos grupos alquilo.
<p> 
<p>A006-024: Cuando se trata los cloruros de acilo con un reactivo de Grignard, se convierten en cetonas. 
<p> 
<p>A006-025: El ácido acético se puede convertir en anhídrido acético con sobrecalentamiento.
<p> 
<p>A006-026: El cloruro de acilo se puede convertir en anhídrido acético sobrecalentado.
<p> 
<p>A006-027: Los anhídridos de ácido pueden prepararse tratando un cloruro de acilo con un ion carboxilato.
<p> 
<p>A006-028: Los anhídridos de ácido pueden prepararse tratando un cloruro de acilo con una amina.
<p> 
<p>A006-029: Las reacciones de los anhídridos son las mismas que las reacciones de cloruros de acilo, excepto por la identidad del grupo saliente.
<p> 
<p>A006-030: Las reacciones de los anhídridos son las mismas que las reacciones de aldehídos excepto por la identidad del grupo saliente.
<p> 
<p>A006-031: Cuando se tratan los ácidos carboxílicos con una base fuerte seguido de un haluro de alquilo, se convierten en ésteres.
<p> 
<p>A006-032: Cuando se tratan los ácidos carboxílicos con un ácido fuerte, seguido de un haluro de alquilo, se convierten en ésteres.
<p>A006-033: En un proceso llamado esterificación de Fischer, los ácidos carboxílicos se convierten en ésteres cuando se tratan con alcohol en presencia de un catalizador ácido. Este proceso es reversible.
<p> 
<p>A006-034: En un proceso llamado esterificación de Newman, los ácidos carboxílicos se convierten en ésteres cuando se tratan con alcohol en presencia de un catalizador ácido. Este proceso es reversible.
<p> 
<p>A006-035: Los ésteres también pueden prepararse tratando un cloruro de acilo con un alcohol en presencia de piridina.
<p> 
<p>A006-036: Los ésteres también se pueden preparar tratando un cloruro de acilo con agua en presencia de piridina.
<p> 
<p>A006-037: Los ésteres pueden hidrolizarse para producir ácidos carboxílicos por tratamiento con ácido acuoso o base acuosa. La hidrólisis en condiciones básicas también se llama saponificación.
<p> 
<p>A006-038: Los ésteres pueden hidrolizarse para producir ácidos carboxílicos por tratamiento con ácido acuoso o base acuosa. La hidrólisis en condiciones básicas también se llama esterificación.
<p> 
<p>A006-039: Cuando se trata con hidruro de litio y aluminio, los ésteres son reducidos para producir alcoholes. Si el producto deseado es un aldehído, se debe usar DIBAH como agente reductor en lugar deLiAlH<sub>4</sub>. 
<p> 
<p>A006-040: Cuando se trata con hidruro de litio y aluminio, los ésteres son reducidos para producir alcoholes. Si el producto deseado es un aldehído, entonces se debe usar NaBH<sub>4</sub> como agente reductor en lugar de LiAlH<sub>4</sub>. 
<p> 
<p>A006-041: Cuando se trata con un reactivo de Grignard, los ésteres se reducen a alcoholes mediante la introducción de dos grupos alquilo.
<p> 
<p>A006-042: Cuando se trata con un reactivo de Grignard, los ésteres se reducen a alcoholes con la introducción de un grupo alquilo.
<p> 
<p>A006-043: Las amidas se preparan más eficientemente a partir de cloruros de acilo.
<p> 
<p>A006-044: Las amidas se preparan de manera más eficiente a partir de ácidos carboxílicos.
<p> 
<p>A006-045: Las amidas se hidrolizan para producir ácidos carboxílicos por tratamiento con ácido acuoso o base acuosa.
<p> 
<p>A006-046: Los ácidos carboxílicos se hidrolizan para producir amidas por tratamiento con ácido acuoso o base acuosa.
<p> 
<p>A006-047: Cuando se trata con exceso de LiAlH<sub>4</sub>, las amidas se convierten en aminas.
<p> 
<p>A006-048: Cuando se trata con exceso de LiAlH<sub>4</sub>, las aminas se convierten en amidas.
<p> 
<p>A006-049: Los nitrilos se pueden preparar tratando un haluro de alquilo con un ion cianuro o mediante la deshidratación de una amida.
<p> 
<p>A006-050: Los nitrilos se pueden preparar tratando un haluro de acilo con un ion cianuro o mediante la deshidratación de una amida.
<p> 
<p>A006-051: Los nitrilos pueden hidrolizarse para producir ácidos carboxílicos por tratamiento con ácido acuoso o base acuosa.
<p> 
<p>A006-052: Los nitrilos pueden hidrolizarse para producir aminas por tratamiento con ácido acuoso o base acuosa.
<p> 
<p>A006-053: Se obtiene una cetona cuando se trata un nitrilo con un reactivo de Grignard, seguido de ácido acuoso.
<p> 
<p>A006-054: Se obtiene un aldehído cuando se trata un nitrilo con un reactivo de Grignard, seguido de ácido acuoso.
<p> 
<p>A006-055: Los nitrilos se convierten en aminas cuando se tratan con LiAlH<sub>4</sub>.
<p> 
<p>A006-056: Los nitrilos se convierten en amidas cuando se tratan con LiAlH<sub>4</sub>.
<p> 
<p>A006-057: Los ácidos carboxílicos, sus derivados, aldehídos, alcoholes y aminas se pueden interconvertir fácilmente.
<p> 
<p>A006-058: Los ácidos carboxílicos, sus derivados, aldehídos, alcoholes y amidas pueden ser fácilmente interconvertidos.
<p> 
<p>A006-059: Se obtiene un ácido carboxílico cuando se trata un nitrilo con un reactivo de Grignard, seguido de ácido acuoso.
<p> 
<p>A006-060: Se obtiene un ácido carboxílico cuando una amida se trata con un reactivo de Grignard, seguido de ácido acuoso.
<p> 
<p>A006-061: Se puede usar una variedad de agentes oxidantes para oxidar alcoholes primarios para producir ácidos carboxílicos.
<p> 
<p>A006-062: Se puede usar una variedad de agentes oxidantes para oxidar alcoholes secundarios para producir ácidos carboxílicos.
<p> 
<p>A006-063: La hidrólisis de nitrilos nos proporciona un proceso de dos pasos para convertir un haluro de alquilo en un ácido carboxílico.
<p> 
<p>A006-064: La hidrólisis de nitrilos nos proporciona un proceso de dos pasos para convertir un haluro de acilo en un ácido carboxílico.
<p>A006-065: Los ácidos carboxílicos se pueden preparar tratando un reactivo de Grignard con dióxido de carbono.
<p> 
<p>A006-066: Los ácidos carboxílicos se pueden preparar tratando un reactivo de Grignard con monóxido de carbono.
<p> 
<p>A006-067: Los ácidos carboxílicos se reducen a alcoholes por el tratamiento con hidruro de litio y aluminio.
<p> 
<p>A006-068: Los ácidos carboxílicos se reducen a aldehídos por el tratamiento con hidruro de litio y aluminio.
<p> 
<p>A006-069: Los ácidos carboxílicos sufren muchas reacciones que no implican un cambio en el estado de oxidación.
<p> 
<p>A006-070: Los ácidos carboxílicos sufren muchas reacciones que implican un cambio en el estado de oxidación.
<p> 
<p>A006-071: La sustitución del grupo OH en ácidos carboxílicos por un grupo diferente (Z) no implica un cambio en la oxidación si Z es un heteroátomo (Cl, O, N, etc.). Los compuestos de este tipo se denominan derivados de ácidos carboxílicos.
<p> 
<p>A006-072: La sustitución del grupo OH en ácidos carboxílicos por un grupo diferente (Z) implica un cambio en la oxidación si Z es un heteroátomo (Cl, O, N, etc.). Los compuestos de este tipo se denominan derivados de ácidos carboxílicos.
<p> 
<p>A006-073: Los cloruros de acilo se pueden formar tratando los ácidos carboxílicos con cloruro de tionilo (SOCl<sub>2</sub>).
<p> 
<p>A006-074: Los cloruros de acilo pueden formarse tratando los ácidos carboxílicos con cloruro de sulfurilo (SO<sub>2</sub>Cl<sub>2</sub>).
<p> 
<p>A006-075: Cuando los cloruros de acilo se tratan con agua, se hidrolizan para dar ácidos carboxílicos.
<p> 
<p>A006-076: Cuando los cloruros de acilo se tratan con agua, se hidrolizan para dar alcoholes.
<p> 
<p>A006-077: Cuando los nitrilos se tratan con agua, se hidrolizan para dar ácidos carboxílicos.
<p> 
<p>A006-078: Cuando las aminas se tratan con agua, se hidrolizan para dar ácidos carboxílicos.
<p> 
<p>A006-079: Cuando se trata con amoníaco, los cloruros ácidos se convierten en amidas. Para esta reacción, se requieren dos equivalentes de amoníaco.
<p> 
<p>A006-080: Cuando se trata con amoníaco, los cloruros ácidos se convierten en amidas. Para esta reacción, se requieren tres equivalentes de amoníaco.
<p> 
<p>A006-081: El anhídrido acético se usa a menudo para acetilar un alcohol o una amina.
<p> 
<p>A006-082: El anhídrido acético se usa a menudo para acetilar un alcohol o una amida.
<p> 
<p>A006-083: Cuando se trata con una base seguido de un haluro de alquilo, los ácidos carboxílicos se convierten en ésteres. Por lo tanto, se aplican las limitaciones esperadas de los procesos SN2. Específicamente, no se pueden usar haluros de alquilo terciarios.
<p> 
<p>A006-084: Cuando se trata con un ácido fuerte seguido de un haluro de alquilo, los ácidos carboxílicos se convierten en ésteres, por lo que se aplican las limitaciones esperadas de los procesos SN1. Específicamente, no se pueden usar haluros de alquilo primarios.
<p> 
<p>A006-085: Los ácidos carboxílicos se convierten en ésteres cuando se tratan con alcohol en presencia de un catalizador ácido. Este proceso se llama esterificación de Fischer.
<p> 
<p>A006-086: Los ácidos carboxílicos se convierten en ésteres cuando se tratan con éteres en presencia de un catalizador ácido. Este proceso se llama esterificación de Fischer.
<p> 
<p>A006-087: Los ésteres también se pueden preparar tratando un cloruro de ácido con un alcohol.
<p> 
<p>A006-088: Los ésteres también se pueden preparar tratando un cloruro de ácido con éteres.
<p> 
<p>A006-089: Los ésteres pueden convertirse en ácidos carboxílicos por tratamiento con hidróxido de sodio, seguido de un ácido. Este proceso se llama saponificación.
<p> 
<p>A006-090: Los ésteres pueden convertirse en ácidos carboxílicos por tratamiento con hidróxido de sodio, seguido de un ácido. Este proceso se llama esterificación.
<p> 
<p>A006-091: Los ésteres también pueden hidrolizarse en condiciones ácidas. Este proceso es el inverso de una esterificación de Fischer.
<p> 
<p>A006-092: Los ésteres también pueden hidrolizarse en condiciones ácidas. Este proceso es el inverso de una esterificación de Newman.
<p> 
<p>A006-093: Los ésteres reaccionan lentamente con aminas para producir amidas, sin embargo, este proceso tiene poca utilidad práctica.
<p> 
<p>A006-094: Los ésteres reaccionan fácilmente con aminas para producir amidas.
<p> 
<p>A006-095: Cuando se trata con hidruro de litio y aluminio, los ésteres se reducen para producir alcoholes.
<p> 
<p>A006-096: Cuando se trata con hidruro de litio y aluminio, los ésteres se reducen para producir aldehídos.
<p> 
<p>A006-097: El tratamiento de un éster con solo un equivalente de LiAlH<sub>4</sub> no es un método eficiente para preparar un aldehído porque los aldehídos son más reactivos que los ésteres y reaccionarán con LiAlH4 inmediatamente después de la formación.
<p> 
<p>A006-098: El tratamiento de un éster con solo un equivalente de LiAlH<sub>4</sub> no es un método eficiente para preparar un aldehído.
<p> 
<p>A006-099: Las amidas pueden prepararse a partir de cualquiera de los derivados de ácido carboxílico.
<p> 
<p> A006-100: Los ésteres pueden prepararse a partir de cualquiera de los derivados de ácido carboxílico.
<p> 
<p> 
<p>Texto composto com o melhor editor de HTML online. Assine uma assinatura HTMLG para remover mensagens semelhantes dos documentos editados.