<p> 
<div title="header">
<p> 
</div>
<p>AVENGERS DECK 5
<p> 
<p>A005-001:Tanto os aldeídos como as cetonas contem um grupo carbonila, e ambos são comuns na natureza e na indústria, e ocupam uma papel central na química orgânica.
<p> 
<p>A005-002: Os aldeídos podem ser preparados por oxidação de álcoois secundários, ozonólise de alcenos ou hidroboração-oxidação de alcinos terminais.
<p> 
<p>A005-003: Os aldeídos podem ser preparados por oxidação de álcoois primários, ozonólise de alcenos ou hidroboração-oxidação de alcinos terminais.
<p> 
<p>A005-004: As cetonas podem ser preparadas via oxidação de álcoois secundários, ozonólise de alcenos, hidratação de alcinos catalisada por ácido terminais ou acilação de Friedel-Crafts.
<p> 
<p>A005-005: A eletrofilicidade de um grupo carbonila deriva de efeitos de ressonância, bem como de efeitos indutivos.
<p> 
<p>A005-006: Aldeídos podem ser preparados via oxidação de álcoois secundários, ozonólise de alcenos, hidratação de alcinos catalisada por ácido terminais ou acilação de Friedel-Crafts.
<p> 
<p>A005-007: Aldeídos são mais reativos que cetonas como resultado de efeitos estéricos e eletrônicos.
<p> 
<p>A005-08: A nucleofilicidade de um grupo carbonila deriva de efeitos de ressonância, bem como de efeitos indutivos.
<p> 
<p>A005-009: Um mecanismo geral para a adição nucleofílica sob condições básicas envolve duas etapas: 1. Ataque nucleofílico para gerar um intermediário tetraédrico. 2. Transferência de proton.
<p> 
<p>A005-010: Aldeídos são menos reativos que cetonas como resultado de efeitos estéricos e eletrônicos.
<p> 
<p>A005-011: Formação de hidratos: A posição de equilíbrio depende da habilidade do nucleófilo para atuar como um grupo de saída.
<p> 
<p>A005-012: Formação de hidratos: A posição de equilíbrio depende da habilidade do eletrófilo para atuar como um grupo de saída.
<p> 
<p>A005-013: Quando um aldeído ou cetona é tratado com água, a carbonila pode ser convertida em um hidrato.
<p> 
<p>A005-014: Quando um aldeído ou cetona é tratado com água, a carbonila pode ser convertida em acetal.
<p> 
<p>A005-015: Formação de hidratos: O equilíbrio geralmente favorece a carbonila, exceto no caso de aldeídos muito simples, ou cetonas com substituintes fortemente retiradores de elétrons
<p>A005-016: Formação de hidratos: O equilíbrio geralmente favorece o hidrato, exceto no caso de aldeídos muito simples, ou cetonas com substituintes fortemente retiradores de elétrons
<p> 
<p>A005-017: Em condições ácidas, um aldeído ou cetona reagirá com duas moléculas de álcool para formar um acetal.
<p> 
<p>A005-018: Em condições básicas, um aldeído ou cetona reagirá com duas moléculas de álcool para formar um acetal.
<p> 
<p>A005-019: Na presença de um ácido, o grupo carbonila é protonada para formar um eletrófilo muito poderoso.
<p> 
<p>A005-020: Na presença de um ácido, o grupo carbonila é protonada para formar um nucleófilo muito poderoso.
<p> 
<p>A005-021: O mecanismo para a formação de acetal pode ser dividido em duas partes: 1. Os primeiros três passos produzem um hemiacetal. 2. Os últimos quatro passos convertem o hemiacetal em acetal.
<p> 
<p>A005-022: Para muitas cetonas simples, o equilíbrio favorece a formação do acetal. No entanto, para a maioria dos aldeídos, o equilíbrio favorece os reagentes em vez dos produtos.
<p> 
<p>A005-023: Para muitos aldeídos simples, o equilíbrio favorece a formação do acetal. No entanto, para a maioria das cetonas, o equilíbrio favorece os reagentes em vez dos produtos.
<p> 
<p>A005-024: Um aldeído ou cetona reagirá com uma molécula de um diol para formar um hemiacetal cíclico.
<p> 
<p>A005-025: Um aldeído ou cetona reagirá com uma molécula de um diol para formar um acetal cíclico.
<p> 
<p>A005-026: Acetais são estáveis sob condições fortemente ácidas.
<p> 
<p>A005-027: A reversibilidade da formação de acetais permite que eles atuem como grupos de proteção para cetonas ou aldeídos.
<p> 
<p>A005-028: Hemiacetais são geralmente difíceis de isolar a menos que sejam acíclicos.
<p> 
<p>A005-029: Acetais são estáveis sob condições fortemente básicas.
<p> 
<p>A005-030: Em condições ácidas, um aldeído ou cetona reagirá com uma amina primária para formar uma enamina.
<p> 
<p>A005-031: Hemiacetais são geralmente difíceis de isolar a menos que sejam cíclicos.
<p> 
<p>A005-032: Os primeiros três passos na formação de enaminas produzem uma carbinolamina, e os últimos três passos convertem a carbinolamina em uma enamina.
<p> 
<p>A005-033: Em condições ácidas, um aldeído ou cetona reagirá com uma amina primária para formar uma imina.
<p> 
<p>A005-034 : Muitos diferentes compostos de forma RNH<sub>2</sub> reagirão com aldeídos e cetonas. Por exemplo, quando a hidrazina (NH<sub>2</sub>NH<sub>2</sub>) é usada como eletrófilo para formar uma hidrazona.
<p> 
<p>A005-035: Os primeiros três passos na formação de iminas produzem uma carbinolamina, e os últimos três passos convertem a carbinolamina em uma imina.
<p> 
<p>A005-036: Muitos diferentes compostos de forma RNH<sub>2</sub> reagirão com aldeídos e cetonas. Por exemplo, quando hidroxilamina (NH<sub>2</sub>OH) é usada como nucleófilo, forma-se uma hidrazona.
<p> 
<p>A005-037: Muitos diferentes compostos de forma RNH<sub>2</sub> reagirão com aldeídos e cetonas. Por exemplo, quando a hidrazina (NH<sub>2</sub>NH<sub>2</sub>) é usada como nucleófilo para formar uma hidrazona.
<p> 
<p>A005-038: Em condições ácidas, um aldeído ou cetona reagirá com uma amina secundária para formar uma imina. O mecanismo de formação de imina é idêntica ao mecanismo de formação de enamina, exceto no último passo.
<p> 
<p>A005-039: Muitos diferentes compostos de forma RNH<sub>2</sub> reagirão com aldeídos e cetonas. Por exemplo, quando hidroxilamina (NH<sub>2</sub>OH) é usada como nucleófilo, forma-se uma oxima.
<p> 
<p>A005-040: Na redução de Wolff-Kishner, uma hidrazona é reduzida a um alceno sob condições fortemente básicas.
<p> 
<p>A005-041: Em condições ácidas, um aldeído ou cetona reagirá com uma amina secundária para formar uma enamina. O mecanismo de formação de enamina é idêntica ao mecanismo de formação de imina, exceto no último passo.
<p> 
<p>A005-042: Em condições ácidas, todos os reagentes, intermediários e grupos abandonadores devem ser neutros (sem carga) ou devem suportar uma carga negativa.
<p> 
<p>A005-043: Na redução de Wolff-Kishner, uma hidrazona é reduzida a um alcano sob condições fortemente básicas.
<p> 
<p>A005-044: Hidrólise de acetais, iminas e enaminas, sob condições básicas, produz cetonas ou aldeídos.
<p> 
<p>A005-045: Em condições ácidas, todos os reagentes, intermediários e grupos abandonadores devem ser neutros (sem carga) ou devem suportar uma carga positiva.
<p> 
<p>A005-046: Quando tratados com níquel de Raney, os acetais sofrem dessulfurização para produzir um grupo metileno.
<p> 
<p>A005-047: Hidrólise de acetais, iminas e enaminas, sob condições ácidas, produz cetonas ou aldeídos.
<p> 
<p> 
<p>A005-048: Em condições ácidas, um aldeído ou cetona reagirá com um equivalente de um tiol para formar um tioacetal. Se um composto com dois grupos SH é usado, um tioacetal cíclico é formado.
<p> 
<p>A005-049: Em condições ácidas, um aldeído ou cetona reagirá com dois equivalentes de um tiol para formar um tioacetal. Se um composto com dois grupos SH é usado, um tioacetal cíclico é formado.
<p> 
<p>A005-050: A redução de uma carbonila com LiAlH<sub>4</sub> ou NaBH<sub>4</sub> é um processo reversível, porque o hidreto funciona como um grupo abandonador.
<p> 
<p>A005-051: Quando tratados com níquel de Raney, os tioacetais sofrem dessulfurização para produzir um grupo metileno.
<p> 
<p>A005-052: Quando tratado com um agente redutor, como hidreto de sódio (NaH) ou hidreto de cálcio (CaH<sub>2</sub>), aldeídos e cetonas são reduzidos a álcoois.
<p> 
<p>A005-053: Quando tratado com um agente redutor, como hidreto de alumínio e lítio (LiAlH<sub>4</sub>) ou boroidreto de sódio (NaBH<sub>4</sub>), aldeídos e cetonas são reduzidos a álcoois.
<p> 
<p>A005-054: Quando tratado com um reagente de Grignard, aldeídos e cetonas são convertidos em álcoois, acompanhados pela formação de uma nova ligação C=C.
<p> 
<p>A005-055: A redução de uma carbonila com LiAlH<sub>4</sub> ou NaBH<sub>4</sub> não é um processo reversível, porque o hidreto não funciona como um grupo abandonador.
<p> 
<p>A005-056: A reação de Wittig pode ser usada para converter uma cetona em um alcano.
<p> 
<p>A005-057: Quando tratado com um reagente de Grignard, aldeídos e cetonas são convertidos em álcoois, acompanhados pela formação de uma nova ligação C-C.
<p> 
<p>A005-058: As reações de Grignard são reversíveis, porque os carbânions funcionam como grupos de saída.
<p> 
<p>A005-059: As reações de Grignard não são reversíveis, porque os carbânions não funcionam como grupos de saída.
<p> 
<p>A005-060: Quando tratados com cianeto de hidrogênio (HCN), aldeídos e as cetonas são convertidos em cianoidrinas. Para a maioria dos aldeídos e cetonas desimpedidos, o equilíbrio favorece a formação da haloidrina.
<p> 
<p>A005-061: Quando tratados com cianeto de hidrogênio (HCN), aldeídos e as cetonas são convertidos em cianoidrinas. Para a maioria dos aldeídos e cetonas desimpedidos, o equilíbrio favorece a formação da cianoidrina.
<p> 
<p>A005-062: O mecanismo de uma reação de Wittig envolve a formação inicial de uma betaina, que sofre rearranjo para gerar o produto.
<p>A005-063: A reação de Wittig pode ser usada para converter uma cetona em um alceno.
<p> 
<p>A005-064: O reagente de Wittig, que realiza a transformação de um aldeído ou cetona em um alceno, é chamado de fosfonato, que pertence a uma classe maior de compostos chamados ilídeos.
<p> 
<p>A005-065: O reagente de Wittig, que realiza a transformação de um aldeído ou cetona em um alceno, é chamado de fosforana, que pertence a uma classe maior de compostos chamados ilídeos.
<p> 
<p>A005-066: Uma oxidação de Baeyer-Villiger converte uma cetona em um éster inserindo um átomo de oxigênio próximo à carbonila. Cetonas cíclicas produzem ésteres cíclicos chamados
<p>lactamas.
<p> 
<p>A005-067: O mecanismo de uma reação de Wittig envolve a formação inicial de um oxafosfetano, que sofre rearranjo para gerar o produto.
<p> 
<p>A005-068: Cálculos de moleculares orbitaissugerem que o ataque nucleofílico ocorre em um ângulo de aproximadamente 90° em relação ao plano do grupo carbonila de aldeídos e cetonas.
<p> 
<p>A005-069: Uma oxidação de Baeyer-Villiger converte uma cetona em um éster inserindo um átomo de oxigênio próximo à carbonila. Cetonas cíclicas produzem ésteres cíclicos chamados
<p>lactonas.
<p> 
<p>A005-070: Quando uma cetona assimétrica é tratada com um peroxiácido, a formação do éster é estereosseletiva, e o produto é determinado pela aptidão migratória de cada grupo próximo à carbonila.
<p> 
<p>A005-071: Quando uma cetona assimétrica é tratada com um peroxiácido, a formação do éster é regiosseletiva, e o produto é determinado pela aptidão migratória de cada grupo próximo à carbonila.
<p> 
<p>A005-072: O pH da solução é um importante fator durante a formação de imina, com uma velocidade de reação maior quando o pH está em torno de 2,5.
<p> 
<p>A005-073: Cálculos de moleculares orbitaissugerem que o ataque nucleofílico ocorre em um ângulo de aproximadamente 107° em relação ao plano do grupo carbonila de aldeídos e cetonas.
<p> 
<p>A005-074: Em geral, os aldeídos são mais reativos que as cetonas frente ao ataque eletrofílico.
<p> 
<p>A005-075: Em geral, os aldeídos são mais reativos que as cetonas frente ao ataque nucleofílico.
<p> 
<p>A005-076: Uma cetona possui dois grupos alquilas que contribuem para o impedimento estérico no estado de transição de um ataque nucleofílico. Em contraste, um aldeído tem apenas um grupo alquila, então o estado de transição é mais congestionado e mais alto em energia.
<p> 
<p>A005-077: Uma cetona possui dois grupos alquilas que contribuem para o impedimento estérico no estado de transição de um ataque nucleofílico. Em contraste, um aldeído tem apenas um grupo alquila, então o estado de transição é menos congestionado e mais baixo em energia.
<p> 
<p>A005-078: Uma cetona possui dois grupos alquila elétrons doadores que podem estabilizar o δ+ no átomo de carbono da carbonila. Então, a carga δ+ de um aldeído é mais estabilizada que de uma cetona.
<p> 
<p>A005-079: Uma cetona possui dois grupos alquila elétrons doadores que podem estabilizar o δ+ no átomo de carbono da carbonila. Então, a carga δ+ de um aldeído é menos estabilizada que de uma cetona.
<p> 
<p>A005-080: Aldeídos e cetonas reagem com uma ampla variedade de nucleófilos. Alguns nucleófilos requerem condições básicas, enquanto outros requerem condições ácidas.
<p> 
<p>A005-081: Aldeídos e cetonas reagem com uma ampla variedade de nucleófilos. Todos os nucleófilos requerem condições ácidas.
<p> 
<p>A005-082: Os reagentes de Grignard são nucleófilos muito fracos que atacam aldeídos e cetonas para produzir álcoois.
<p> 
<p>A005-083: Os reagentes de Grignard são nucleófilos muito fortes que atacam aldeídos e cetonas para produzir álcoois.
<p> 
<p>A005-084: Os reagentes de Grignard são destruídos na presença de uma base.
<p> 
<p>A005-085: Os reagentes de Grignard são destruídos na presença de um ácido.
<p> 
<p>A005-086: Em condições ácidas, um aldeído ou cetona reagirá com duas moléculas de álcool para formar um acetal. Ácidos comuns usados para este fim incluem ácido <i>para</i>-toluenossulfónico (TsOH) e ácido sulfúrico (H<sub>2</sub>SO<sub>4</sub>).
<p> 
<p>A005-087: Quando um nucleófilo ataca uma carbonila sob condições ácidas ou básicas, a posição de equilíbrio é altamente dependente da capacidade do nucleófilo para atuar como um grupo abandonador.
<p> 
<p>A005-088: Para converter um acetal de volta no aldeído ou cetona correspondente, ele é simplesmente tratado com água na presença de um catalisador básico.
<p> 
<p>A005-089: A formação de acetal é um processo reversível que pode ser controlado escolhendo-se cuidadosamente os reagentes e condições.
<p> 
<p>A005-090: Para converter um acetal de volta no aldeído ou cetona correspondente, ele é simplesmente tratado com álcool na presença de um catalisador ácido.
<p> 
<p>A005-091: Para converter um acetal de volta no aldeído ou cetona correspondente, ele é simplesmente tratado com água na presença de um catalisador ácido.
<p> 
<p>A005-092: Em condições ácidas, um aldeído ou cetona reagirá com uma amina primária para formar uma enamina.
<p> 
<p>A005-093: Em condições ácidas, um aldeído ou cetona reagirá com uma amina primária para formar uma imina.
<p> 
<p>A005-094: Quando a hidroxilamina (NH<sub>2</sub>OH) é usada como nucleófilo, forma-se uma hidrazona. Quando a hidrazina (NH<sub>2</sub>NH<sub>2</sub>) é usada como nucleófilo, forma-se uma oxima.
<p> 
<p>A005-095: Em condições ácidas, um aldeído ou cetona reagirá com uma amina secundária para formar uma enamina.
<p> 
<p>A005-096: Em condições ácidas, um aldeído ou cetona reagirá com uma amina secundária para formar uma imina.
<p> 
<p>A005-097: As cetonas podem ser convertidas em hidrazonas. Esta transformação tem utilidade prática, porque as hidrazonas são prontamente reduzidas sob condições fortemente ácidas, gerando um alcano.
<p> 
<p>A005-098: Os acetais, iminas e enaminas podem ser convertidos novamente em cetonas por tratamento com excesso de água sob condições de catálise básica.
<p> 
<p>A005-099: Níquel Raney é uma forma esponjosa de níquel que adsorveu átomos de hidrogênio. São esses átomos de hidrogênio que acabam substituindo os átomos de enxofre nos tioacetais.
<p> 
<p> A005-100: Quando tratados com cianeto de hidrogênio (HCN), aldeídos e cetonas são convertidos em halohidrinas.
<p> 
<p> 
<p>O dia dos tolos de abril está chegando. Aperte seus amigos abrindo um tela de atualização falsa sem fim no seu computador. Sente-se e assista a sua reação.