<p> 
<p><strong>AVENGERS DECK 1</strong>
<p> 
<p>A001-001: Les réactions d'addition sont caractérisées par l'addition de deux groupements sur une double ou triple liaison.
<p>A001-002: Les réactions d'addition sont caractérisées par l'addition d’un groupement sur une double ou une triple liaison.
<p>A001-003: Les réactions d'addition sont thermodynamiquement favorisées à basse température et défavorisées à haute température.
<p>A001-004: Les réactions d'addition sont thermodynamiquement favorisées à haute température et défavorisées à basse température.
<p>A001-005: Les réactions d'hydrohalogénation sont caractérisées par l'addition de H et de X sur une liaison π.
<p>A001-006: Les réactions d'hydrohalogénation sont caractérisées par l'addition de H et de X sur une liaison .
<p>A001-007: Pour les alcènes non-symétriques, la position de l'halogène relève de la régiochimie.
<p>A001-008: Pour les alcènes non symétriques, la position de l'halogène relève de la stéréochimie.
<p>A001-009: Les réactions d'hydrohalogénation sont régiosélectives, car l'halogène se fixe généralement sur la position la plus substituée. On parle d’addition de type Markovnikov.
<p>A001-010: Les réactions d'hydrohalogénation sont régiosélectives, car l'halogène se fixe généralement sur la position la moins substituée. On parle d’addition de type Markovnikov.
<p>A001-011: En présence de peroxydes, l'addition de HBr se fait selon une addition de type <i>anti</i>-Markovnikov.
<p>A001-012: En présence de peroxydes, l'addition de HBr se fait selon une addition de type Markovnikov.
<p>A001-013: La régiosélectivité d'une réaction d'addition ionique est déterminée par la tendance de la réaction à passer par l'intermédiaire carbocation le plus stable.
<p>A001-014: La régiosélectivité d'une réaction d'addition ionique est déterminée par la tendance de la réaction à passer par l'intermédiaire carbocation le moins stable.
<p>A001-015: Lorsqu'un nouveau centre de chiralité est formé dans une réaction d'addition, on obtient un mélange racémique d'énantiomères.
<p>A001-016: Lorsqu'un nouveau centre de chiralité est formé dans une réaction d'addition, un seul énantiomère est obtenu.
<p>A001-017: Les réactions d'hydrohalogénation ne sont efficaces que lorsque les réarrangements de carbocation ne sont pas possibles.
<p>A001-018: Les réactions d'hydrohalogénation ne sont efficaces que lorsque des réarrangements de carbocation sont possibles.
<p>A001-019: L'addition d'eau (H et OH) sur une double liaison est appelée hydratation.
<p>A001-020: L'addition d'eau (H et OH) sur une double liaison est appelée hydrohalogénation.
<p>A001-021: L'addition d'eau en présence d'un acide est appelée hydratation acidocatalysée, et se déroule généralement selon une addition de type Markovnikov.
<p>A001-022: L'addition d'eau en présence d'un acide est appelée hydratation acido-catalysée, et se déroule généralement selon une addition de type anti-Markovnikov.
<p>A001-023: L'hydratation acido-catalysée se fait <i>via</i> un intermédiaire carbocation, attaqué par l'eau pour produire un ion oxonium, suivi d'une déprotonation.
<p>A001-024: L'hydratation acido-catalysée se fait <i>via</i> un intermédiaire carbocation, attaqué par l'eau pour produire un ion hydronium, suivi d'une déprotonation.
<p>A001-025: L'hydratation acido-catalysée est inefficace lorsque des réarrangements de carbocation sont possibles.
<p>A001-026: L'hydratation acido-catalysée est efficace lorsque des réarrangements de carbocation sont possibles.
<p>A001-027: Un acide dilué favorise la formation de l'alcool, tandis qu’un acide concentré favorise l'alcène.
<p>A001-028: Un acide dilué favorise la formation de l'alcène, tandis qu’un acide concentré favorise l'alcool.
<p>A001-029: Lors de la génération d'un nouveau centre de chiralité dans une réaction d'addition, un racémique d'énantiomères est attendu.
<p>A001-030: Lors de la génération d'un nouveau centre de chiralité dans une réaction d'addition, un racémique de diastéréoisomères est attendu.
<p>A001-031: L'hydroboration-oxydation peut être utilisée pour obtenir une addition d'eau de type <i>anti</i>- Markovnikov sur un alcène. La réaction est stéréospécifique et se déroule via une addition <i>syn</i>.
<p>A001-032: L'hydroboration-oxydation peut être utilisée pour obtenir une addition d'eau de type Markovnikov sur un alcène. La réaction est stéréospécifique et se déroule via une addition <i>syn</i>.
<p>A001-033: L'hydroboration se fait selon un processus concerté, dans lequel le borane est attaqué par une liaison π, déclenchant un transfert simultané d'hydrure.
<p>A001-034: L'hydroboration se fait par un processus concerté, dans lequel le borane attaque une liaison π, déclenchant un transfert simultané d'hydrure.
<p>A001-035: L'hydrogénation catalytique implique l'addition de H<sub>2</sub> sur un alcène en présence d'un catalyseur métallique.
<p>A001-036: L'hydrogénation catalytique implique l'addition de H<sub>2</sub> sur un alcène en présence d'un catalyseur métallique, tel que le carbone.
<p>A001-037: En présence d'un acide, le groupement carbonyle est protoné pour former un électrophile très puissant.
<p>A001-038: En présence d'un acide, le groupement carbonyle est protoné pour former un nucléophile très puissant.
<p>A001-039: L'hydrogénation catalytique se fait selon une addition <i>syn</i>.
<p>A001-040: L'hydrogénation catalytique se fait via une addition anti.
<p>A001-041: Les catalyseurs hétérogènes ne sont pas solubles dans le milieu réactionnel alors que les catalyseurs homogènes le sont.
<p>A001-042: Les catalyseurs hétérogènes sont solubles dans le milieu réactionnel, alors que les catalyseurs homogènes ne le sont pas.
<p>A001-043: L'halogénation implique l'addition de X<sub>2</sub> (Br<sub>2</sub> ou Cl<sub>2</sub>) sur un alcène.
<p>A001-044: L'halogénation implique l'addition de X<sub>2</sub> (Br<sub>2</sub>, Cl<sub>2</sub> ou l<sub>2</sub>) sur un alcène.
<p>A001-045: La bromation se déroule via un intermédiaire ponté, appelé ion bromonium, qui s’ouvre selon un processus SN2 conduisant à une addition <i>anti</i>.
<p>A001-046: La bromation se déroule via un intermédiaire ponté, appelé ion bromonium, qui s’ouvre selon un processus SN2 conduisant à une addition <i>syn</i>.
<p>A001-047: La bromation se fait via un intermédiaire ponté, appelé ion bromonium. Cependant, en présence d'eau, le produit obtenu est une bromohydrine. C’est une réaction de formation d'halohydrine.
<p>A001-048: La bromation se fait par l'intermédiaire d'un intermédiaire ponté, appelé ion bromonium. Cependant, en présence d'eau, le produit obtenu est une bromohydrine. C’est une réaction de formation de cyanhydrine.
<p>A001-049: Les réactions de dihydroxylation sont caractérisées par l'addition de deux OH sur un alcène.
<p>A001-050: Les réactions de dihydroxylation sont caractérisées par l'addition de deux OH sur un alcane
<p>A001-051: Une procédure en deux étapes pour la dihydroxylation <i>anti</i> implique la conversion d'un alcène en époxyde, suivie d'une ouverture de cycle acido-catalysée.
<p>A001-052: Une procédure en trois étapes pour la dihydroxylation <i>anti</i> nécessite la conversion d'un alcène en époxyde, suivie d'une ouverture de cycle acido-catalysée.
<p>A001-053: La dihydroxylation <i>syn</i> peut être obtenue avec du tétraoxyde d'osmium ou du permanganate de potassium.
<p>A001-054: La dihydroxylation <i>anti</i> peut être obtenue avec du tétraoxyde d'osmium ou du permanganate de potassium.
<p>A001-055: L'ozonolyse peut être utilisée pour couper une double liaison et produire deux groupements carbonyles.
<p>A001-056: L'ozonolyse peut être utilisée pour couper une triple liaison et produire deux groupements carbonyles.
<p>A001-057: L'hydrogénation catalytique d'un alcyne conduit à un alcane.
<p>A001-058: L'hydrogénation catalytique d'un alcyne conduit à un alcène.
<p>A001-059: L'hydrogénation catalytique en présence d'un catalyseur empoisonné (catalyseur de Lindlar ou Ni<sub>2</sub>B) donne un alcène <i>Z</i>.
<p>A001-060: L'hydrogénation catalytique en présence d'un catalyseur empoisonné (catalyseur de Lindlar ou Ni<sub>2</sub>B) donne un alcène <i>E</i>.
<p>A001-061: Une réduction impliquant un métal dissous convertit un alcyne en un alcène <i>E</i>.
<p>A001-062: Une réduction impliquant un métal dissous convertira un alcyne en un alcène <i>Z</i>.
<p>A001-063: Les alcynes réagissent avec HX selon une addition <i>syn</i> de type Markovnikov.
<p>A001-064: Les alcynes réagissent avec HX selon une addition <i>anti</i> de type Markovnikov.
<p>A001-065: Un mécanisme possible pour l'hydrohalogénation des alcynes implique un carbocation vinylique.
<p>A001-066: Un mécanisme possible pour l'hydrohalogénation des alcynes implique un carbocation allylique.
<p>A001-067: L'ajout de HX sur les alcynes se fait probablement selon diverses voies mécanistiques, se produisant simultanément, étant en concurrence les unes avec les autres.
<p>A001-068: L'ajout de HX sur les alcènes se fait probablement par diverses voies mécanistiques, se produisant simultanément, étant en concurrence les unes avec les autres.
<p>A001-069: Le traitement d'un alcyne terminal avec HBr en présence de peroxydes donne une addition de HBr de type <i>anti</i>-Markovnikov.
<p>A001-070: Le traitement d'un alcyne terminal avec HBr en présence de peroxydes donne une addition de HBr de type Markovnikov.
<p>A001-071: L'hydratation acido-catalysée des alcynes est catalysée par le sulfate mercurique (HgSO<sub>4</sub>) pour produire un énol qui ne peut être isolé car il est rapidement transformé en cétone.
<p>A001-072: L'hydratation acido-catalysée des alcynes est catalysée par le sulfate mercurique (HgSO<sub>4</sub>) pour produire un énol qui peut être isolé car il est lentement transformé en cétone.
<p>A001-073: Les énols et les cétones sont des tautomères, qui sont des isomères constitutionnels qui s’interconvertissent rapidement par migration d'un proton.
<p>A001-074: Les énols et les cétones sont des tautomères, qui sont des isomères constitutionnels qui s’interconvertissent rapidement par migration de deux protons.
<p>A001-075: L'interconversion entre un énol et une cétone est appelée tautomérisation céto-énolique. Elle est catalysée par des traces d'acide ou de base.
<p>A001-076: L'interconversion entre un énol et une cétone est appelée racémisation céto-énolique. Elle est catalysée par des traces d'acide ou de base.
<p>A001-077: Les alcynes peuvent subir une halogénation pour former un tétrahalogénure.
<p>A001-078: Les alcynes peuvent subir une halogénation pour former un dihalogénure.
<p>A001-079: Lorsqu'ils sont traités à l'ozone puis à l'eau, les alcynes internes subissent un clivage oxydatif pour produire des acides carboxyliques.
<p>A001-080: Lorsqu'ils sont traités à l'ozone puis à l'eau, les alcynes internes subissent un clivage oxydatif pour produire des cétones.
<p>A001-081: Lorsqu'un alcyne terminal subit un clivage oxydatif, le côté terminal est transformé en dioxyde de carbone.
<p>A001-082: Lorsqu'un alcyne terminal subit un clivage oxydatif, le côté terminal est transformé en acide carboxylique.
<p>A001-083: Les ions alcynures subissent une alkylation lorsqu'ils sont traités avec un halogénure d'alkyle (méthyle ou primaire).
<p>A001-084: Les ions alcynures ne subissent pas une alkylation lorsqu'ils sont traités avec un halogénure d'alkyle (primaire ou secondaire).
<p>A001-085: Un alcène peut être transformé en alcyne par bromation suivie d'une élimination avec un excès de NaNH<sub>2</sub>.
<p>A001-086: Un alcyne peut être transformé en alcène par bromation suivie d'une élimination avec un excès de NaNH<sub>2</sub>.
<p>A001-087: Les alcynes subissent la plupart des réactions d'addition comme les alcènes. Par exemple, les alcynes subissent une hydrogénation catalytique tout comme les alcènes.
<p>A001-088: Les alcynes subissent la plupart des réactions d'addition comme les alcanes. Par exemple, les alcynes subissent une hydrogénation catalytique tout comme les alcanes.
<p>A001-089: Dans les hydrogénations catalytiques, un alcyne consomme deux équivalents de dihydrogène moléculaire conduisant à un alcane.
<p>A001-090: Dans les hydrogénations catalytiques, un alcyne consomme un équivalent de dihydrogène moléculaire conduisant à un alcène.
<p>A001-091: L'hydrogénation catalytique des alcynes avec un catalyseur partiellement désactivé, appelé catalyseur empoisonné, transforme un alcyne en un alcène <i>Z</i>.
<p>A001-092: Il y a beaucoup de catalyseurs empoisonnés. Deux exemples courants sont : Le catalyseur de Lindlar et le complexe nickel-bore (Ni<sub>2</sub>B), souvent appelé le catalyseur P-2.
<p>A001-093: Un catalyseur empoisonné catalyse la conversion d'un alcyne en un alcène <i>Z</i>, mais il ne catalyse pas la réduction ultérieure pour former l'alcane. Par conséquent, un catalyseur empoisonné peut être utilisé pour convertir un alcyne en un alcène <i>Z</i>.
<p>A001-094: Les alcynes peuvent être réduits en alcènes <i>Z</i> par une réaction totalement différente appelée réduction par des métaux dissous.
<p>A001-095: Dans une réduction d'un alcyne avec Na/NH<sub>3</sub>, la nature de l'intermédiaire (anion radicalaire) explique la préférence stéréochimique pour la formation de l’alcène <i>E</i>.
<p>A001-096: L'hydroboration-oxydation des alcynes est un processus concerté qui donne une addition de type anti-Markovnikov.
<p>A001-097: Pour éviter la deuxième addition dans les alcynes, on utilise un dialkyl borane (R<sub>2</sub>BH) à la place de BH<sub>3</sub>. Les deux groupes alkyles présentent un encombrement stérique qui empêche la deuxième addition. Deux dialkylboranes couramment utilisés sont le disiamylborane et le 9-BBN.
<p>A001-098: Les alcynes ont deux liaisons π et peuvent incorporer deux équivalents de l'halogène pour former un dihalogénure.
<p>A001-099: Lorsqu'ils sont traités à l'ozone puis à l'eau, les alcynes subissent un clivage oxydatif pour produire des acides carboxyliques.
<p>A001-100: Lorsqu'un alcyne terminal subit un clivage oxydatif, le côté terminal est transformé en monoxyde de carbone.
<p> 
<p> 
<p> 
<p> 