<p> 
<p><strong>AVENGERS DECK 3</strong>
<p> 
<p>A003-001: Os alcenos sofrem adição quando tratados com bromo, enquanto o benzeno é inerte nas mesmas condições.
<p>A003-002: Alcenos e benzeno sofrem reação de adição quando tratados com bromo.
<p>A003-003: Na presença de ferro, observa-se uma reação de substituição eletrofílica aromática entre o benzeno e o bromo.
<p>A003-004: Na presença de alumínio, observa-se uma reação de substituição eletrofílica aromática entre o benzeno e o bromo.
<p>A003-005: O tribrometo de ferro é um ácido de Lewis que interage com o Br<sub>2</sub> e gera Br<sup>+</sup>, que é suficientemente eletrofílico para ser atacado pelo benzeno.
<p>A003-006: O tribrometo de ferro é um ácido de Lewis que interage com Br<sub>2</sub> e gera Br<sub>2</sub><sup>+</sup>, que é suficientemente eletrofílico para ser atacado por benzeno.
<p>A003-007: A substituição eletrofílica aromática envolve duas etapas: (1) Formação do complexo sigma, ou íon arênio. Esta a aromaticidade etapa é endergônica. (2) Deprotonação, que restaura a aromaticidade. 
<p>A003-008: A substituição nucleofílica aromática envolve duas etapas: (1) Formação do complexo sigma, ou íon arênio. Esta etapa é endergônica. (2) Deprotonação, que restaura a aromaticidade.
<p>A003-009: O tribrometo de alumínio (AlBr<sub>3</sub>) é outro ácido de Lewis comum que pode servir como uma alternativa adequada ao FeBr<sub>3</sub>.
<p>A003-010: O tribrometo de alumínio (AlBr<sub>3</sub>) é outra base de Lewis comum que pode servir como uma alternativa adequada ao FeBr<sub>3</sub>.
<p>A003-011: A cloração do benzeno é realizada com um adequado ácido de Lewis, tal como tricloreto de alumínio.
<p>A003-012: A cloração do benzeno é realizada com um adequado ácido de Lewis, tal como tribrometo de alumínio.
<p>A003-013: Trióxido de enxofre (SO<sub>3</sub>) é um eletrófilo muito poderoso que está presente no ácido sulfúrico fumegante. O benzeno reage com SO<sub>3</sub> em um processo reversível chamado sulfonação.
<p>A003-014: Trióxido de enxofre (SO<sub>3</sub>) é um eletrófilo muito poderoso que está presente no ácido sulfúrico diluído. O benzeno reage com SO<sub>3</sub> em um processo reversível chamado sulfonação.
<p>A003-015: Uma mistura de ácido sulfúrico e ácido nítrico produz uma pequena quantidade de íon nitrônio (NO<sub>2</sub><sup>+</sup>). O benzeno reage com o íon nitrônio em um processo chamado nitração.
<p>A003-016: Uma mistura de ácido sulfúrico e ácido nítrico produz uma pequena quantidade de íon nitrônio (NO<sup>+</sup>). O benzeno reage com o íon nitrônio em um processo chamado nitração.
<p>A003-017: Um grupo nitro pode ser reduzido a um grupo amino, fornecendo um método de duas etapas para instalar um grupo amino.
<p>A003-018: Um grupo nitro pode ser reduzido a um grupo imina, fornecendo um método de duas etapas para instalar um grupo amino.
<p>A003-019: A alquilação de Friedel-Crafts permite a instalação de um grupo alquila em um anel aromático.
<p>A003-020: A alquilação de Friedel-Crafts permite a instalação de um grupo acila em um anel aromático.
<p>A003-021: Na presença de um ácido de Lewis, um haleto de alquila é convertido em um carbocátion, que pode ser atacado por benzeno em uma substituição eletrofílica aromática.
<p>A003-022: Na presença de um ácido de Lewis, um haleto de acila é convertido em um carbocátion, que pode ser atacado por benzeno em uma substituição eletrofílica aromática.
<p>A003-023: A alquilação de Friedel-Crafts só é eficiente nos casos em que o carbocátion não se pode rearranjar.
<p>A003-024: A alquilação de Friedel-Crafts só é eficiente nos casos em que o carbocátion pode se rearranjar.
<p>A003-025: Em relação à alquilação de Friedel-Crafts, ao escolher um halogeneto de alquila, o átomo de carbono conectado ao halogênio deve ser hibridado sp3.
<p>A003-026: Em relação a uma alquilação de Friedel-Crafts, ao escolher um haleto de alquila, o átomo de carbono ligado ao halogênio deve ter hibridação <i>sp</i><sup><i>2</i></sup>.
<p>A003-027: As polialquilações nos compostos de aromáticos são comuns e, geralmente, podem ser evitadas controlando-se as condições de reação.
<p>A003-028: As polinitrações nos compostos de aromáticos são comuns e, geralmente, podem ser evitadas controlando-se as condições de reação.
<p>A003-029: A acilação de Friedel-Crafts permite a instalação de um grupo acila em um anel aromático.
<p>A003-030: A acilação de Friedel-Crafts permite a instalação de um grupo alquila em um anel aromático.
<p>A003-031: Quando tratado com um ácido de Lewis, um cloreto de acila irá erar um íon acílio, que é estabilizado por ressonância e não é suscetível a rearranjos de carbocátion.
<p>A003-032: Quando tratado com um ácido de Lewis, um cloreto de acila irá erar um íon acílio, que não é estabilizado por ressonância e é suscetível a rearranjos de carbocátion.
<p>A003-033: Quando uma acilação de Friedel-Crafts é seguida por uma redução de Clemmensen, o resultado líquido é a instalação de um grupo alquila.
<p>A003-034: Quando uma acilação de Friedel-Crafts é seguida por uma redução de Clemmensen, o resultado líquido é a instalação de um grupo acila.
<p>A003-035: A poliacilação não é observada, porque a introdução de um grupo acila desativa o anel para mais acilações.
<p>A003-036: A poliacilação é observada, porque a introdução de um grupo acila ativa o anel para mais acilações.
<p>A003-037: Um anel aromático é ativado por um grupo metila, que é um dirigente <i>orto-para</i>.
<p>A003-038: Um anel aromático é desativado por um grupo metila, que é um dirigente <i>orto-para</i>.
<p>A003-039: Um anel aromático é ainda mais altamente ativado por um grupo metoxila, que também é um dirigente <i>orto-para.</i>
<p>A003-040: Um anel aromático é ainda mais altamente ativado por um grupo metoxila, que também é um dirigente <i>meta.</i>
<p>A003-041: Um grupo nitro desativa um anel aromático e é um dirigente meta. A maioria dos desativadores são <i>meta</i>-dirigentes.
<p>A003-042: Um grupo nitro desativa um anel aromático e é um dirigente <i>meta</i>. A maioria dos desativadores são orto-para dirigentes.
<p>A003-043: Os halogênios são uma exceção, pois são desativadores, mas são dirigentes <i>orto-para</i>.
<p>A003-044: Os halogênios são são ativadores e dirigentes <i>orto-para</i>.
<p>A003-045: Ativadores fortes são caracterizados pela presença de um par de elétrons livres imediatamente adjacente ao anel aromático.
<p>A003-046: Ativadores fracos são caracterizados pela presença de um par de elétrons livres imediatamente adjacente ao anel aromático.
<p>A003-047: Ativadores moderados exibem um par de elétrons livre que já está deslocalizado fora do anel. Grupos alcóxidos são uma exceção e são ativadores moderados.
<p>A003-048: Ativadores fortes exibem um par de elétrons livres que já está deslocalizado fora do anel. Grupos alcóxidos são uma exceção e são desativadores moderados.
<p>A003-049: Grupos alquilas são ativadores fracos.
<p>A003-050: Grupos acilas são ativadores fracos.
<p>A003-051: Os halogênios são desativadores fracos.
<p>A003-052: Os halogênios são ativadores fracos.
<p>A003-053: Desativadores moderados são grupos que exibem uma ligação π ligada a um átomo eletronegativo, onde a ligação π é conjugada com o anel aromático.
<p>A003-054: Ativadores moderados são grupos que exibem uma ligação π ligada a um átomo eletronegativo, onde a ligação π está conjugada com o anel aromático.
<p>A003-055: Desativadores fortes são poderosos grupos retiradores de elétrons, seja por ressonância ou indução.
<p>A003-056: Ativadores fortes são poderosos grupos retiradores de elétrons, seja por ressonância ou indução.
<p>A003-057: Quando múltiplos substituintes estão presentes, o grupo ativante mais poderoso domina os efeitos dirigentes.
<p>A003-058: Quando vários substituintes estão presentes, o grupo desativador mais poderoso domina os efeitos de direção.
<p>A003-059: Os efeitos estéricos geralmente desempenham um papel importante na distribuição dos produtos.
<p>A003-060: Os efeitos estéricos geralmente não desempenham um papel importante na determinação distribuição de produtos.
<p>A003-061: Um grupo de bloqueio pode ser usado para controlar o resultado de uma substituição aromática eletrofílica.
<p>A003-062: Um grupo nitro pode ser usado para controlar o resultado de uma substituição aromática eletrofílica.
<p>A003-063: Propor uma síntese para um anel de benzeno dissubstituído requer uma análise cuidadosa dos efeitos de direcionamento para determinar qual grupo deve ser instalado primeiro.
<p>A003-064: Propor uma síntese para um anel de benzeno dissubstituído não requer uma análise cuidadosa dos efeitos de direcionamento para determinar qual grupo deve ser instalado primeiro.
<p>A003-065: Em uma reação de substituição nucleofílica aromática, o anel aromático é atacado por um nucleófilo.
<p>A003-066: Em uma reação de substituição nucleofílica aromática, o anel aromático é atacado por um eletrófilo.
<p>A003-067: Em uma reação de substituição nucleofílica aromática, o anel deve conter um poderoso grupo retirador elétrons (tipicamente um grupo nitro).
<p>A003-068: Em uma reação de substituição nucleofílica aromática, o anel deve conter um poderoso grupo ativador.
<p>A003-069: Em uma reação de substituição nucleofílica aromática, o anel deve conter um grupo de saída.
<p>A003-070: Em uma reação de substituição eletrofílica aromática, o grupo abandonador deve estar <i>orto </i>ou <i>para </i>em relação ao grupo retirador de elétrons.
<p>A003-071: Em uma reação de substituição nucleofílica aromática, o grupo de saída deve estar <i>orto </i>ou <i>para </i>em relação ao grupo retirador de elétrons.
<p>A003-072: Em uma reação de substituição eletrofílica aromática, o grupo de saída deve ser orto ou para em relação com o grupo retirador de elétrons.
<p>A003-073: A substituição nucleofílica aromática envolve duas etapas: (1) Formação de um complexo Meisenheimer. (2) Perda de um grupo de partida para restaurar a aromaticidade.
<p>A003-074: A substituição eletrofílica aromática envolve duas etapas: (1) Formação de um complexo Meisenheimer. (2) Perda de um grupo de partida para restaurar a aromaticidade.
<p>A003-075: Uma reação do tipo eliminação-adição ocorre através de um intermediário benzino. A evidência para este mecanismo vem de experimentos com marcação isotópica, bem como um experimento de captura de intermediários.
<p>A003-076: Uma reação do tipo adição-eliminação ocorre através de um intermediário benzino. A evidência para este mecanismo vem de experimentos com marcação isotópica, bem como um experimento de captura de intermediários.
<p>A003-077: Os três mecanismos para substituição aromática diferem pelo (1) intermediário, (2) grupo abandonador e (3) pelos efeitos dos substituintes.
<p>A003-078: Os três mecanismos para substituição aromática diferem pelo (1) intermediário, (2) nucleófilo e (3) pelos efeitos dos substituintes.
<p>A003-079: Durante a bromação do benzeno, o Br<sub>2</sub> funciona como um eletrófilo. Ele se aproxima da nuvem de elétrons π do alceno, Br<sub>2</sub> torna-se temporariamente polarizado, tornando um dos átomos de bromo eletrofílico (δ<sup>+</sup>).
<p>A003-080: Durante a bromação do benzeno, o Br<sub>2</sub> funciona como um nucleófilo. Ele se aproxima da nuvem de elétrons π do alceno, Br<sub>2</sub> torna-se temporariamente polarizado, tornando um dos átomos de bromo eletrofílico (δ<sup>-</sup>).
<p>A003-081: O átomo de bromo se torna suficientemente eletrofílico para reagir com o alceno, mas não é suficientemente eletrofílico para reagir com o benzeno.
<p>A003-082: O átomo de bromo se torna suficientemente nucleofílico para reagir com o alceno, mas não é suficientemente nucleofílico para reagir com o benzeno.
<p>A003-083: O tribrometo de ferro, um ácido de Lewis, atua como catalisador na reação entre o benzeno e o bromo.
<p>A003-084: O tribrometo de boro, uma base de Lewis, atua como catalisador na reação entre o benzeno e o bromo.
<p>A003-085: Quando o benzeno é tratado com ácido sulfúrico fumante, ocorre uma reação de sulfonação e o ácido benzenossulfônico é obtido.
<p>A003-086: Quando o benzeno é tratado com ácido sulfúrico diluído, ocorre uma reação de sulfonação e o ácido benzenossulfônico é obtido.
<p>A003-087: A reação entre o benzeno e o SO<sub>3</sub> é altamente sensível às concentrações dos reagentes e é, portanto, reversível.
<p>A003-088: A reação entre o benzeno e o SO<sub>3</sub> é altamente sensível às concentrações dos reagentes e não é, portanto, reversível.
<p>A003-089: Quando o benzeno é tratado com uma mistura de ácido nítrico e ácido sulfúrico, uma reação de nitração ocorre em que o nitrobenzeno é formado.
<p>A003-090: Quando o benzeno é tratado com uma mistura de ácido nítrico e ácido sulfúrico, uma reação de nitração ocorre em que o dinitrobenzeno é formado.
<p>A003-091: A reação de nitração ocorre através de uma substituição eletrofílica aromática, na qual se acredita que o íon nitrônio (NO<sub>2</sub><sup>+</sup>) é o eletrófilo. Este eletrófilo forte é formado a partir da reação ácido-base que ocorre entre o HNO<sub>3</sub> e o H<sub>2</sub>SO<sub>4</sub>.
<p>A003-092: A reação de nitração ocorre através de uma substituição eletrofílica aromática, na qual se acredita que o íon NO<sup>+</sup> é o eletrófilo. Este eletrófilo forte é formado a partir da reação ácido-base que ocorre entre o HNO<sub>3</sub> e o H<sub>2</sub>SO<sub>4</sub>.
<p>A003-093: Em uma reação de nitração, o ácido nítrico funciona como uma base para aceitar um próton do ácido sulfúrico, seguido pela perda de água para produzir um íon nitrônio.
<p>A003-094: Em uma reação de nitração, o ácido sulfúrico funciona como uma base para aceitar um próton do ácido nítrico, seguido pela perda de água para produzir um íon nitrônio.
<p>A003-095: A instalação de um grupo alquila ativa o anel para uma posterior alquilação.
<p>A003-096: A instalação de um grupo alquila desativa o anel para uma posterior alquilação.
<p>A003-097: Quando uma acilação de Friedel-Crafts é seguida por uma redução de Clemmensen, o resultado líquido é a instalação de um grupo alquila.
<p>A003-098: Quando uma acilação de Friedel-Crafts é seguida por uma redução de Clemmensen, o resultado líquido é a instalação de um grupo acila.
<p>A003-099: O tolueno sofre nitração aproximadamente 25 vezes mais rapidamente que o benzeno. Em outras palavras, diz-se que o grupo metila ativa o anel aromático.
<p>A003-100: O tolueno sofre nitração aproximadamente 25 vezes mais lentamente que o benzeno. Em outras palavras, diz-se que o grupo metila desativa o anel aromático.
<p>O online CSS arrumado gratuito permite que você embeleza folhas de estilo. Confira agora em html-cleaner.com!