<p> 
<p>AVENGERS DECK 2
<p> 
<p>A002-001: As reações de substituição trocam um grupo funcional por outro. O eletrófilo é chamado de substrato e deve conter um grupo de saída.
<p> 
<p>A002-002: RO<sup>-</sup> (nucleófilo e base forte) e o substrato primário favorecem o processo SN2. No entanto, quando a base é estericamente impedida, o processo E1 é favorecido.
<p> 
<p>A002-003: NaSH (apenas nucleófilo) e substrato primário favorecem o processo SN2.
<p> 
<p>A002-004: Durante um processo E2, ocorre um rearranjo de carbocátion se este produzir um carbocátion mais estável.
<p> 
<p>A002-005: Uma transferência de prótons não é necessária no início de um mecanismo SN1 se o grupo de saída for um íon haleto.
<p> 
<p>A002-006: O H<sub>2</sub>S é um nucleófilo mais forte que o HS<sup>-</sup> porque o átomo de enxofre carrega uma carga negativa.
<p> 
<p>A002-007: O íon metóxido é um nucleófilo mais forte quando é dissolvido em DMSO do que quando é dissolvido em metanol porque o DMSO é um solvente aprótico polar que estabiliza os cátions, mas não os ânions.
<p> 
<p>A002-008: Durante um processo E1, se o substrato for um álcool, é necessário um ácido fraco para protonar o grupo OH.
<p> 
<p>A002-009: Resultado estereoquímico de SN2: O nucleófilo substitui o grupo de saída com inversão de configuração.
<p> 
<p>A002-010: Resultado estereoquímico de SN2: O nucleófilo substitui o grupo abandonador com racemização.
<p> 
<p>A002-011: Em um processo concertado, o ataque nucleofílico e a saída do grupo abandonador ocorrem simultaneamente.
<p> 
<p>A002-012: HO<sup>-</sup> (nucleófilo e base forte) e substrato primário favorecem o processo SN1.
<p> 
<p>A002-013: RO<sup>-</sup> (nucleófilo e base forte) e substrato primário favorecem o processo E2.
<p> 
<p>A002-014: EtOH (nucleófilo e base fraco) e substrato terciário favorecem o processo E1: Solvólise (em baixas temperaturas).
<p> 
<p>A002-015: O composto (A) reage mais rapidamente que (B) uma reação SN2.
<p> 
<p>A002-016: O composto (B) reage mais rapidamente que (A) em uma reação SN2.
<p> 
<p>A002-017: O composto (A) reage mais rapidamente que (B) em uma reação SN2.
<p> 
<p>A002-018: Uma transferência de prótons não é necessária no início de um SN1 mecanismo se o grupo de saída for um grupo OH.
<p> 
<p>A002-019: Resultado estereoquímico E2: Este processo é estereosseletivo mas não é estereoespecífico. Quando aplicável, um alceno dissubstituído trans será favorecido sobre um alceno dissubstituído cis. Quando a posição β do substrato tem apenas um próton, o alceno estereoisomérico resultante da eliminação anti-periplanar será obtido (exclusivamente, na maioria dos casos).
<p> 
<p>A002-020: Resultado estereoquímico E1: O processo é estereosseletivo. Quando aplicável, um alceno dissubstituído cis será favorecido sobre um alceno dissubstituído trans.
<p> 
<p>A002-021: Em um processo em etapas, primeiro o grupo de saída sai e, então, o nucleófilo ataca.
<p> 
<p>A002-022: HO<sup>-</sup> (nucleófilo e base forte) e substrato secundário favorecem o processo E2. Quando a base não é estericamente impedida, o alceno mais substituído é o produto principal: produto de Hofmann.
<p> 
<p>A002-023: HO<sup>-</sup> (nucleófilo e base forte) e substrato secundário favorecem o processo E2. Quando a base não é estericamente impedida, o alceno mais substituído é o produto principal: produto Zaitsev.
<p> 
<p>A002-024: Uma transferência de prótons é necessária no final de um mecanismo SN1 se o nucleófilo for carregado negativamente.
<p> 
<p>A002-025: O composto (A) reage mais rapidamente que (B) em uma reação SN1.
<p> 
<p>A002-026: O composto (B) reage mais rapidamente que (A) em uma reação SN2.
<p> 
<p>A002-027: A velocidade da reação abaixo seria dobrada se a concentração do haleto de alquila fosse duplicado.
<p> 
<p>A002-028: A velocidade da reação abaixo não seria dobrada se a concentração do íon cianeto fosse dobrada.
<p> 
<p>A002-029: A velocidade da reação abaixo seria dobrada se a concentração do álcool fosse dobrada.
<p> 
<p>A002-030: A velocidade da reação abaixo seria dobrada se a concentração do HBr fosse dobrada.
<p> 
<p>A002-031: A evidência para o mecanismo concertado, SN2, inclui a observação de uma equação de velocidade de segunda ordem. O processo SN2 é dito ser bimolecular.
<p> 
<p>A002-032: RO<sup>-</sup> (nucleófilo e base forte) e substrato secundário favorecem o processo E2. Quando a base não é estericamente impedida, o alceno mais substituído é o produto principal: produto de Hofmann.
<p>A002-033: RO<sup>-</sup> (nucleófilo e base fortes) e substrato secundário favorecem o processo E2. O produto de Zaytsev não é formado porque a posição β tem um próton que não pode estar anti-periplanar com o grupo de saída.
<p> 
<p>A002-034: Quando o solvente funciona como um eletrófilo, a reação é chamada de uma reação de solvólise.
<p> 
<p>A002-035: O DMF e o DMSO são solventes apróticos que estabilizam os cátions, mas não os ânions. Eles favorecem reações SN2.
<p> 
<p>A002-036: MeOH e H<sub>2</sub>O são solventes próticos que estabilizam os cátions e ânions. Eles favorecem reações SN2.
<p> 
<p>A002-037: Um processo E2 é um processo concertado.
<p> 
<p>A002-038: Os nucleófilos fracos, tais como: Cl<sup>-</sup>, Br<sup>-</sup>, I<sup>-</sup>, RS<sup>-</sup>, HS<sup>-</sup> e H<sub>2</sub>S, são compostos que contêm uma carga negativa e/ou são polarizáveis.
<p> 
<p>A002-039: Um processo E1 envolverá um rearranjo de carbocátion com os álcoois anteriores.
<p> 
<p>A002-040: Quando o DBN é protonado, a carga positiva resultante é estabilizada por ressonância. O ácido conjugado é estabilizado e, portanto, não é muito ácido. Como resultado, o DBN é fracamente básico.
<p> 
<p>A002-041: Haletos de metila e haletos de alquila primários reagem mais rapidamente, enquanto haletos de alquila terciários são essencialmente não reativos para SN2.
<p> 
<p>A002-042: (C), (A), (B), (D). Esta é a ordem crescente de estabilidade dos carbocátions anteriores.
<p> 
<p>A002-043: O segundo método é mais eficiente porque o haleto de alquila (iodeto de metila) não é estericamente impedido. O primeiro método não é eficiente porque emprega um haleto de alquila terciário, e as reações SN2 não ocorrem em substratos terciários.
<p> 
<p>A002-044: Em um mecanismo SN2, quando o grupo de saída é especificamente um haleto, a reação também é chamada de desidroalogenação.
<p> 
<p>A002-045: Em um processo de eliminação, uma base abstrai um próton beta, deixando o grupo abandonador sair simultaneamente.
<p> 
<p>A002-046: Bases fracas, tais como: H<sup>-</sup>, HO<sup>-</sup>, RO<sup>-</sup>, são compostos cujos ácidos conjugados não são muito ácidos
<p> 
<p>A002-047: Cl<sup>-</sup> (apenas nucleófilo) e substrato secundário em DMSO (solvente apolar aprótico) favorecem o processo SN2.
<p> 
<p>A002-048: HO- (nucleófilo e base forte) e substrato terciário favorecem do processo E2. Quando a base é estericamente impedida, o alceno mais substituído é o produto principal: produto Zaitsev.
<p> 
<p>A002-049: RO<sup>-</sup> (nucleófilo e base forte) e substrato terciário favorecem o processo E2. Quando tanto o substrato como a base são estericamente impedidos, o alceno menos substituído é o produto principal: produto de Hofmann.
<p> 
<p>A002-050: DBN (somente base) e substrato terciário favorecem do processo E1.
<p> 
<p>A002-051: Quando a posição alfa é um centro de quiralidade, a reação SN2 prossegue com a inversão da configuração. A preferência pelo ataque do lado de trás origina-se da necessidade de sobreposição construtiva dos orbitais.
<p> 
<p>A002-052: Em um processo de eliminação concertado, primeiro o grupo de saída sai e, em seguida, a base abstrai um próton.
<p> 
<p>A002-053: Quando o DBU é protonado, a carga positiva resultante é estabilizada por ressonância. O ácido conjugado não é estabilizado e, portanto, não é muito ácido. Como resultado, o DBU é fortemente básico.
<p> 
<p>A002-054: As velocidades dos processos SN2 e E2 são afetadas diferentemente pelo substrato. O processo E2 predomina quando o substrato é primário, enquanto o processo SN2 predomina quando o substrato é secundário. Para substratos terciários, apenas SN2 é observado.
<p> 
<p>A002-055: Uma transferência de prótons não é necessária no início de um mecanismo SN2 se o grupo de saída for um halogênio.
<p> 
<p>A002-056: Uma evidência para o mecanismo E2 concertado inclui a observação de uma equação de velocidade de primeira ordem.
<p> 
<p>A002-057: Todos os reagentes podem ser classificados em quatro categorias: (1) nucleófilos, (2) apenas bases, (3) nucleófilos fortes e bases fortes e (4) nucleófilos fracos e bases fracas.
<p> 
<p>A002-058: Os halogenetos primários reagem mais prontamente em E2.
<p> 
<p>A002-059: H<sup>-</sup>, DBN e DBU atuam apenas como bases.
<p> 
<p>A002-060: RO<sup>-</sup> e HO<sup>- </sup>atuam apenas como bases.
<p> 
<p>A002-061: Resultado regioquímico de E2: O produto de Zaitsev é geralmente favorecido sobre o produto de Hofmann, a menos que seja utilizada uma base estericamente impedida, caso em que o produto Hofmann será favorecido.
<p> 
<p>A002-062: Resultado regioquímico de E1: O produto Hofmann é sempre favorecido em relação ao produto Zaitsev.
<p> 
<p>A002-063: Em um mecanismo SN2, quando a posição alfa é um centro de quiralidade, a reação prossegue com a inversão da configuração. A preferência pelo ataque do lado de trás origina-se da necessidade de sobreposição construtiva dos orbitais.
<p> 
<p>A002-064: Uma transferência de prótons deve ocorrer no final de um mecanismo SN2 se o nucleófilo for carregado negativamente.
<p> 
<p>A002-065: A regioquímica é um problema nas reações de E2, que são consideradas regiosseletivas, porque o alceno mais substituído, chamado produto de Zaitsev, é geralmente o principal produto.
<p> 
<p>A002-066: Quando o substrato e a base estão estericamente impedidos, o alceno menos substituído, chamado produto de Zaitsev, é o principal produto.
<p> 
<p>A002-067: RO<sup>-</sup> e HO<sup>-</sup> podem atuar como nucleófilos fortes ou bases fortes.
<p> 
<p>A002-068: ROH et H<sub>2</sub>O somente podem atuar como nucleófilos fortes.
<p> 
<p>A002-069: As reações de E2 são estereoespecíficas, porque geralmente ocorrem através da conformação anti-perilanar, em vez da conformação syn-coplanar.
<p> 
<p>A002-070: Evidências para o mecanismo em etapas, chamado SN2, incluem a observação de uma equação de velocidade de primeira ordem. Estas reações são consideradas unimoleculares.
<p> 
<p>A002-071: Quando um substrato primário é tratado com um íon alcóxido (RO<sup>-</sup>), o mecanismo SN2 predomina sobre o E2. Há uma notável exceção para esta regra geral. Especificamente, <i>terc</i>-butóxido é estericamente impedido, e ele favorece E2 sobre SN2, mesmo quando o substrato for primário.
<p> 
<p>A002-072: As reações E2 são estereosseletivas, favorecendo alcenos cis em detrimento dos alcenos trans.
<p> 
<p>A002-073: Cicloexanos substituídos sofrem apenas reações E2 a partir da conformação da cadeira em que o grupo de saída e o próton ocupam posições axiais.
<p> 
<p>A002-074: Regioquímica e estereoquímica devem ser consideradas ao prever os produtos de uma reação E1.
<p> 
<p>A002-075: Existem quatro fatores que impactam a competição entre o mecanismo SN2 e SN1: (1) o substrato, (2) o nucleófilo, (3) o grupo abandonador e (4) o solvente.
<p> 
<p>A002-076: A previsão dos produtos das reações de substituição e eliminação requer duas etapas distintas: 1) Determinar a função do reagente. 2) Analisar o substrato e determine o(s) mecanismo(s) esperado(s).
<p> 
<p>A002-077: O primeiro composto reage mais rapidamente em uma reação E1 porque os haletos terciários são mais reativos que os haletos primários.
<p>A002-078: Embora ambos os haletos de alquila sejam secundários, o primeiro composto reagirá mais prontamente em uma reação E1 porque produzirá um carbocátion mais estável, o qual é estabilizado por ressonância.
<p> 
<p>A002-079: Considere a reação a seguir. A velocidade de um processo E2 depende da concentração do substrato. Portanto, a velocidade da reação será dobrada se a concentração do brometo de terc-butila for duplicada.
<p> 
<p>A002-080: Considere a reação a seguir. A velocidade de um processo E2 depende apenas da concentração do substrato. Portanto, a velocidade permanecerá a mesma se a concentração do etanol for duplicada.
<p> 
<p>A002-081: Os grupos abandonadores mais comuns são os íons haletos e sulfonatos. Dentre os íons sulfonato, o mais comum é o grupo mesilato.
<p> 
<p>A002-082: Uma evidência para o mecanismo E1 em etapas inclui a observação de uma equação de velocidade de segunda ordem.
<p> 
<p>A002-083: O composto B sofrerá uma reação E1 mais rapidamente porque um carbocátion alílico terciário é mais altamente estabilizado do que um carbocátion terciário.
<p> 
<p>A002-084: Os haletos terciários reagem mais prontamente através de um processo SN2, enquanto os haletos primários não são tão reativos frente a processos SN1.
<p> 
<p>A002-085: Uma reação E1 é geralmente acompanhada por uma reação SN1 competitiva, e uma mistura de produtos é geralmente obtida.
<p> 
<p>A002-086: O primeiro passo de um processo SN1 (saída do grupo abandonador) não é o passo determinante da velocidade da reação.
<p> 
<p>A002-087: O íon hidróxido é tanto um nucleófilo forte quanto uma base forte, e as reações bimoleculares (SN2 e E2) são favorecidas. Para haletos de alquila secundários, o produto de Zaitsev será formado quandod a base não é estericamente impedida.
<p> 
<p>A002-088: O íon <i>terc</i>-butóxido é tanto um nucleófilo forte quanto uma base forte, e as reações bimoleculares (SN2 e E2) são favorecidas. Para haletos de alquila secundários, o produto de Zaitsev será formado porque a base é estericamente impedida.
<p> 
<p>A002-089: Sob essas condições, as reações unimoleculares (SN1 e E1) são favorecidas, mas sob temperaturas altas favorece a E1.
<p> 
<p>A002-090: Sob essas condições, as reações bimoleculares (SN2 e E2) são favorecidas, mas sob altas temperaturas, E2 é favorecida.
<p> 
<p>A002-091: O intermediário de carbocátion pode ser atacado de qualquer lado, levando à inversão de configuração ou à retenção de configuração. Geralmente, há uma ligeira preferência pelo produto de inversão devido à formação de pares iônicos.
<p> 
<p>A002-092: Nesta reação E1, a posição β tem dois prótons. Portanto, nós esperamos que a reação seja estereosseletiva. Ou seja, esperamos os isômeros cis e trans, com preferência pelo trans.
<p> 
<p>A002-093: Nós esperamos apenas um produto estereoisomérico nesta reação. Para obter a conformação apropriada, gire a ligação simples C-C de modo que o átomo do próton e do bromo seja anti-periplanar. Nesse caso, o produto obtido é o isômero Z.
<p> 
<p>A002-094: Esperamos apenas um produto estereoisomérico particular. Nesta conformação, o próton e átomo de bromo estão syn-periplanares. Portanto, o produto é o isômero E.
<p> 
<p>A002-095: Resultado regioquímico de SN1: O nucleófilo ataca o carbocátion, que é onde o grupo de saída estava originalmente conectado, a menos que um rearranjo de carbocátion tenha ocorrido.
<p> 
<p>A002-096: Resultado regioquímico de SN2: O nucleófilo ataca o carbocátion, que é onde o grupo de saída estava originalmente conectado, a menos que um rearranjo de carbocátion tenha ocorrido.
<p> 
<p>A002-097: A eliminação de água para formar um alceno é chamada de reação de desidratação.
<p> 
<p>A002-098: As reações E1 exibem uma preferência regioquímica para o produto de Hofmann.
<p> 
<p>A002-099: Os solventes polares apróticos favorecem o mecanismo SN2, enquanto os solventes próticos polares favorecem o mecanismo SN1.
<p> 
<p> A002-100: As reações E1 são estereoespecíficas.
<p> 
<p> 
<p> 