<p> 
<p>AVENGERS DECK 2 &gt; 
<p>A002-001: Les réactions de substitution permettent l’échange d’un groupement fonctionnel par un autre. L'électrophile est appelé le substrat, et il doit contenir un groupement partant.
 
<p>A002-002:RO- (nucléophile fort et base) et un substrat primaire favorisent un processus SN2. Cependant, lorsque la base est stériquement encombrée, un processus E2 est favorisé.
 
<p>A002-003:NaSH (nucléophile seulement) et un substrat primaire favorisent un processus SN2.
 
<p>A002-004:Au cours d'un processus E2, un réarrangement de carbocation se produit s'il conduit à un carbocation plus stable.
 
<p>A002-005:Un transfert de protons est nécessaire au début d'un mécanisme SN1 si le groupe partant est un ion halogénure.
 
<p>A002-006: H<sub>2</sub>S est un nucléophile plus fort que HS<sup>-</sup> car l'atome de soufre porte une charge négative.
 
<p>A002-007: L'ion méthanolate est un nucléophile plus fort lorsqu'il est dissous dans le DMSO que lorsqu'il est dissous dans le méthanol car le DMSO est un solvant aprotique polaire qui stabilise les cations, mais pas les anions.
 
<p>A002-008: Lors d'un processus E1, si le substrat est un alcool, il faut un acide faible pour protoner le groupement OH.
 
<p>A002-009: Conséquence stéréochimique d’une SN1: le nucléophile remplace le groupement partant avec racémisation.
 
<p>A002-010: Conséquence stéréochimique d’une SN1: Le nucléophile remplace le groupement partant avec inversion de configuration.
 
<p>A002-011: Dans un processus concerté, l'attaque nucléophile et la perte du groupement partant se produisent simultanément.
 
<p>A002-012: HO<sup>-</sup> (nucléophile fort et base) et un substrat primaire favorisent un processus SN1.
 
<p>A002-013: RO<sup>-</sup> (nucléophile fort et base) et un substrat primaire favorisent un processus E2.
 
<p>A002-014: L'EtOH (nucléophile faible et base) et un substrat tertiaire favorisent un processus E1 : c’est une solvolyse (sous basses temperatures)..
 
<p>A002-015: Le composé (A) réagit plus rapidement que (B) selon une réaction SN2.
 
<p>A002-016: Le composé (B) réagit plus rapidement que (A) selon une réaction SN2.
 
 
<p>A002-017: Le composé (A) réagit plus rapidement que (B) selon une réaction SN2.
 
<p>A002-018: Un transfert de protons est nécessaire au début d'un mécanisme SN1 quand le groupement partant est un groupement OH.
 
<p>A002-019: Conséquence stéréochimique d’une E2: ce processus est stéréosélectif mais non stéréospécifique. Le plus souvent, un alcène disubstitué <i>E</i> sera préféré à un alcène disubstitué <i>Z</i>. Lorsque la position β du substrat ne comporte qu'un seul proton, l'alcène stéréoisomère résultant de l'élimination antipériplanaire sera obtenu (exclusivement, dans la plupart des cas).
<p> 
<p>A002-020: Conséquence stéréochimique d’une E1: le processus est stéréosélectif. Le cas échéant, un alcène disubstitué <i>Z</i> sera obtenu préférentiellement à un alcène disubstitué <i>E</i>.
<p> 
<p>A002-021: Dans un processus par étapes, le groupement partant est éliminé en premier, suivi de l’attaque du nucléophile.
 
<p>A002-022: HO<sup>-</sup> (nucléophile fort et base) et un substrat secondaire favorisent un processus E2. Lorsque la base n'est pas encombrée stériquement, l'alcène le plus substitué est le produit majoritaire: on parle de produit d’Hofmann.
 
<p>A002-023: HO<sup>- </sup>(nucléophile fort et base) et un substrat secondaire favorisent un processus E2. Lorsque la base n'est pas stériquement encombrée, l'alcène le plus substitué est le produit majoritaire: on parle de produit de Zaitsev.
 
<p>A002-024: Un transfert de protons est nécessaire à la fin d'un mécanisme SN1 si le nucléophile est chargé négativement.
 
<p>A002-025: Le composé (A) réagit plus rapidement que (B) selon une réaction SN1.
 
<p>A002-026: Le composé (B) réagit plus rapidement que (A) selon une réaction SN2.
 
<p>A002-027: La vitesse de la réaction ci-dessus ne sera pas doublée si la concentration en halogénure d'alkyle est doublée.
 
<p>A002-028: La vitesse de la réaction ci-dessus ne sera pas doublée si la concentration en cyanure est doublée.
<p> 
<p>A002-029: La vitesse de la réaction ci-dessus sera doublée si la concentration en l'alcool est doublée.
<p> 
<p>A002-030: La vitesse de la réaction ci-dessus sera doublée si la concentration en HBr est doublée.
<p> 
<p>A002-031: Les éléments justifiant un mécanisme concerté de type SN2, impliquent l'observation d'une équation cinétique du second ordre. Le processus SN2 est dit bimoléculaire.
<p>A002-032: RO<sup>-</sup> (nucléophile fort et base) et un substrat secondaire favorisent un processus E2. Lorsque la base n'est pas stériquement encombrée, l'alcène le plus substitué est le produit principal : on parle de produit de Hofmann.
 
<p>A002-033: RO<sup>-</sup> (nucléophile fort et base) et un substrat secondaire favorisent un processus E2. Le produit de Zaitsev n'est pas formé parce que la position β porte un proton qui n’est pas en position anti-périplanaire avec le groupement partant.
 
<p>A002-034: Lorsque le solvant agit comme un nucléophile, la réaction s'appelle une réaction de solvolyse.
 
<p>A002-035: Le DMF et le DMSO sont des solvants aprotiques qui stabilisent les cations mais pas les anions. Ils favorisent le processus SN1.
 
<p>A002-036: MeOH et H<sub>2</sub>O sont des solvants protiques qui stabilisent les cations et les anions. Ils favorisent le processus SN2.
 
<p>A002-037: Un processus E2 ne comprend qu'une seule étape concertée.
 
<p>A002-038: Les nucléophiles forts tels que: Cl<sup>-</sup>, Br<sup>-</sup>, I<sup>-</sup>, RS<sup>-</sup>, HS<sup>-</sup> et H<sub>2</sub>S sont des composés qui contiennent une charge négative et/ou sont polarisables.
 
<p>A002-039: Un processus E2 implique un réarrangement de carbocation avec les alcools précédents.
 
<p>A002-040: Lorsque DBN est protoné, la charge positive résultante est stabilisée par résonance. L'acide conjugué est stabilisé et n'est donc pas très acide. En conséquence, DBN est faiblement basique.
<p> 
<p>A002-041: Les halogénures de méthyle et les halogénures d'alkyle primaires réagissent plus rapidement, tandis que les halogénures d'alkyle tertiaires sont de manière générale non réactifs selon une SN2.
<p> 
<p>A002-042: (C) < (A) < (B) < (D) C'est l'ordre croissant de stabilité des carbocations précédents.
<p> 
<p>A002-043: La seconde méthode est plus efficace car l'halogénure d'alkyle (iodure de méthyle) n'est pas stériquement encombré. La première méthode n'est pas efficace car elle met en jeu un halogénure d'alkyle tertiaire, et les réactions SN2 ne se produisent pas sur des substrats tertiaires.
 
<p>A002-044: Lorsque le groupement partant est un halogénure, la réaction est également appelée déshydrohalogénation.
 
<p>A002-045: Dans un processus d'élimination concertée, une base arrache un proton en position et le groupement partant est éliminé simultanément.
 
<p>A002-046: Les bases faibles telles que: H<sup>-</sup>, HO<sup>-</sup>, et RO<sup>-</sup> sont des composés dont les acides conjugués ne sont pas très acides.
<p> 
<p>A002-047: Cl<sup>-</sup> (nucléophile seulement) et un substrat secondaire dans le DMSO (solvant polaire aprotique) favorisent un processus SN2.
 
<p>A002-048: HO<sup>-</sup> (nucléophile et base forte) et un substrat tertiaire favorisent un processus E2. Lorsque la base n'est pas encombrée stériquement, l'alcène le plus substitué est le produit principal : c’est le produit de Zaitsev.
 
<p>A002-049: RO<sup>-</sup> (nucléophile fort et base) et un substrat tertiaire favorise un processus E2. Lorsque le substrat et la base sont tous deux encombrée stériquement, l'alcène le moins substitué est le produit principal : c’est le produit de Hofmann.
 
<p>A002-050: DBN (base seule) et un substrat tertiaire favorisent un processus E1.
 
<p>A002-051: Lorsque la position est un centre de chiralité, la réaction procède avec inversion de la configuration. La préférence pour l'attaque par la face l'arrière découle de la nécessité d'un chevauchement effectif des orbitales.
 
<p>A002-052: Dans un processus d'élimination par étapes, on a d'abord départ du groupement partant, puis arrachement d’un proton par la base.
 
<p>A002-053: Lorsque le DBU est protoné, la charge positive résultante est stabilisée par résonance. L'acide conjugué n'est pas stabilisé et n'est donc pas très acide. En conséquence, le DBU est fortement basique.
<p> 
<p>A002-054: Les taux de réactions des processus SN2 et E2 sont impactés différemment selon la nature du substrat. Le processus SN2 prédomine lorsque le substrat est primaire, tandis que le processus E2 prédomine lorsqu’il est secondaire. Pour les substrats tertiaires, seule la SN2 est observée.
 
<p>A002-055: Un transfert de protons est nécessaire au début d'un mécanisme SN2 si le groupement partant est un atome d'halogène.
 
<p>A002-056: Une équation de vitesse du premier ordre est une caractéristique d’un mécanisme concerté E2.
 
<p>A002-057: Tous les réactifs peuvent être classés selon quatre catégories : (1) seulement nucléophiles, (2) seulement bases, (3) nucléophiles forts et bases fortes, et (4) nucléophiles faibles et bases faibles.
 
<p>A002-058: Les halogénures primaires réagissent plus facilement selon une E2.
 
<p>A002-059: H<sup>-</sup>, DBN et DBU agissent uniquement en tant que bases.
 
<p>A002-060: RO<sup>-</sup> et HO<sup>-</sup> agissent uniquement en tant que bases.
 
<p>A002-061: Conséquence régiochimique d’une E2: Le produit de Zaitsev est généralement obtenu préférentiellement au produit de Hofmann, à moins qu'une base stériquement encombrée ne soit utilisée, auquel cas le produit de Hofmann sera obtenu préférentiellement.
 
<p>A002-062: Conséquence régiochimique d’une E1: Le produit d’Hofmann est toujours obtenu préférentiellement au produit de Zaitsev.
 
<p>A002-063: Lorsque la position est un centre de chiralité, la réaction se déroule avec une inversion de la configuration. La préférence pour l'attaque par la face arrière découle de la nécessité d'un chevauchement effectif des orbitales.
 
<p>A002-064: Un transfert de protons doit avoir lieu à la fin d'un mécanisme SN2 si le nucléophile est chargé négativement.
 
<p>A002-065: La régiochimie est un des éléments essentiels des réactions E2, qui sont dites régiosélectives car l'alcène le plus substitué, appelé produit de Zaitsev, est généralement le produit majoritaire.
 
<p>A002-066: Lorsque le substrat et la base sont encombrés stériquement, l'alcène le moins substitué, appelé produit de Zaitsev, est le produit majoritaire.
 
<p>A002-067: RO<sup>-</sup> et HO<sup>-</sup> agissent uniquement en tant que nucléophiles forts.
 
<p>A002-068: ROH et H<sub>2</sub>O agissent comme nucléophiles forts.
 
<p>A002-069: Les réactions E2 sont stéréospécifiques, car elles se produisent généralement dans une conformation anti-coplanaire, plutôt que dans une conformation <i>syn</i>-coplanaire.
 
<p>A002-070: Une caractéristique du mécanisme par étape, appelé SN2, suppose l'observation d'une équation de vitesse du premier ordre. Ces réactions sont dites unimoléculaires.
 
<p>A002-071: Lorsqu'un substrat primaire est traité avec un ion alcoolate (RO-), la voie SN2 prédomine sur la voie E2. Il y a une exception notable à cette règle générale. Typiquement, le tert-butylate est un alcoolate encombré stériquement, et il favorise une E2 par rapport à une SN2, même lorsque le substrat est primaire.
 
<p>A002-072: Les réactions E2 sont également stéréosélectives, favorisant les alcènes disubstitués <i>Z</i> par rapport aux alcènes disubstitués <i>E</i>.
<p> 
<p>A002-073: Les cyclohexanes substitués ne subissent des réactions E2 qu’à partir de la conformation chaise dans laquelle le groupement partant et le proton occupent tous deux des positions axiales.
 
<p>A002-074: La régiochimie et la stéréochimie doivent être prises en compte lors de la prédiction des produits d'une réaction E2.
 
<p>A002-075: Quatre facteurs ont une influence sur la compétition entre le mécanisme SN2 et SN1: (1) le substrat, (2) le nucléophile, (3) le groupement partant, et (4) le solvant.
<p>A002-076: La prédiction des produits des réactions de substitution et d'élimination nécessite trois étapes distinctes :
<p>1) Déterminer la fonction du réactif. 2) Analyser le substrat et déterminer le ou les mécanismes attendus. 3) Tenir compte de toutes les exigences régiochimique et stéréochimique pertinentes.
<p> 
<p>A002-077: Le premier composé réagit plus rapidement selon une réaction E1 parce que les halogénures tertiaires sont plus réactifs que les halogénures primaires.
<p> 
<p>A002-078: Bien que les deux halogénures d'alkyle soient secondaires, le premier composé réagira plus facilement selon une réaction E1 car il produira un carbocation plus stable qui sera stabilisé par résonance.
<p> 
<p>A002-079: Considérez la réaction précédente. La vitesse d'un processus E1 dépend uniquement de la concentration du substrat. Par conséquent, la vitesse de réaction sera doublée si la concentration en bromure de tert-butyle est doublée.
<p> 
<p>A002-080: Considérez la réaction précédente. La vitesse d'un processus E2 dépend uniquement de la concentration du substrat. Par conséquent, la vitesse de réaction restera la même si la concentration en éthanol est doublée.
<p> 
<p>A002-081: Les groupements partants les plus courants sont les ions halogénures et les sulfonates. Parmi les ions sulfonates, le plus courant est le groupement mésylate.
 
<p>A002-082: L’observation d'une équation cinétique du premier ordre est une des caractéristiques d’un mécanisme par étape de type E1.
 
<p>A002-083: Le composé B subit une réaction E1 plus rapidement parce qu'un carbocation allylique tertiaire est plus fortement stabilisé qu'un carbocation tertiaire.
 
<p>A002-084: Les halogénures tertiaires réagissent plus facilement selon un processus SN2 tandis que les halogénures primaires ne réagissent pas selon une SN1.
 
<p>A002-085: Une réaction E1 est généralement accompagnée d'une réaction SN1 concurrente, et un mélange de produits est généralement obtenu.
 
<p>A002-086: La première étape d'un processus SN1 (perte du groupement partant) est l'étape cinétique déterminante de la réaction.
 
<p>A002-087:L'ion hydroxyde est à la fois un nucléophile fort et une base forte, favorisant les réactions bimoléculaires (SN2 et E2). Pour les halogénures d'alkyle secondaires, le produit de Zaitsev sera formé parce que la base n'est pas encombrée stériquement.
<p> 
<p>A002-088: L'ion tert-butylate est à la fois un nucléophile fort et une base forte, les réactions bimoléculaires (SN2 et E2) sont privilégiées. Pour les halogénures d'alkyle secondaires, le produit d’Hofmann sera formé parce que la base est encombrée stériquement.
<p> 
<p>A002-089: Dans ces conditions, les réactions bimoléculaires (SN1 et E1) sont favorisées mais une température élevée favorise la E1.
<p> 
<p>A002-090: Dans ces conditions, les réactions bimoléculaires (SN2 et E2) sont favorisées mais une température élevée favorise la E2.
<p> 
<p>A002-091: L'intermédiaire carbocation peut être attaqué d'un côté ou de l'autre, ce qui entraîne une inversion ou une rétention de la configuration. Il y a habituellement une légère préférence pour le produit d'inversion en raison de la formation de paires d'ions.
 
<p>A002-092: Dans ce processus E1, la position β possède deux protons. Par conséquent, nous pouvons nous attendre à ce que la réaction soit stéréosélective. Autrement dit, nous nous attendons aux isomères cis et trans, avec une préférence pour les isomères trans.
 
<p>A002-093: Nous n'attendons qu'un seul produit stéréoisomère. Afin d'obtenir la conformation appropriée, tourner la liaison simple C-C de sorte que le proton et l'atome de brome soient en position anti-périplanaires. Dans ce cas, le produit formé est l'isomère <i>Z</i>.
 
<p>A002-094: Nous n'attendons qu'un seul produit stéréoisomère. Dans cette conformation, le proton et l'atome de brome sont en position anti-périplanaires. Par conséquent, le produit formé est l'isomère <i>E</i>.
 
<p>A002-095: Conséquence régiochimique d’une SN1: Le nucléophile attaque la position α, sur laquelle le groupement partant était branché.
 
<p>A002-096: Conséquence régiochimique d’une SN2: Le nucléophile attaque le carbocation, positionné à l’emplacement où le groupement partant était initialement connecté, à moins qu'un réarrangement du carbocation ait eu lieu.
 
<p>A002-097: L'élimination d’eau pour former un alcène est appelée réaction de déshydratation.
 
<p>A002-098: Les réactions de types E1 présentent une préférence régiochimique pour le produit de Zaitsev.
<p> 
<p>As reações E1 exibem uma preferência regioquímica para o produto de Hofmann.
<p> 
<p>A002-099: Les solvants aprotiques polaires favorisent la SN2, tandis que les solvants protiques polaires favorisent la SN1.
<p> 
<p>A002-100: Les réactions E1 sont stéréospécifiques.
<p> 
<p> 
<p>O dia dos tolos de abril está chegando. Aperte seus amigos abrindo um tela de atualização falsa sem fim no seu computador. Sente-se e assista a sua reação.
<p>Conteúdo da Web composto com o conectado HTML on-line wysiwyg gratuito. Assine uma assinatura para remover mensagens promocionais dos documentos editados.